.dxPivotGrid_pgCollapsedButton_Glass,
.dxPivotGrid_pgExpandedButton_Glass,
.dxPivotGrid_pgSortDownButton_Glass,
.dxPivotGrid_pgSortUpButton_Glass,
.dxPivotGrid_pgFilterResizer_Glass,
.dxPivotGrid_pgFilterButton_Glass,
.dxPivotGrid_pgFilterButtonActive_Glass,
.dxPivotGrid_pgCustomizationFormCloseButton_Glass,
.dxPivotGrid_pgDragArrowDown_Glass,
.dxPivotGrid_pgDragArrowUp_Glass,
.dxPivotGrid_pgDragHideField_Glass,
.dxPivotGrid_pgDataHeaders_Glass,
.dxPivotGrid_pgGroupSeparator_Glass,
.dxPivotGrid_pgSortByColumn_Glass,
.dxPivotGrid_pgPrefilterButton_Glass {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_Glass {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgExpandedButton_Glass {
    background-position: 0px -18px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgSortDownButton_Glass {
    background-position: -36px 0px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgSortUpButton_Glass {
    background-position: -36px -18px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgFilterResizer_Glass {
    background-position: -69px -37px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgFilterButton_Glass {
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButtonActive_Glass {
    background-position: -23px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_Glass {
    background-position: -46px -39px;
    width: 17px;
    height: 17px;
}

.dxPivotGrid_pgDragArrowDown_Glass {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_Glass {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_Glass {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_Glass {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_Glass {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_Glass {
    background-position: -53px 0px;
    width: 17px;
    height: 10px;
}

.dxPivotGrid_pgPrefilterButton_Glass {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_FLButton_Glass,
.dxPivotGrid_FLStackedDefault_Glass,
.dxPivotGrid_FLStackedSideBySide_Glass,
.dxPivotGrid_FLTopPanelOnly_Glass,
.dxPivotGrid_FLBottomPanelOnly2by2_Glass,
.dxPivotGrid_FLBottomPanelOnly1by4_Glass,
.dxPivotGrid_FLFieldList_Glass,
.dxPivotGrid_FLFilterAreaHeaders_Glass,
.dxPivotGrid_FLColumnAreaHeaders_Glass,
.dxPivotGrid_FLRowAreaHeaders_Glass,
.dxPivotGrid_FLDataAreaHeaders_Glass,
.dxPivotGrid_pgDragArrowLeft_Glass,
.dxPivotGrid_pgDragArrowRight_Glass
 {
    background-image: url('FLsprite.png');
    -background-image: url('FLsprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent; 
}
.dxpgFLTextDiv_Glass img.dxPivotGrid_FLFilterAreaHeaders_Glass,
.dxpgFLTextDiv_Glass img.dxPivotGrid_FLColumnAreaHeaders_Glass,
.dxpgFLTextDiv_Glass img.dxPivotGrid_FLRowAreaHeaders_Glass,
.dxpgFLTextDiv_Glass img.dxPivotGrid_FLDataAreaHeaders_Glass,
.dxpgFLTextDiv_Glass img.dxPivotGrid_FLFieldList_Glass
{
    height:16px;
    width:16px;
}
.dxPivotGrid_FLButton_Glass
{
    display:block;
    height:16px;
    width:16px
}
.dxPivotGrid_FLStackedDefault_Glass,
.dxPivotGrid_FLStackedSideBySide_Glass,
.dxPivotGrid_FLTopPanelOnly_Glass,
.dxPivotGrid_FLBottomPanelOnly2by2_Glass,
.dxPivotGrid_FLBottomPanelOnly1by4_Glass
{
    height:32px;
    width:32px;
}
.dxPivotGrid_pgDragArrowLeft_Glass,
.dxPivotGrid_pgDragArrowRight_Glass
{
    height:11px;
    width:9px;
}
.dxPivotGrid_pgDragArrowLeft_Glass
{
  background-position: -96px -11px; 
}
.dxPivotGrid_pgDragArrowRight_Glass
{
 background-position: -96px -0px; 
}
.dxPivotGrid_FLButton_Glass
{
    background-position: -96px -32px;
}
.dxPivotGrid_FLStackedDefault_Glass
{
    background-position: -32px 0px;
}
.dxPivotGrid_FLStackedSideBySide_Glass
{
    background-position: 0px -32px;
}
.dxPivotGrid_FLTopPanelOnly_Glass
{
    background-position: 0px 0px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_Glass
{
    background-position: -32px -32px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_Glass
{
    background-position: -64px 0px;
}
.dxPivotGrid_FLFieldList_Glass
{
    background-position: -64px -32px;
}
.dxPivotGrid_FLFilterAreaHeaders_Glass
{
    background-position: -80px -48px;
}
.dxPivotGrid_FLColumnAreaHeaders_Glass
{
    background-position: -64px -48px;
}
.dxPivotGrid_FLRowAreaHeaders_Glass
{
    background-position: -96px -48px;
}
.dxPivotGrid_FLDataAreaHeaders_Glass
{
    background-position: -80px -32px;
}

.dxPivotGrid_CTNMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNCalculatedMeasure {
    background-image: url('CustomizationTreeNodeImages.png');
    -background-image: url('CustomizationTreeNodeImages.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    width: 16px;
}
.dxPivotGrid_CTNMeasure {
    background-position: 0px 0px;
}
.dxPivotGrid_CTNDimension {
    background-position: -21px 0px;
}
.dxPivotGrid_CTNAttribute {
    background-position: -42px 0px;
}
.dxPivotGrid_CTNHierarchy {
    background-position: -63px 0px;
}
.dxPivotGrid_CTNKpi {
    background-position: -84px 0px;
}
.dxPivotGrid_CTNFolderClosed {
    background-position: 0px -23px;
}
.dxPivotGrid_CTNFolderOpen {
    background-position: -21px -23px;
}
.dxPivotGrid_CTNCalculatedMeasure {
    background-position: -42px -23px;
}
