.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igCloseButton_BudwayThemeFromMulberry,
.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igPauseButton_BudwayThemeFromMulberry,
.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igPlayButton_BudwayThemeFromMulberry,
.dxpc-closeBtnHover .dxWeb_pcCloseButton_BudwayThemeFromMulberry,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_BudwayThemeFromMulberry,
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_BudwayThemeFromMulberry,
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_BudwayThemeFromMulberry,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry,
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry,
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_BudwayThemeFromMulberry,
.dxpc-pinBtnHover .dxWeb_pcPinButton_BudwayThemeFromMulberry,
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_BudwayThemeFromMulberry,
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_BudwayThemeFromMulberry,
.dxpnl-btnPressed .dxWeb_pnlExpand_BudwayThemeFromMulberry,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry,
.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry,
.dxpnl-btnSelected .dxWeb_pnlExpand_BudwayThemeFromMulberry,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry,
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_BudwayThemeFromMulberry,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry,
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry,
.dxrpCollapsed .dxWeb_rpCollapseButton_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxChecked_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxCheckedDisabled_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxGrayed_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxGrayedDisabled_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxUnchecked_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxUncheckedDisabled_BudwayThemeFromMulberry,
.dxWeb_fmBreadCrumbsSeparatorArrow_BudwayThemeFromMulberry,
.dxWeb_fmBreadCrumbsUpButton_BudwayThemeFromMulberry,
.dxWeb_fmBreadCrumbsUpButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmCopyButton_BudwayThemeFromMulberry,
.dxWeb_fmCopyButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmCreateButton_BudwayThemeFromMulberry,
.dxWeb_fmCreateButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmDeleteButton_BudwayThemeFromMulberry,
.dxWeb_fmDeleteButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmDwnlButton_BudwayThemeFromMulberry,
.dxWeb_fmDwnlButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmFolder_BudwayThemeFromMulberry,
.dxWeb_fmFolderLocked_BudwayThemeFromMulberry,
.dxWeb_fmMoveButton_BudwayThemeFromMulberry,
.dxWeb_fmMoveButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmRefreshButton_BudwayThemeFromMulberry,
.dxWeb_fmRefreshButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmRenameButton_BudwayThemeFromMulberry,
.dxWeb_fmRenameButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmThumbnailCheck_BudwayThemeFromMulberry,
.dxWeb_fmUplButton_BudwayThemeFromMulberry,
.dxWeb_fmUplButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_igCloseButton_BudwayThemeFromMulberry,
.dxWeb_igNavigationBarMarker_BudwayThemeFromMulberry,
.dxWeb_igNextButton_BudwayThemeFromMulberry,
.dxWeb_igNextButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_igNextButtonHover_BudwayThemeFromMulberry,
.dxWeb_igNextButtonPressed_BudwayThemeFromMulberry,
.dxWeb_igPauseButton_BudwayThemeFromMulberry,
.dxWeb_igPlayButton_BudwayThemeFromMulberry,
.dxWeb_igPrevButton_BudwayThemeFromMulberry,
.dxWeb_igPrevButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_igPrevButtonHover_BudwayThemeFromMulberry,
.dxWeb_igPrevButtonPressed_BudwayThemeFromMulberry,
.dxWeb_isDot_BudwayThemeFromMulberry,
.dxWeb_isDotDisabled_BudwayThemeFromMulberry,
.dxWeb_isDotPressed_BudwayThemeFromMulberry,
.dxWeb_isDotSelected_BudwayThemeFromMulberry,
.dxWeb_isNextBtnHor_BudwayThemeFromMulberry,
.dxWeb_isNextBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextBtnVert_BudwayThemeFromMulberry,
.dxWeb_isNextBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHor_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorOutside_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVert_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertOutside_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isPauseBtn_BudwayThemeFromMulberry,
.dxWeb_isPlayBtn_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnHor_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnVert_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHor_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorOutside_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVert_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertOutside_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_izEWCloseButton_BudwayThemeFromMulberry,
.dxWeb_izHint_BudwayThemeFromMulberry,
.dxWeb_mAdaptiveMenu_BudwayThemeFromMulberry,
.dxWeb_mHorizontalPopOut_BudwayThemeFromMulberry,
.dxWeb_mScrollDown_BudwayThemeFromMulberry,
.dxWeb_mScrollUp_BudwayThemeFromMulberry,
.dxWeb_mSubMenuItem_BudwayThemeFromMulberry,
.dxWeb_mSubMenuItemChecked_BudwayThemeFromMulberry,
.dxWeb_mVerticalPopOut_BudwayThemeFromMulberry,
.dxWeb_mVerticalPopOutRtl_BudwayThemeFromMulberry,
.dxWeb_nbCollapse_BudwayThemeFromMulberry,
.dxWeb_nbExpand_BudwayThemeFromMulberry,
.dxWeb_pAll_BudwayThemeFromMulberry,
.dxWeb_pAllDisabled_BudwayThemeFromMulberry,
.dxWeb_pcCloseButton_BudwayThemeFromMulberry,
.dxWeb_pcCollapseButton_BudwayThemeFromMulberry,
.dxWeb_pcMaximizeButton_BudwayThemeFromMulberry,
.dxWeb_pcPinButton_BudwayThemeFromMulberry,
.dxWeb_pcRefreshButton_BudwayThemeFromMulberry,
.dxWeb_pcSizeGrip_BudwayThemeFromMulberry,
.dxWeb_pcSizeGripRtl_BudwayThemeFromMulberry,
.dxWeb_pFirst_BudwayThemeFromMulberry,
.dxWeb_pFirstDisabled_BudwayThemeFromMulberry,
.dxWeb_pLast_BudwayThemeFromMulberry,
.dxWeb_pLastDisabled_BudwayThemeFromMulberry,
.dxWeb_pNext_BudwayThemeFromMulberry,
.dxWeb_pNextDisabled_BudwayThemeFromMulberry,
.dxWeb_pnlExpand_BudwayThemeFromMulberry,
.dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry,
.dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry,
.dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry,
.dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry,
.dxWeb_pPopOut_BudwayThemeFromMulberry,
.dxWeb_pPopOutDisabled_BudwayThemeFromMulberry,
.dxWeb_pPrev_BudwayThemeFromMulberry,
.dxWeb_pPrevDisabled_BudwayThemeFromMulberry,
.dxWeb_rDialogBoxLauncher_BudwayThemeFromMulberry,
.dxWeb_rDialogBoxLauncherDisabled_BudwayThemeFromMulberry,
.dxWeb_rDialogBoxLauncherHover_BudwayThemeFromMulberry,
.dxWeb_rDialogBoxLauncherPressed_BudwayThemeFromMulberry,
.dxWeb_rGlrDown_BudwayThemeFromMulberry,
.dxWeb_rGlrDownDisabled_BudwayThemeFromMulberry,
.dxWeb_rGlrPopOut_BudwayThemeFromMulberry,
.dxWeb_rGlrPopOutDisabled_BudwayThemeFromMulberry,
.dxWeb_rGlrUp_BudwayThemeFromMulberry,
.dxWeb_rGlrUpDisabled_BudwayThemeFromMulberry,
.dxWeb_rMinBtn_BudwayThemeFromMulberry,
.dxWeb_rMinBtnChecked_BudwayThemeFromMulberry.dxWeb_rMinBtn_BudwayThemeFromMulberry,
.dxWeb_rMinBtnChecked_BudwayThemeFromMulberry.dxWeb_rMinBtnDisabled_BudwayThemeFromMulberry,
.dxWeb_rMinBtnDisabled_BudwayThemeFromMulberry,
.dxWeb_rpCollapseButton_BudwayThemeFromMulberry,
.dxWeb_rPopOut_BudwayThemeFromMulberry,
.dxWeb_splHCollapseBackwardButton_BudwayThemeFromMulberry,
.dxWeb_splHCollapseBackwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splHCollapseForwardButton_BudwayThemeFromMulberry,
.dxWeb_splHCollapseForwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splHSeparator_BudwayThemeFromMulberry,
.dxWeb_splHSeparatorHover_BudwayThemeFromMulberry,
.dxWeb_splVCollapseBackwardButton_BudwayThemeFromMulberry,
.dxWeb_splVCollapseBackwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splVCollapseForwardButton_BudwayThemeFromMulberry,
.dxWeb_splVCollapseForwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splVSeparator_BudwayThemeFromMulberry,
.dxWeb_splVSeparatorHover_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeft_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeftDisabled_BudwayThemeFromMulberry,
.dxWeb_tcScrollRight_BudwayThemeFromMulberry,
.dxWeb_tcScrollRightDisabled_BudwayThemeFromMulberry,
.dxWeb_tiBackToTop_BudwayThemeFromMulberry,
.dxWeb_tvColBtn_BudwayThemeFromMulberry,
.dxWeb_tvColBtnRtl_BudwayThemeFromMulberry,
.dxWeb_tvExpBtn_BudwayThemeFromMulberry,
.dxWeb_tvExpBtnRtl_BudwayThemeFromMulberry,
.dxWeb_ucClearButton_BudwayThemeFromMulberry,
.dxWeb_ucClearButtonDisabled_BudwayThemeFromMulberry
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igCloseButton_BudwayThemeFromMulberry
{
    background-position: -204px -108px;
    width: 23px;
    height: 23px;
}
.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igPauseButton_BudwayThemeFromMulberry
{
    background-position: 0px -300px;
    width: 21px;
    height: 25px;
}
.dxigControl_BudwayThemeFromMulberry.dxTouchUI .dxWeb_igPlayButton_BudwayThemeFromMulberry
{
    background-position: -210px -258px;
    width: 21px;
    height: 25px;
}
.dxpc-closeBtnHover .dxWeb_pcCloseButton_BudwayThemeFromMulberry
{
    background-position: -100px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_BudwayThemeFromMulberry
{
    background-position: 0px -389px;
    width: 19px;
    height: 19px;
}
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_BudwayThemeFromMulberry
{
    background-position: -140px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_BudwayThemeFromMulberry
{
    background-position: -200px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry
{
    background-position: -80px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry
{
    background-position: -20px -389px;
    width: 19px;
    height: 19px;
}
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_BudwayThemeFromMulberry
{
    background-position: -220px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_BudwayThemeFromMulberry
{
    background-position: -120px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-pinBtnHover .dxWeb_pcPinButton_BudwayThemeFromMulberry
{
    background-position: -20px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_BudwayThemeFromMulberry
{
    background-position: 0px -369px;
    width: 19px;
    height: 19px;
}
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_BudwayThemeFromMulberry
{
    background-position: -40px -389px;
    width: 19px;
    height: 19px;
}
.dxpnl-btnPressed .dxWeb_pnlExpand_BudwayThemeFromMulberry
{
    background-position: -168px -174px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry
{
    background-position: -42px -216px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry
{
    background-position: -126px -174px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry
{
    background-position: -180px -66px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry
{
    background-position: 0px -258px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected .dxWeb_pnlExpand_BudwayThemeFromMulberry
{
    background-position: -42px -174px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry
{
    background-position: -126px -132px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry
{
    background-position: 0px -174px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry
{
    background-position: 0px -132px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry
{
    background-position: -84px -132px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand_BudwayThemeFromMulberry
{
    background-position: -84px -258px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry
{
    background-position: -84px -216px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry
{
    background-position: -42px -258px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry
{
    background-position: 0px -216px;
    width: 41px;
    height: 41px;
}
.dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry
{
    background-position: -84px -174px;
    width: 41px;
    height: 41px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_BudwayThemeFromMulberry
{
    background-position: -229px -246px;
    width: 11px;
    height: 11px;
}
.dxWeb_edtCheckBoxChecked_BudwayThemeFromMulberry
{
    background-position: -22px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxCheckedDisabled_BudwayThemeFromMulberry
{
    background-position: -72px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayed_BudwayThemeFromMulberry
{
    background-position: -97px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayedDisabled_BudwayThemeFromMulberry
{
    background-position: -122px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUnchecked_BudwayThemeFromMulberry
{
    background-position: -47px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_BudwayThemeFromMulberry
{
    background-position: -147px -300px;
    width: 24px;
    height: 24px;
}
.dxWeb_fmBreadCrumbsSeparatorArrow_BudwayThemeFromMulberry
{
    background-position: -213px -250px;
    width: 4px;
    height: 7px;
}
.dxWeb_fmBreadCrumbsUpButton_BudwayThemeFromMulberry
{
    background-position: -187px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmBreadCrumbsUpButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -221px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButton_BudwayThemeFromMulberry
{
    background-position: -208px -389px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_BudwayThemeFromMulberry
{
    background-position: -34px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -85px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_BudwayThemeFromMulberry
{
    background-position: -68px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -136px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_BudwayThemeFromMulberry
{
    background-position: -153px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_BudwayThemeFromMulberry
{
    background-position: 0px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_BudwayThemeFromMulberry
{
    background-position: -204px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_BudwayThemeFromMulberry
{
    background-position: -34px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -51px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_BudwayThemeFromMulberry
{
    background-position: 0px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -51px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_BudwayThemeFromMulberry
{
    background-position: -119px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_BudwayThemeFromMulberry
{
    background-position: -219px -165px;
    width: 9px;
    height: 8px;
}
.dxWeb_fmUplButton_BudwayThemeFromMulberry
{
    background-position: -224px -326px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmUplButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -85px -426px;
    width: 16px;
    height: 16px;
}
.dxWeb_igCloseButton_BudwayThemeFromMulberry
{
    background-position: -28px -443px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_BudwayThemeFromMulberry
{
    background-position: -187px -389px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_BudwayThemeFromMulberry
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -92px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_BudwayThemeFromMulberry
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_BudwayThemeFromMulberry
{
    background-position: -184px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_BudwayThemeFromMulberry
{
    background-position: -135px -389px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_BudwayThemeFromMulberry
{
    background-position: -174px -389px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_BudwayThemeFromMulberry
{
    background-position: -138px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_BudwayThemeFromMulberry
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_BudwayThemeFromMulberry
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_BudwayThemeFromMulberry
{
    background-position: -14px -443px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -443px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_BudwayThemeFromMulberry
{
    background-position: -42px -443px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_BudwayThemeFromMulberry
{
    background-position: -219px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_BudwayThemeFromMulberry
{
    background-position: -126px -258px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_BudwayThemeFromMulberry
{
    background-position: -210px -216px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_BudwayThemeFromMulberry
{
    background-position: -60px -326px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -326px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_BudwayThemeFromMulberry
{
    background-position: -22px -346px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_BudwayThemeFromMulberry
{
    background-position: -226px -300px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_BudwayThemeFromMulberry
{
    background-position: -228px -103px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_BudwayThemeFromMulberry
{
    background-position: -171px -258px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_BudwayThemeFromMulberry
{
    background-position: -146px -426px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_BudwayThemeFromMulberry
{
    background-position: -102px -426px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_BudwayThemeFromMulberry
{
    background-position: -114px -443px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_BudwayThemeFromMulberry
{
    background-position: -56px -443px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_BudwayThemeFromMulberry
{
    background-position: -161px -389px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_BudwayThemeFromMulberry
{
    background-position: -148px -389px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_BudwayThemeFromMulberry
{
    background-position: -210px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_BudwayThemeFromMulberry
{
    background-position: -210px -174px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_BudwayThemeFromMulberry
{
    background-position: -30px -326px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_BudwayThemeFromMulberry
{
    background-position: -90px -326px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_BudwayThemeFromMulberry
{
    background-position: -52px -346px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_BudwayThemeFromMulberry
{
    background-position: -37px -346px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_BudwayThemeFromMulberry
{
    background-position: -158px -258px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_BudwayThemeFromMulberry
{
    background-position: -145px -258px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_BudwayThemeFromMulberry
{
    background-position: -124px -426px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_BudwayThemeFromMulberry
{
    background-position: -168px -426px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_BudwayThemeFromMulberry
{
    background-position: -164px -287px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_BudwayThemeFromMulberry
{
    background-position: -85px -443px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_BudwayThemeFromMulberry
{
    background-position: -184px -258px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_BudwayThemeFromMulberry
{
    background-position: -117px -389px;
    width: 17px;
    height: 17px;
}
.dxWeb_mAdaptiveMenu_BudwayThemeFromMulberry
{
    background-position: -228px -322px;
    width: 12px;
    height: 3px;
}
.dxWeb_mHorizontalPopOut_BudwayThemeFromMulberry
{
    background-position: -232px -279px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollDown_BudwayThemeFromMulberry
{
    background-position: -232px -269px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollUp_BudwayThemeFromMulberry
{
    background-position: -232px -274px;
    width: 7px;
    height: 4px;
}
.dxWeb_mSubMenuItem_BudwayThemeFromMulberry
{
    background-position: -190px -426px;
    width: 14px;
    height: 14px;
}
.dxWeb_mSubMenuItemChecked_BudwayThemeFromMulberry
{
    background-position: -60px -389px;
    width: 18px;
    height: 19px;
}
.dxWeb_mVerticalPopOut_BudwayThemeFromMulberry
{
    background-position: -214px -166px;
    width: 4px;
    height: 7px;
}
.dxWeb_mVerticalPopOutRtl_BudwayThemeFromMulberry
{
    background-position: -213px -208px;
    width: 4px;
    height: 7px;
}
.dxWeb_nbCollapse_BudwayThemeFromMulberry
{
    background-position: -229px -204px;
    width: 11px;
    height: 11px;
}
.dxWeb_nbExpand_BudwayThemeFromMulberry
{
    background-position: -229px -162px;
    width: 11px;
    height: 11px;
}
.dxWeb_pAll_BudwayThemeFromMulberry
{
    background-position: -170px -108px;
    width: 16px;
    height: 23px;
}
.dxWeb_pAllDisabled_BudwayThemeFromMulberry
{
    background-position: -187px -108px;
    width: 16px;
    height: 23px;
}
.dxWeb_pcCloseButton_BudwayThemeFromMulberry
{
    background-position: -40px -369px;
    width: 19px;
    height: 19px;
}
.dxWeb_pcCollapseButton_BudwayThemeFromMulberry
{
    background-position: -180px -369px;
    width: 19px;
    height: 19px;
}
.dxWeb_pcMaximizeButton_BudwayThemeFromMulberry
{
    background-position: -60px -369px;
    width: 19px;
    height: 19px;
}
.dxWeb_pcPinButton_BudwayThemeFromMulberry
{
    background-position: -160px -369px;
    width: 19px;
    height: 19px;
}
.dxWeb_pcRefreshButton_BudwayThemeFromMulberry
{
    background-position: -204px -326px;
    width: 19px;
    height: 19px;
}
.dxWeb_pcSizeGrip_BudwayThemeFromMulberry
{
    background-position: -98px -389px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcSizeGripRtl_BudwayThemeFromMulberry
{
    background-position: -79px -389px;
    width: 18px;
    height: 18px;
}
.dxWeb_pFirst_BudwayThemeFromMulberry
{
    background-position: -188px -300px;
    width: 15px;
    height: 23px;
}
.dxWeb_pFirstDisabled_BudwayThemeFromMulberry
{
    background-position: -154px -108px;
    width: 15px;
    height: 23px;
}
.dxWeb_pLast_BudwayThemeFromMulberry
{
    background-position: -138px -108px;
    width: 15px;
    height: 23px;
}
.dxWeb_pLastDisabled_BudwayThemeFromMulberry
{
    background-position: -172px -300px;
    width: 15px;
    height: 23px;
}
.dxWeb_pNext_BudwayThemeFromMulberry
{
    background-position: -229px -132px;
    width: 10px;
    height: 23px;
}
.dxWeb_pNextDisabled_BudwayThemeFromMulberry
{
    background-position: -230px -42px;
    width: 10px;
    height: 23px;
}
.dxWeb_pnlExpand_BudwayThemeFromMulberry
{
    background-position: -126px -216px;
    width: 41px;
    height: 41px;
}
.dxWeb_pnlExpandArrowBottom_BudwayThemeFromMulberry
{
    background-position: -168px -216px;
    width: 41px;
    height: 41px;
}
.dxWeb_pnlExpandArrowLeft_BudwayThemeFromMulberry
{
    background-position: -138px -66px;
    width: 41px;
    height: 41px;
}
.dxWeb_pnlExpandArrowRight_BudwayThemeFromMulberry
{
    background-position: -168px -132px;
    width: 41px;
    height: 41px;
}
.dxWeb_pnlExpandArrowTop_BudwayThemeFromMulberry
{
    background-position: -42px -132px;
    width: 41px;
    height: 41px;
}
.dxWeb_pPopOut_BudwayThemeFromMulberry
{
    background-position: -204px -300px;
    width: 21px;
    height: 22px;
}
.dxWeb_pPopOutDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -346px;
    width: 21px;
    height: 22px;
}
.dxWeb_pPrev_BudwayThemeFromMulberry
{
    background-position: -229px -174px;
    width: 10px;
    height: 23px;
}
.dxWeb_pPrevDisabled_BudwayThemeFromMulberry
{
    background-position: -229px -216px;
    width: 10px;
    height: 23px;
}
.dxWeb_rDialogBoxLauncher_BudwayThemeFromMulberry
{
    background-position: -67px -346px;
    width: 20px;
    height: 20px;
}
.dxWeb_rDialogBoxLauncherDisabled_BudwayThemeFromMulberry
{
    background-position: -130px -346px;
    width: 20px;
    height: 20px;
}
.dxWeb_rDialogBoxLauncherHover_BudwayThemeFromMulberry
{
    background-position: -88px -346px;
    width: 20px;
    height: 20px;
}
.dxWeb_rDialogBoxLauncherPressed_BudwayThemeFromMulberry
{
    background-position: -109px -346px;
    width: 20px;
    height: 20px;
}
.dxWeb_rGlrDown_BudwayThemeFromMulberry
{
    background-position: -230px -36px;
    width: 9px;
    height: 5px;
}
.dxWeb_rGlrDownDisabled_BudwayThemeFromMulberry
{
    background-position: -231px -355px;
    width: 9px;
    height: 5px;
}
.dxWeb_rGlrPopOut_BudwayThemeFromMulberry
{
    background-position: -231px -361px;
    width: 9px;
    height: 7px;
}
.dxWeb_rGlrPopOutDisabled_BudwayThemeFromMulberry
{
    background-position: -231px -346px;
    width: 9px;
    height: 7px;
}
.dxWeb_rGlrUp_BudwayThemeFromMulberry
{
    background-position: -229px -198px;
    width: 9px;
    height: 5px;
}
.dxWeb_rGlrUpDisabled_BudwayThemeFromMulberry
{
    background-position: -229px -240px;
    width: 9px;
    height: 5px;
}
.dxWeb_rMinBtn_BudwayThemeFromMulberry
{
    background-position: -211px -346px;
    width: 19px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_BudwayThemeFromMulberry.dxWeb_rMinBtn_BudwayThemeFromMulberry
{
    background-position: -191px -346px;
    width: 19px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_BudwayThemeFromMulberry.dxWeb_rMinBtnDisabled_BudwayThemeFromMulberry
{
    background-position: -171px -346px;
    width: 19px;
    height: 20px;
}
.dxWeb_rMinBtnDisabled_BudwayThemeFromMulberry
{
    background-position: -151px -346px;
    width: 19px;
    height: 20px;
}
.dxWeb_rpCollapseButton_BudwayThemeFromMulberry
{
    background-position: -152px -288px;
    width: 11px;
    height: 11px;
}
.dxWeb_rPopOut_BudwayThemeFromMulberry
{
    background-position: -229px -156px;
    width: 9px;
    height: 5px;
}
.dxWeb_splHCollapseBackwardButton_BudwayThemeFromMulberry
{
    background-position: -233px -66px;
    width: 7px;
    height: 10px;
}
.dxWeb_splHCollapseBackwardButtonHover_BudwayThemeFromMulberry
{
    background-position: -233px -92px;
    width: 7px;
    height: 10px;
}
.dxWeb_splHCollapseForwardButton_BudwayThemeFromMulberry
{
    background-position: -232px -258px;
    width: 7px;
    height: 10px;
}
.dxWeb_splHCollapseForwardButtonHover_BudwayThemeFromMulberry
{
    background-position: -233px -81px;
    width: 7px;
    height: 10px;
}
.dxWeb_splHSeparator_BudwayThemeFromMulberry
{
    background-position: -143px -443px;
    width: 35px;
    height: 10px;
}
.dxWeb_splHSeparatorHover_BudwayThemeFromMulberry
{
    background-position: -179px -443px;
    width: 35px;
    height: 10px;
}
.dxWeb_splVCollapseBackwardButton_BudwayThemeFromMulberry
{
    background-position: -141px -292px;
    width: 10px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_BudwayThemeFromMulberry
{
    background-position: -130px -292px;
    width: 10px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_BudwayThemeFromMulberry
{
    background-position: -218px -250px;
    width: 10px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_BudwayThemeFromMulberry
{
    background-position: -218px -208px;
    width: 10px;
    height: 7px;
}
.dxWeb_splVSeparator_BudwayThemeFromMulberry
{
    background-position: -230px 0px;
    width: 10px;
    height: 35px;
}
.dxWeb_splVSeparatorHover_BudwayThemeFromMulberry
{
    background-position: -222px -66px;
    width: 10px;
    height: 35px;
}
.dxWeb_tcScrollLeft_BudwayThemeFromMulberry
{
    background-position: -141px -326px;
    width: 20px;
    height: 19px;
}
.dxWeb_tcScrollLeftDisabled_BudwayThemeFromMulberry
{
    background-position: -183px -326px;
    width: 20px;
    height: 19px;
}
.dxWeb_tcScrollRight_BudwayThemeFromMulberry
{
    background-position: -162px -326px;
    width: 20px;
    height: 19px;
}
.dxWeb_tcScrollRightDisabled_BudwayThemeFromMulberry
{
    background-position: -120px -326px;
    width: 20px;
    height: 19px;
}
.dxWeb_tiBackToTop_BudwayThemeFromMulberry
{
    background-position: -205px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_tvColBtn_BudwayThemeFromMulberry
{
    background-position: -225px -389px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvColBtnRtl_BudwayThemeFromMulberry
{
    background-position: -225px -284px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvExpBtn_BudwayThemeFromMulberry
{
    background-position: -209px -284px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvExpBtnRtl_BudwayThemeFromMulberry
{
    background-position: -193px -284px;
    width: 15px;
    height: 15px;
}
.dxWeb_ucClearButton_BudwayThemeFromMulberry
{
    background-position: -102px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -170px -409px;
    width: 16px;
    height: 16px;
}
.dxWeb_edtCheckBoxChecked_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxCheckedDisabled_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxGrayed_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxGrayedDisabled_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxUnchecked_BudwayThemeFromMulberry,
.dxWeb_edtCheckBoxUncheckedDisabled_BudwayThemeFromMulberry
{
    background-color: #BF4E6A;
}

.dxWeb_rpHeaderTopLeftCorner_BudwayThemeFromMulberry,
.dxWeb_rpHeaderTopRightCorner_BudwayThemeFromMulberry,
.dxWeb_rpBottomLeftCorner_BudwayThemeFromMulberry,
.dxWeb_rpBottomRightCorner_BudwayThemeFromMulberry,
.dxWeb_rpTopLeftCorner_BudwayThemeFromMulberry,
.dxWeb_rpTopRightCorner_BudwayThemeFromMulberry,
.dxWeb_rpGroupBoxBottomLeftCorner_BudwayThemeFromMulberry,
.dxWeb_rpGroupBoxBottomRightCorner_BudwayThemeFromMulberry,
.dxWeb_rpGroupBoxTopLeftCorner_BudwayThemeFromMulberry,
.dxWeb_rpGroupBoxTopRightCorner_BudwayThemeFromMulberry,
.dxWeb_mHorizontalPopOut_BudwayThemeFromMulberry,
.dxWeb_mHorizontalPopOutHover_BudwayThemeFromMulberry,
.dxWeb_mVerticalPopOut_BudwayThemeFromMulberry,
.dxWeb_mVerticalPopOutHover_BudwayThemeFromMulberry,
.dxWeb_mVerticalPopOutRtl_BudwayThemeFromMulberry,
.dxWeb_mSubMenuItem_BudwayThemeFromMulberry,
.dxWeb_mSubMenuItemChecked_BudwayThemeFromMulberry,
.dxWeb_mScrollUp_BudwayThemeFromMulberry,
.dxWeb_mScrollUpHover_BudwayThemeFromMulberry,
.dxWeb_mScrollUpDisabled_BudwayThemeFromMulberry,
.dxWeb_mScrollDown_BudwayThemeFromMulberry,
.dxWeb_mScrollDownHover_BudwayThemeFromMulberry,
.dxWeb_mScrollDownDisabled_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeft_BudwayThemeFromMulberry,
.dxWeb_tcScrollRight_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeftHover_BudwayThemeFromMulberry,
.dxWeb_tcScrollRightHover_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeftPressed_BudwayThemeFromMulberry,
.dxWeb_tcScrollRightPressed_BudwayThemeFromMulberry,
.dxWeb_tcScrollLeftDisabled_BudwayThemeFromMulberry,
.dxWeb_tcScrollRightDisabled_BudwayThemeFromMulberry,
.dxWeb_nbCollapse_BudwayThemeFromMulberry,
.dxWeb_nbExpand_BudwayThemeFromMulberry,
.dxWeb_splVSeparator_BudwayThemeFromMulberry,
.dxWeb_splVSeparatorHover_BudwayThemeFromMulberry,
.dxWeb_splHSeparator_BudwayThemeFromMulberry,
.dxWeb_splHSeparatorHover_BudwayThemeFromMulberry,
.dxWeb_splVCollapseBackwardButton_BudwayThemeFromMulberry,
.dxWeb_splVCollapseBackwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splHCollapseBackwardButton_BudwayThemeFromMulberry,
.dxWeb_splHCollapseBackwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splVCollapseForwardButton_BudwayThemeFromMulberry,
.dxWeb_splVCollapseForwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_splHCollapseForwardButton_BudwayThemeFromMulberry,
.dxWeb_splHCollapseForwardButtonHover_BudwayThemeFromMulberry,
.dxWeb_pcCloseButton_BudwayThemeFromMulberry,
.dxWeb_pcPinButton_BudwayThemeFromMulberry,
.dxWeb_pcRefreshButton_BudwayThemeFromMulberry,
.dxWeb_pcCollapseButton_BudwayThemeFromMulberry,
.dxWeb_pcMaximizeButton_BudwayThemeFromMulberry,
.dxWeb_pcSizeGrip_BudwayThemeFromMulberry,
.dxWeb_pcSizeGripRtl_BudwayThemeFromMulberry,
.dxWeb_pPopOut_BudwayThemeFromMulberry,
.dxWeb_pPopOutDisabled_BudwayThemeFromMulberry,
.dxWeb_pPopOutHover_BudwayThemeFromMulberry,
.dxWeb_pPopOutPressed_BudwayThemeFromMulberry,
.dxWeb_pAll_BudwayThemeFromMulberry,
.dxWeb_pAllDisabled_BudwayThemeFromMulberry,
.dxWeb_pPrev_BudwayThemeFromMulberry,
.dxWeb_pPrevDisabled_BudwayThemeFromMulberry,
.dxWeb_pNext_BudwayThemeFromMulberry,
.dxWeb_pNextDisabled_BudwayThemeFromMulberry,
.dxWeb_pLast_BudwayThemeFromMulberry,
.dxWeb_pLastDisabled_BudwayThemeFromMulberry,
.dxWeb_pFirst_BudwayThemeFromMulberry,
.dxWeb_pFirstDisabled_BudwayThemeFromMulberry,
.dxWeb_tiBackToTop_BudwayThemeFromMulberry,
.dxWeb_smBullet_BudwayThemeFromMulberry,
.dxWeb_tvColBtn_BudwayThemeFromMulberry,
.dxWeb_tvColBtnRtl_BudwayThemeFromMulberry,
.dxWeb_tvExpBtn_BudwayThemeFromMulberry,
.dxWeb_tvExpBtnRtl_BudwayThemeFromMulberry,
.dxWeb_fmFolder_BudwayThemeFromMulberry,
.dxWeb_fmFolderLocked_BudwayThemeFromMulberry,
.dxWeb_fmCreateButton_BudwayThemeFromMulberry,
.dxWeb_fmMoveButton_BudwayThemeFromMulberry,
.dxWeb_fmRenameButton_BudwayThemeFromMulberry,
.dxWeb_fmDeleteButton_BudwayThemeFromMulberry,
.dxWeb_fmRefreshButton_BudwayThemeFromMulberry,
.dxWeb_fmDwnlButton_BudwayThemeFromMulberry,
.dxWeb_fmCreateButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmMoveButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmRenameButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmDeleteButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmRefreshButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_fmDwnlButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_ucClearButton_BudwayThemeFromMulberry,
.dxWeb_ucClearButtonDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnHor_BudwayThemeFromMulberry,
.dxWeb_isNextBtnHor_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnVert_BudwayThemeFromMulberry,
.dxWeb_isNextBtnVert_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHor_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorOutside_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHor_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorOutside_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVert_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertOutside_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVert_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertOutside_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnHorOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnHorOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isPrevPageBtnVertOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertDisabled_BudwayThemeFromMulberry,
.dxWeb_isNextPageBtnVertOutsideDisabled_BudwayThemeFromMulberry,
.dxWeb_isDot_BudwayThemeFromMulberry,
.dxWeb_isDotDisabled_BudwayThemeFromMulberry,
.dxWeb_isDotSelected_BudwayThemeFromMulberry,
.dxWeb_fmGvHeaderFilter_BudwayThemeFromMulberry,
.dxWeb_fmGvHeaderFilterActive_BudwayThemeFromMulberry,
.dxWeb_fmThumbnailCheck_BudwayThemeFromMulberry,
.dxWeb_isPlayBtn_BudwayThemeFromMulberry,
.dxWeb_isPauseBtn_BudwayThemeFromMulberry,
.dxWeb_igCloseButton_BudwayThemeFromMulberry,
.dxWeb_igNextButton_BudwayThemeFromMulberry,
.dxWeb_igPrevButton_BudwayThemeFromMulberry,
.dxWeb_igPlayButton_BudwayThemeFromMulberry,
.dxWeb_igPauseButton_BudwayThemeFromMulberry,
.dxWeb_igNavigationBarMarker_BudwayThemeFromMulberry
{
	display: block;
}
.dxWeb_mScrollUp_BudwayThemeFromMulberry, .dxWeb_mScrollDown_BudwayThemeFromMulberry
{
	margin: auto;
}
.dxWeb_smBullet_BudwayThemeFromMulberry,
.dxWeb_tiBackToTop_BudwayThemeFromMulberry
{
	display:inline;
}

