*.aps
*.suo
*.user
*.ipch
*.sdf
*.opensdf
*.vpj
*.vpw*
*.vtg
*.bsc
*.exe
*.ilk
*.lastbuildstate
*.log
*.obj
*.orig
*.pch
*.pdb
*.res
*.sbr
*.tlog
*.idb
**/[pP]ackages/*
*.GhostDoc.xml
*_ReSharper*
**/Debug/*
**/Release/*
**/[bB]in/*
**/.vs/*
descript.ion
.hgignore*
