.dxPivotGrid_pgCollapsedButton_Aqua,
.dxPivotGrid_pgExpandedButton_Aqua,
.dxPivotGrid_pgSortDownButton_Aqua,
.dxPivotGrid_pgSortUpButton_Aqua,
.dxPivotGrid_pgFilterResizer_Aqua,
.dxPivotGrid_pgFilterButton_Aqua,
.dxPivotGrid_pgFilterButtonActive_Aqua,
.dxPivotGrid_pgCustomizationFormCloseButton_Aqua,
.dxPivotGrid_pgDragArrowDown_Aqua,
.dxPivotGrid_pgDragArrowUp_Aqua,
.dxPivotGrid_pgDragHideField_Aqua,
.dxPivotGrid_pgDataHeaders_Aqua,
.dxPivotGrid_pgGroupSeparator_Aqua,
.dxPivotGrid_pgSortByColumn_Aqua,
.dxPivotGrid_pgPrefilterButton_Aqua {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_Aqua {
    background-position: 0px 0px;
    width: 15px;
    height: 15px;
}

.dxPivotGrid_pgExpandedButton_Aqua {
    background-position: 0px -18px;
    width: 15px;
    height: 15px;
}

.dxPivotGrid_pgSortDownButton_Aqua {
    background-position: -36px 0px;
    width: 11px;
    height: 15px;
}

.dxPivotGrid_pgSortUpButton_Aqua {
    background-position: -36px -18px;
    width: 11px;
    height: 15px;
}

.dxPivotGrid_pgFilterResizer_Aqua {
    background-position: -69px -37px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgFilterButton_Aqua {
    background-position: 0px -36px;
    width: 19px;
    height: 19px;
}

.dxPivotGrid_pgFilterButtonActive_Aqua {
    background-position: -23px -36px;
    width: 19px;
    height: 19px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_Aqua {
    background-position: -46px -39px;
    width: 19px;
    height: 19px;
}

.dxPivotGrid_pgDragArrowDown_Aqua {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_Aqua {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_Aqua {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_Aqua {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_Aqua {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_Aqua {
    background-position: -53px 0px;
    width: 15px;
    height: 14px;
}

.dxPivotGrid_pgPrefilterButton_Aqua {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_FLButton_Aqua,
.dxPivotGrid_FLStackedDefault_Aqua,
.dxPivotGrid_FLStackedSideBySide_Aqua,
.dxPivotGrid_FLTopPanelOnly_Aqua,
.dxPivotGrid_FLBottomPanelOnly2by2_Aqua,
.dxPivotGrid_FLBottomPanelOnly1by4_Aqua,
.dxPivotGrid_FLFieldList_Aqua,
.dxPivotGrid_FLFilterAreaHeaders_Aqua,
.dxPivotGrid_FLColumnAreaHeaders_Aqua,
.dxPivotGrid_FLRowAreaHeaders_Aqua,
.dxPivotGrid_FLDataAreaHeaders_Aqua,
.dxPivotGrid_pgDragArrowLeft_Aqua,
.dxPivotGrid_pgDragArrowRight_Aqua
 {
    background-image: url('FLsprite.png');
    -background-image: url('FLsprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent; 
}
.dxpgFLTextDiv_Aqua img.dxPivotGrid_FLFilterAreaHeaders_Aqua,
.dxpgFLTextDiv_Aqua img.dxPivotGrid_FLColumnAreaHeaders_Aqua,
.dxpgFLTextDiv_Aqua img.dxPivotGrid_FLRowAreaHeaders_Aqua,
.dxpgFLTextDiv_Aqua img.dxPivotGrid_FLDataAreaHeaders_Aqua,
.dxpgFLTextDiv_Aqua img.dxPivotGrid_FLFieldList_Aqua
{
    height:16px;
    width:16px;
}
.dxPivotGrid_FLButton_Aqua
{
    display:block;
    height:16px;
    width:16px
}
.dxPivotGrid_FLStackedDefault_Aqua,
.dxPivotGrid_FLStackedSideBySide_Aqua,
.dxPivotGrid_FLTopPanelOnly_Aqua,
.dxPivotGrid_FLBottomPanelOnly2by2_Aqua,
.dxPivotGrid_FLBottomPanelOnly1by4_Aqua
{
    height:32px;
    width:32px;
}
.dxPivotGrid_pgDragArrowLeft_Aqua,
.dxPivotGrid_pgDragArrowRight_Aqua
{
    height:11px;
    width:9px;
}
.dxPivotGrid_pgDragArrowLeft_Aqua
{
  background-position: -96px -11px; 
}
.dxPivotGrid_pgDragArrowRight_Aqua
{
 background-position: -96px -0px; 
}
.dxPivotGrid_FLButton_Aqua
{
    background-position: -96px -32px;
}
.dxPivotGrid_FLStackedDefault_Aqua
{
    background-position: -32px 0px;
}
.dxPivotGrid_FLStackedSideBySide_Aqua
{
    background-position: 0px -32px;
}
.dxPivotGrid_FLTopPanelOnly_Aqua
{
    background-position: 0px 0px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_Aqua
{
    background-position: -32px -32px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_Aqua
{
    background-position: -64px 0px;
}
.dxPivotGrid_FLFieldList_Aqua
{
    background-position: -64px -32px;
}
.dxPivotGrid_FLFilterAreaHeaders_Aqua
{
    background-position: -80px -48px;
}
.dxPivotGrid_FLColumnAreaHeaders_Aqua
{
    background-position: -64px -48px;
}
.dxPivotGrid_FLRowAreaHeaders_Aqua
{
    background-position: -96px -48px;
}
.dxPivotGrid_FLDataAreaHeaders_Aqua
{
    background-position: -80px -32px;
}

.dxPivotGrid_CTNMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNCalculatedMeasure {
    background-image: url('CustomizationTreeNodeImages.png');
    -background-image: url('CustomizationTreeNodeImages.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    width: 16px;
}
.dxPivotGrid_CTNMeasure {
    background-position: 0px 0px;
}
.dxPivotGrid_CTNDimension {
    background-position: -21px 0px;
}
.dxPivotGrid_CTNAttribute {
    background-position: -42px 0px;
}
.dxPivotGrid_CTNHierarchy {
    background-position: -63px 0px;
}
.dxPivotGrid_CTNKpi {
    background-position: -84px 0px;
}
.dxPivotGrid_CTNFolderClosed {
    background-position: 0px -23px;
}
.dxPivotGrid_CTNFolderOpen {
    background-position: -21px -23px;
}
.dxPivotGrid_CTNCalculatedMeasure {
    background-position: -42px -23px;
}
