/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office2010Silver
{
    background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_Office2010Silver
{
    font: 11px Verdana;
    color: #585e68;
}
.dxheLoadingPanel_Office2010Silver td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}

.dxheControl_Office2010Silver
{
    border: 1px solid #868b91;
}

/* Area */
.dxheContentArea_Office2010Silver
{
    padding: 0;
    background-color: #e9edf1;
}
.dxheContentArea_Office2010Silver .dxheErrorFrame_Office2010Silver
{
    font-size: 11px;
    font-family: Verdana;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheContentArea_Office2010Silver .dxheErrorFrame_Office2010Silver .dxhe {
    padding: 5px;
}
.dxheContentArea_Office2010Silver .dxheErrorFrame_Office2010Silver .dxhe td {
    padding: 0px;
}
.dxheContentArea_Office2010Silver .dxheErrorFrame_Office2010Silver .dxheErrorFrameCloseButton_Office2010Silver {
    cursor: pointer;
}
.dxheControl_Office2010Silver .dxheViewArea_Office2010Silver
{
    border-width: 0;
}
.dxheHtmlViewArea_Office2010Silver,
.dxheDesignViewArea_Office2010Silver,
.dxhePreviewArea_Office2010Silver
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: normal 12px Arial;
}
.dxheHtmlViewArea_Office2010Silver td, 
.dxheHtmlViewArea_Office2010Silver.dxeMemo_Office2010Silver td,
body.dxheDesignViewArea_Office2010Silver, 
body.dxhePreviewArea_Office2010Silver
{
    padding: 4px 0 0 4px;
}
.dxheControl_Office2010Silver.dxhe-rtl .dxheHtmlViewArea_Office2010Silver td, 
.dxheControl_Office2010Silver.dxhe-rtl .dxheHtmlViewArea_Office2010Silver.dxeMemo_Office2010Silver td,
body.dxheDesignViewArea_Office2010Silver.dxhe-rtl, 
body.dxhePreviewArea_Office2010Silver.dxhe-rtl
{
    padding: 0 4px 0 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .dxheControl_Office2010Silver.dxhe-rtl .dxheHtmlViewArea_Office2010Silver td, 
    .dxheControl_Office2010Silver.dxhe-rtl .dxheHtmlViewArea_Office2010Silver.dxeMemo_Office2010Silver td
    {
        padding: 0 0 0 4px;
    }    
}
.dxheControl_Office2010Silver .dxeMemo_Office2010Silver textarea 
{
	resize:none;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office2010Silver table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office2010Silver table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_Office2010Silver table.dxEmptyBorderTable,
	body.dxheDesignViewArea_Office2010Silver table.dxEmptyBorderTable td
	{
		border:0px;
	}
}

/* Status Bar */
.dxheStatusBar_Office2010Silver
{
}
.dxheStatusBar_Office2010Silver .dxheStatusBarTab_Office2010Silver
{
    padding-left: 34px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom-width: 0;
    border-left-width: 0;
}
.dxheControl_Office2010Silver.dxhe-rtl .dxheStatusBar_Office2010Silver .dxheStatusBarTab_Office2010Silver
{
    border-left-width: 1px;
    border-right-width: 0;
}
.dxheStatusBarActiveTab_Office2010Silver
{
}
.dxHtmlEditor_heSizeGrip_Office2010Silver
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Silver
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_Office2010Silver
{
    float: left;
    height: 0;
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_Office2010Silver.dxhe-rtl .dxheSizeGripContainer_Office2010Silver
{
    text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell,
#dxInsertLinkForm .buttonsCell,
#dxInsertImageForm .buttonsCell,
#dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell,
.dxheCustomDialog_Office2010Silver .dxhecd-Buttons
{
    background-color: #e9edf1;
    border-top: 1px solid #c9cdd2;
    padding: 11px;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: 1px solid #a5acb5;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office2010Silver
{
	height: 1px;
}
.dxtbControl_Office2010Silver
{
    font: 11px Verdana;
    color: Black;
    background-color: #e9edf1;
    width: 100%;
    border-bottom: 1px solid #868b91;
}
.dxtbControl_Office2010Silver td.dxmMenu_Office2010Silver
{
	border: 0;
}
.dxtbComboBoxMenuItem_Office2010Silver
{
    padding: 2px 2px 1px;
}

/* Toolbars Lightweight Mode */
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-main
{
    border-width: 0;
}
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem
{
	border-width: 0;
	padding: 2px 2px 1px !important;
}
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-l .dxm-dropDownMode.dxtb-cb .dxm-content, 
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-r .dxm-dropDownMode.dxtb-cb .dxm-content
{
	padding-top: 3px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content, 
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content
{
	padding-top: 4px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content img,
.dxtbControl_Office2010Silver .dxmLite_Office2010Silver .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content img
{
	margin-top: -1px;
}
.dxmLite_Office2010Silver .dxhetipControl_Office2010Silver img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_Office2010Silver
{
}
.dxtcbColorDiv_Office2010Silver
{
	width: 16px;
	height: 3px;
	font-size: 0px;
	background-color: Transparent;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_Office2010Silver .dxrpcontent
{
    padding: 9px 8px;
}

