.dxgvControl_Glass,
.dxgvDisabled_Glass
{
	border: 1px solid #7EACB1;
	font: 12px Tahoma;
	background-color: #f4fafb;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Glass
{
	color: Gray;
}
.dxgvControl_Glass a
{
	color: #5555FF;
}
.dxgvDisabled_Glass a
{
	color: Gray;
}
.dxgvLoadingPanel_Glass
{
	border: 1px solid #7EACB1;
	background-color: #D4E3E5;
	font: 12px Tahoma;
	color: #303030;
}
.dxgvLoadingPanel_Glass td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxgvLoadingPanelStatusBar_Glass
{
	background-color: transparent;
	font-size: 11px;
}
.dxgvLoadingPanelStatusBar_Glass td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}
.dxgvFilterPopupWindow_Glass
{
	color: Black;
	font: 12px Tahoma;
	border-left: 1px solid #DCDCDC;
}
.dxgvFilterPopupItemsArea_Glass
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_Glass
{
	background-color: #d4e8f3;
	border: 1px solid #dcdcdc;
	color: Black;
}

.dxgvFilterPopupItem_Glass td.dxgv,
.dxgvFilterPopupActiveItem_Glass td.dxgv,
.dxgvFilterPopupSelectedItem_Glass td.dxgv
{
	padding: 2px 2px 2px 3px;
	border: 1px solid White;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Glass
{
	background: #d9eced none;
}
.dxgvFilterPopupSelectedItem_Glass
{
	background: #9eced6 none;
}
.dxgvTable_Glass
{
	background-color: #f4fafb;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
	color: Black;
}
.dxgvInlineEditRow_Glass,
.dxgvDataRow_Glass
{
	background-color: White;
}
.dxgvInlineEditRow_Glass td.dxgv
{
	border-bottom: 1px solid #C2D4DA;
	border-right: 1px solid #C2D4DA;
}
.dxgvDataRowAlt_Glass
{
	background-color: #F3F8F7;
}
.dxgvFilterRow_Glass
{
	background-color: #D4E3E5;
}
.dxgvEditFormDisplayRow_Glass
{
	background-color: #EDF3F4;
}
.dxgvEditFormDisplayRow_Glass td.dxgvIndentCell
{
	background: #d5dfe6 none;
	border-right: 1px Solid #c2d4da;
	border-left: 1px Solid #c2d4da;
	border-top-width: 0px;
}
.dxgvEditForm_Glass
{
	background-color: #EDF3F4;
}
.dxgvEditForm_Glass  td.dxgv
{
	border-bottom: 1px solid #C2D4DA;
	padding: 6px 0px 2px;
}
.dxgvEditForm_Glass td.dxgvIndentCell
{
	background: #d5dfe6 none;
	border-right: 1px Solid #c2d4da;
	border-left: 1px Solid #c2d4da;
	border-top-width: 0px;
}
.dxgvSelectedRow_Glass
{
	background-color: #E9F6F8;
}
.dxgvFocusedRow_Glass
{
	background-color: #c0e0e7;
}
.dxgvPreviewRow_Glass
{
	background-color: #ECF2F3;
}
.dxgvDetailCell_Glass,
.dxgvPreviewRow_Glass td.dxgv,
.dxgvEmptyDataRow_Glass td.dxgv
{
	padding: 6px 2px 8px 4px;
	border-bottom: 1px solid #C2D4DA;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailRow_Glass td.dxgvIndentCell
{
	border-bottom: 1px solid #C2D4DA;
}
.dxgvEmptyDataRow_Glass
{
	color: Gray;
}
.dxgvEmptyDataRow_Glass td.dxgv
{
	text-align: center;
}

.dxgvEditFormDisplayRow_Glass td.dxgv,
.dxgvDataRow_Glass td.dxgv,
.dxgvDataRowAlt_Glass td.dxgv,
.dxgvSelectedRow_Glass td.dxgv,
.dxgvFocusedRow_Glass td.dxgv
{
	overflow: hidden;
	border-bottom: 1px solid #C2D4DA;
	border-right: 1px solid #C2D4DA;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 6px 4px;
}

.dxgvEditingErrorRow_Glass
{
	background-color: #FFC8C8;
	color: Red;
}
.dxgvEditingErrorRow_Glass td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #C2D4DA;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}
.dxgvFilterRow_Glass td.dxgv
{
	border-bottom: 1px solid #C2D4DA;
	border-right: 1px solid #C2D4DA;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow_Glass
{
	background-color: #D5DFE6;
}
.dxgvFocusedGroupRow_Glass
{
	background-color: #c0e0e7;
}
.dxgvGroupRow_Glass td.dxgv,
.dxgvFocusedGroupRow_Glass td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #C2D4DA;
	padding: 2px 4px 3px;
}
.dxgvFocusedRow_Glass td.dxgvIndentCell,
.dxgvFocusedGroupRow_Glass td.dxgvIndentCell,
.dxgvSelectedRow_Glass td.dxgvIndentCell
{
	background-color: #D5DFE6!important;
	border-right: 1px solid #C2D4DA;
	border-left: 1px solid #C2D4DA;
	border-top-width: 0px;
}
.dxgvHeaderPanel_Glass
{
	background-color: #D4E3E5;
	padding: 8px 6px;
	border-bottom: 1px solid #C2D4DA;
}
.dxgvHeader_Glass
{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px 5px;
	border: 1px solid #7EACB1;
	background: #b7d8dc url('gvHeaderBackground.gif') repeat-x top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}

.dxgvHeader_Glass a,
.dxgvHeader_Glass a:hover
{
	color: #2a769d;
}

.dxgvHeader_Glass,
.dxgvHeader_Glass table
{
	color: Black;
}
.dxgvHeader_Glass td
{
	white-space: nowrap;
}
.dxgvCustomization_Glass,
.dxgvPopupEditForm_Glass
{
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel_Glass
{
	background: #f8fbfd url('gvGroupPanelBackground.gif') repeat-x top;
	white-space: nowrap;
	border-bottom: 1px solid #7EACB1;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_Glass
{
	background-color: #e9f8fa;
	white-space: nowrap;
}
.dxgvFooter_Glass td.dxgv
{
	padding: 4px 6px 5px;
	border-bottom: 1px solid #7EACB1;
	border-right-style: none;
}
.dxgvGroupFooter_Glass
{
	background-color: #DAEDF0;
	white-space: nowrap;
}
.dxgvGroupFooter_Glass td.dxgv
{
	padding: 4px 6px 6px;
	border-bottom: 1px solid #C2D4DA;
	border-right-style: none;
}
.dxgvDataRow_Glass td.dxgvIndentCell,
.dxgvGroupRow_Glass td.dxgvIndentCell,
.dxgvGroupFooter_Glass td.dxgvIndentCell
{
	background-color: #D5DFE6;
	border-right: 1px solid #C2D4DA;
	border-left: 1px solid #C2D4DA;
	border-top-width: 0px;
}

.dxgvTitlePanel_Glass,
.dxgvTable_Glass caption
{
	font-weight: bold;
	padding: 3px;
	text-align: center;
	border-bottom: 1px solid #7EACB1;
	background-color: White;
}
.dxgvLoadingDiv_Glass
{
	background-color: Gray;
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvStatusBar_Glass
{
	border-top: 1px solid #7EACB1;
}
.dxgvStatusBar_Glass tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_Glass
{
	padding: 2px;
}
.dxgvCommandColumn_Glass a
{
	color: #2a769d;
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumn_Glass a:hover
{
	color: #f15e34;
}

.dxgvCommandColumnItem_Glass
{
}
.dxgvEditFormTable_Glass
{
	padding: 2px 6px 6px 4px;
	color: Black;
}
.dxgvEditFormCaption_Glass
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}
.dxgvInlineEditCell_Glass
{
	padding: 1px;
}

.dxgvPagerTopPanel_Glass,
.dxgvPagerBottomPanel_Glass
{
	padding: 3px 0;
}

.dxgvEditFormCell_Glass
{
	padding: 4px;
	border-width: 0;
}

.dxgvFilterBar_Glass
{
	border-top: 1px solid #bccbd1;
	background: #d8e4e8 none;
}
.dxgvFilterBar_Glass a
{
	color: #2a769d;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_Glass
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_Glass
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Glass
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Glass
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Glass
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Glass
{
	border-top: 1px solid #c4d3de;
	background: #D3E6F3 none;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_Glass
{
	background: #d9eced none;
	color: Black;
}
.dxgvControl_Glass .dxgvHFSAC
{
    padding: 7px 0 0 4px;
}
.dxgvControl_Glass .dxgvHFSC
{
    padding: 8px 0 6px;
}
.dxgvControl_Glass .dxgvHFSC div
{
    height: 1px;
    background: #7EACB1;
}
.dxgvControl_Glass .dxgvHFSAC,
.dxgvControl_Glass .dxgvHFSC,
.dxgvControl_Glass .dxgvHFLC
{
    background: White;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_Glass
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
