.dx-acc-r .dxCardView_gvCellError_BudwayThemeFromMulberry:before,
.dx-acc-r .dxCardView_gvFilterRowButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxCardView_gvHeaderFilter_BudwayThemeFromMulberry:before,
.dx-acc-r .dxCardView_gvHeaderFilterActive_BudwayThemeFromMulberry:before,
.dx-acc-r .dxCardView_gvHeaderSortDown_BudwayThemeFromMulberry:before,
.dx-acc-r .dxCardView_gvHeaderSortUp_BudwayThemeFromMulberry:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxCardView_gvCellError_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxCardView_gvFilterRowButton_BudwayThemeFromMulberry:before

{
    left: -15px;
    top: 0px;

}
.dx-acc-r .dxCardView_gvHeaderFilter_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -29px;

}
.dx-acc-r .dxCardView_gvHeaderFilterActive_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -15px;

}
.dx-acc-r .dxCardView_gvHeaderSortDown_BudwayThemeFromMulberry:before

{
    left: -19px;
    top: -15px;

}
.dx-acc-r .dxCardView_gvHeaderSortUp_BudwayThemeFromMulberry:before

{
    left: -19px;
    top: -29px;

}
