/* Common */
body {
    color: black;

    font-size: 12px;
	padding: 0px; 
	margin: 0px;
}
.BodyBackColor {
    background-color: #BCD4F6;
}
a {
    color: black; 
    text-decoration: underline;   
}
div.PageContent {
    padding: 0px 0px 0px 0px;
}
/* Action Container Panel */
.ACPanel 
{
	background: url('opacity50.png') repeat;
	
	padding: 2px 20px 1px 5px;
	height: 25px;
}	
/* Main table */
.Main {
	background: white;
}
h1 {
	color: Black;
	
	font-size: 200%;
	font-family: Tahoma;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
/* Footer */
.FooterCopyright {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	
	color: #859AB8;
}
/* Dialog */
body.Dialog {
	background-color: White !important;
}
div.DialogPageContent {
	margin: 0px;
}
div.Header {
	width: 100%;
	height: 80px;
	margin: 0px;
}
/* Error */
.Error {
	color: Black;
}
/* Links on dark background */
.Footer .menuLinks_Office2003Blue a,
.Footer .menuLinks_Office2003Blue a.dx,
.Security .menuLinks_Office2003Blue a,
.Security .menuLinks_Office2003Blue a.dx,
.TabsContainer .menuLinks_Office2003Blue a,
.TabsContainer .menuLinks_Office2003Blue a.dx,
.Footer .menuLinks_Office2003Blue a:visited,
.Footer .menuLinks_Office2003Blue a.dx:visited,
.Security .menuLinks_Office2003Blue a:visited,
.Security .menuLinks_Office2003Blue a.dx:visited,
.TabsContainer .menuLinks_Office2003Blue a:visited,
.TabsContainer .menuLinks_Office2003Blue a.dx:visited
{
}
/* Controls customization */
.dxgvControl_Office2003Blue {
	width: 100%;
}
.dxgvHeader_Office2003Blue td {
    white-space:normal;
}
.dxtcControl_Office2003Blue,
.dxtcLite_Office2003Blue {
    width: 100% !important;
}
.NavigationTabsActionContainer .dxtcControl_Office2003Blue,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue {
    background-image: url('opacity50.png'); 
    background-repeat: repeat-x;
}
.NavigationTabsActionContainer .dxtcPageContent_Office2003Blue,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-content {
	padding-left: 18px;
    border: none !important;
}
.NavigationTabsActionContainer .dxtcLeftIndentCell_Office2003Blue div,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-leftIndent
{
    width: 15px !important;
}
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-spacer,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-leftIndent
{
    padding-bottom: 10px !important;
}
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-strip .dxtc-activeTab,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-strip .dxtc-tab
{
    margin-top: 9px !important;    
}
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-rightIndent
{
    padding-top: 2px !important;
    padding-bottom: 8px !important;
}
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-tab,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-activeTab,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-sbWrapper,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-sbIndent,
.NavigationTabsActionContainer .dxtcLite_Office2003Blue .dxtc-sbSpacer
{
	height: 22px;
}
.NavigationTabsActionContainer .dxtc-content .dxmLite_Office2003Blue .menuLinks_Office2003Blue
{
    padding-left: 14px !important;
}
.ACV .dxmVerticalMenuItemWithImage_Office2003Blue
{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
/* NavigationHistory (NavigationHistoryActionContainer) */
.NavigationHistoryLinks {
	color: #86888D;
	padding: 0px 0px 0px 2px;
}
.NavigationHistoryLinks a:hover {
	text-decoration: underline;
    color: black;
}
.NavigationHistoryLinks a, .NavigationHistoryLinks a:visited {
	text-decoration: underline;
    color: black;
}
.NavigationHistoryLinks a.Current, .NavigationHistoryLinks a.Current:hover, .NavigationHistoryLinks a.Current:visited {
	text-decoration: none;
	color: #86888D;
}
.Security .dxmMenuSeparator_Office2003Blue,
.Security .dxmLite_Office2003Blue .dxm-separator {
	padding: 0px 4px 0px 11px;
}
.Security .dxmLite_Office2003Blue .dxm-separator b
{
    margin-top: 1px !important;
}
.TabsContainer .dxmMenuSeparator_Office2003Blue,
.TabsContainer .dxmLite_Office2003Blue .dxm-separator {
	padding: 0px 10px 0px 16px;
}
.TabsContainer .dxmLite_Office2003Blue .dxmtb.dxm-horizontal .dxm-separator b {
	margin-top: 4px;
}
.LayoutTabContainerWithNestedFrame > .Item:first-child > .NestedFrame > .ToolBarUpdatePanel > .ToolBar .dxmMenu_Office2003Blue,
.LayoutTabContainerWithNestedFrame > .Item:first-child > .NestedFrame > .ToolBarUpdatePanel > .ToolBar .dxmLite_Office2003Blue .dxm-main {
	border-top: 0px;
}
.LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .ToolBarUpdatePanel > .ToolBar .dxmMenu_Office2003Blue,
.LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .ToolBarUpdatePanel > .ToolBar .dxmLite_Office2003Blue .dxm-main
{
	border-left: 0px;
	border-right: 0px;
}
.HorizontalTemplateHeader,
.VerticalTemplateHeader,
.Header {
	background-color: #BCD4F6;
}
.RecordsNavigationContainer .menuLinks_Office2003Blue {
	padding-left: 8px;
}
.RecordsNavigationContainer .dxmLite_Office2003Blue .menuLinks_Office2003Blue
{
    padding-top: 0px !important;
    padding-bottom: 6px !important;
}
.RecordsNavigationContainer .dxmLite_Office2003Blue .dxm-content,
.RecordsNavigationContainer .dxmLite_Office2003Blue .dxm-content.dxm-disabled
{
    padding-left: 2px !important;
    padding-right: 3px !important;
}
.RecordsNavigationContainer .menuLinks_Office2003Blue .dxmMenuItemWithImage_Office2003Blue {
	padding-left: 3px;
}
.EditModeActions .dxmLite_Office2003Blue,
.EditModeActions .dxmLite_Office2003Blue.dxm-ie7 > div 
{
	margin-right: 7px !important;
}
.RecordsNavigationContainer .dxmLite_Office2003Blue,
.Content .EditModeActions .dxmLite_Office2003Blue,
.Content .EditModeActions .dxmLite_Office2003Blue.dxm-ie7 > div
{
    margin-right: 6px !important;
}
.ACH.MainToolbar .dxmLite_Office2003Blue .dxm-main
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
