.dxCardView_gvCellError_BudwayDirectMarron,
.dxCardView_gvFilterRowButton_BudwayDirectMarron,
.dxCardView_gvHeaderFilter_BudwayDirectMarron,
.dxCardView_gvHeaderFilterActive_BudwayDirectMarron,
.dxCardView_gvHeaderSortDown_BudwayDirectMarron,
.dxCardView_gvHeaderSortUp_BudwayDirectMarron
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_gvCellError_BudwayDirectMarron
{
    background-position: 0px -40px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvFilterRowButton_BudwayDirectMarron
{
    background-position: -15px -40px;
    width: 13px;
    height: 13px;
}
.dxCardView_gvHeaderFilter_BudwayDirectMarron
{
    background-position: 0px 0px;
    width: 19px;
    height: 19px;
}
.dxCardView_gvHeaderFilterActive_BudwayDirectMarron
{
    background-position: 0px -20px;
    width: 19px;
    height: 19px;
}
.dxCardView_gvHeaderSortDown_BudwayDirectMarron
{
    background-position: -20px -20px;
    width: 11px;
    height: 15px;
}
.dxCardView_gvHeaderSortUp_BudwayDirectMarron
{
    background-position: -20px 0px;
    width: 11px;
    height: 15px;
}

