.dxcvControl_BudwayDirectMarron,
.dxcvDisabled_BudwayDirectMarron
{
    border: 1px Solid #8A0A37;
    font: 12px Tahoma, Geneva, sans-serif;
    background-color: #EFEFEF;
    color: #000000;
    cursor: default;
}
.dxcvDisabled_BudwayDirectMarron
{
    color: Gray;
}
.dxcvControl_BudwayDirectMarron a
{
    color: #8A0A37;
}
.dxcvControl_BudwayDirectMarron a:hover
{
    color: #BE458B;
}
.dxcvDisabled_BudwayDirectMarron a
{
    color: Gray;
}


.dxcvLoadingPanel_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #767676;
    background-color: #f6f6f6;
    border: 1px solid #898989;
}
.dxcvLoadingPanel_BudwayDirectMarron td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 20px 6px;
}
.dxcvLoadingPanel_BudwayDirectMarron .dxlp-loadingImage,
.dxcvLoadingPanelStatusBar_BudwayDirectMarron .dxlp-loadingImage 
{
    background-image: url('../Web/Loading.gif');
    height: 18px;
    width: 18px;
}
.dxcvLoadingPanelStatusBar_BudwayDirectMarron
{
    background-color: transparent;
}
.dxcvLoadingPanelStatusBar_BudwayDirectMarron td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}

.dxcvFilterPopupWindow_BudwayDirectMarron
{
    color: Black;
    border: 1px solid #8a0a37;
}
.dxcvFilterPopupItemsArea_BudwayDirectMarron
{
    color: Black;
    background-color: #f5ecf1;
}
.dxcvFilterPopupButtonPanel_BudwayDirectMarron
{
    background-color: #eed8e3;
    border: 1px solid #dcdcdc;
    border-left: 0px solid #dcdcdc;
    color: Black;
}

.dxcvFilterPopupItem_BudwayDirectMarron td.dxcv,
.dxcvFilterPopupActiveItem_BudwayDirectMarron td.dxcv,
.dxcvFilterPopupSelectedItem_BudwayDirectMarron td.dxcv
{
    padding: 3px 2px 4px 4px;
    border-left: 1px solid #f5ecf1;
    border-top: 1px solid #f5ecf1;
    border-right: 1px solid #f5ecf1;
    cursor: default;
    white-space: nowrap;
}
.dxcvFilterPopupActiveItem_BudwayDirectMarron
{
    background: #dbbbda none;
    color: Black;
}
.dxcvFilterPopupSelectedItem_BudwayDirectMarron
{
    color: White;
    background: #8A0A37 none;
}

.dxcvTable_BudwayDirectMarron
{
    background-color: White;
    border-width: 0;
    border-collapse: separate!important;
    overflow: hidden;
    padding: 20px;
}

.dxcvHeader_BudwayDirectMarron
{
    cursor: pointer;
    white-space: nowrap;
    padding: 5px;
    border: 1px Solid #8A0A37;
    background: #F27AA4 url('cvHeaderBackground.gif') repeat-x top;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}

.dxcvHeader_BudwayDirectMarron a,
.dxcvHeader_BudwayDirectMarron a:hover
{
    color: White;
}

.dxcvHeader_BudwayDirectMarron,
.dxcvHeader_BudwayDirectMarron table
{
    color: #FFFFFF;
}
.dxcvHeader_BudwayDirectMarron td
{
    white-space: nowrap;
}
.dxcvHeader_BudwayDirectMarron a.dxcvCommandItem_BudwayDirectMarron
{
    margin: 0px 3px 0px 0px;
    color: White;
}
.dxcvHeader_BudwayDirectMarron a.dxcvCommandItem_BudwayDirectMarron:hover
{
    color: White;
}
.dxcvCustomization_BudwayDirectMarron, 
.dxcvPopupEditForm_BudwayDirectMarron
{
    padding: 0;
    margin: 0;
}

.dxcvTitlePanel_BudwayDirectMarron,
.dxcvTable_BudwayDirectMarron caption
{
    font-weight: normal;
    padding: 5px 5px 6px;
    text-align: center;
    border-bottom: 1px Solid #8A0A37;
    color: #8A0A37;
    background-color: #EED8E3;
}
.dxcvStatusBar_BudwayDirectMarron
{
    border-top: 1px Solid #D5D5D5;
}
.dxcvStatusBar_BudwayDirectMarron tr.dxcv
{
    height: 20px;
}
.dxcvStatusBar_BudwayDirectMarron tr.dxcv > td
{
    padding: 4px;
}
.dxcvStatusBar_BudwayDirectMarron tr.dxcv span .dxbButtonSys:first-child
{
	margin-left: 2px;
}

.dxbButton_BudwayDirectMarron[class~="dxcvCommandItem_BudwayDirectMarron"]
{
    margin: 0px 2px 0px 2px;
}
.dxbButton_BudwayDirectMarron[class~="dxcvCommandItem_BudwayDirectMarron"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxcvPagerTopPanel_BudwayDirectMarron,
.dxcvPagerBottomPanel_BudwayDirectMarron
{
    padding: 4px 0;
}
.dxcvPagerTopPanel_BudwayDirectMarron 
{
    border-bottom: 1px solid #8A0A37;
}
.dxcvPagerBottomPanel_BudwayDirectMarron
{
    border-top: 1px solid #8A0A37;
}

.dxcvFilterBar_BudwayDirectMarron
{
    border-top: 1px solid #e2ccd4;
    background: #efe2e8 none;
}
.dxcvFilterBar_BudwayDirectMarron a
{
    color: #8A0A37;
    text-decoration: underline;
}
.dxcvFilterBar_BudwayDirectMarron a:hover
{
    color: #BE458B;
}
.dxcvFilterBarCheckBoxCell_BudwayDirectMarron
{
    padding: 0 7px 0 3px;
}
.dxcvFilterBarImageCell_BudwayDirectMarron
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxcvFilterBarExpressionCell_BudwayDirectMarron
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxcvFilterBarClearButtonCell_BudwayDirectMarron
{
    padding: 5px 6px 8px;
}
.dxcvFilterBuilderMainArea_BudwayDirectMarron
{
    background: white none;
    padding: 6px 2px;
} 
.dxcvFilterBuilderButtonArea_BudwayDirectMarron
{
    background-color: #EED8E3;
    border-top: 1px solid #CB9FB4;
    padding: 6px;
    white-space: nowrap;
}

.dxcvControl_BudwayDirectMarron .dxpSummary_BudwayDirectMarron,
.dxcvControl_BudwayDirectMarron .dxpPageSizeItem_BudwayDirectMarron,
.dxcvControl_BudwayDirectMarron .dxpLite_BudwayDirectMarron .dx-summary,
.dxcvControl_BudwayDirectMarron .dxpLite_BudwayDirectMarron .dxp-pageSizeItem
{
    color: #727272;
}
.dxcvControl_BudwayDirectMarron .dxcvHFSAC
{
    padding: 9px 0 0 5px;
}
.dxcvControl_BudwayDirectMarron .dxcvHFSC
{
    padding: 9px 0 6px;
}
.dxcvControl_BudwayDirectMarron .dxcvHFSC div
{
    height: 1px;
    background: #8A0A37;
}
.dxcvControl_BudwayDirectMarron .dxcvHFSAC,
.dxcvControl_BudwayDirectMarron .dxcvHFSC,
.dxcvControl_BudwayDirectMarron .dxcvHFLC
{
    background: White;
}
.dxcvControl_BudwayDirectMarron div[id$='DXEPLPC']
{
    height: 59px;
}

.dxcvControl_BudwayDirectMarron .dxcvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxcvControl_BudwayDirectMarron .dxcvHFDRC
{
    margin: 15px 15px 25px;
}
.dxcvControl_BudwayDirectMarron .dxcvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxcvControl_BudwayDirectMarron .dxcvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxcvControl_BudwayDirectMarron .dxcvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}

/* Removes flicking in iOS Safari*/
.dxcvTable_BudwayDirectMarron
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.dxcvSearchPanel_BudwayDirectMarron
{
    background: #E2A4BA;
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #8A0A37;
}
.dxcvSearchPanel_BudwayDirectMarron > table 
{
    width: 70%;
    max-width: 450px;
}
.dxcvControl_BudwayDirectMarron .dxcvSearchPanel_BudwayDirectMarron .dxbButton_BudwayDirectMarron
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxcvControl_BudwayDirectMarron .dxcvSearchPanel_BudwayDirectMarron .dxbButton_BudwayDirectMarron {
    margin-left: 0;
    margin-right: 7px;
}
.dxcvControl_BudwayDirectMarron .dxcvHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxcvControl_BudwayDirectMarron .dxcvSearchPanel_BudwayDirectMarron .dxbButton_BudwayDirectMarron
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxcvControl_BudwayDirectMarron .dxcvSearchPanel_BudwayDirectMarron .dxbButton_BudwayDirectMarron .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}


.dxcvCard_BudwayDirectMarron,
.dxcvFlowCard_BudwayDirectMarron,
.dxcvEmptyCard_BudwayDirectMarron,
.dxcvEmptyHiddenCard_BudwayDirectMarron
{
    width: 250px;
    height: 180px;
    vertical-align: top;
}
.dxcvCard_BudwayDirectMarron,
.dxcvFlowCard_BudwayDirectMarron,
.dxcvEmptyCard_BudwayDirectMarron
{
    border: 1px solid #BC758E;
    background-color: #EED8E3;
    color: #262626;
    outline: none;
}
.dxcvEmptyCard_BudwayDirectMarron
{
    text-align: center;
    vertical-align: middle;
}
.dxcvEmptyHiddenCard_BudwayDirectMarron
{
    border: 1px solid transparent;
    background-color: transparent;
}
.dxcvFlowCard_BudwayDirectMarron,
div.dxcvEmptyCard_BudwayDirectMarron
{
    display: inline-block;
    margin: 20px 0 0 20px;
    overflow: hidden;
}
.dxcvSelectedCard_BudwayDirectMarron,
.dxcvFocusedCard_BudwayDirectMarron
{
    border-color: #93214E;
    outline: 3px solid #AD275C;
}
.dxcvFocusedCard_BudwayDirectMarron
{
    background-color: White;
}
.dxcvCardHover_BudwayDirectMarron
{
    border-color: #BC758E;
    outline: 3px solid #DBBBDA;
}

.dxcvCard_BudwayDirectMarron .dxflCaption_BudwayDirectMarron,
.dxcvFlowCard_BudwayDirectMarron .dxflCaption_BudwayDirectMarron
{
    color: #7F7F7F;
}
.dxcvCard_BudwayDirectMarron .dxflViewFormLayoutSys .dxflCommandItemSys,
.dxcvFlowCard_BudwayDirectMarron .dxflViewFormLayoutSys .dxflCommandItemSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxcvHeaderPanel_BudwayDirectMarron
{
    background-color: #AA1248;
    border-bottom: 1px solid #8A0A37;
    padding: 2px 20px 8px 20px;
}
div.dxcvHeader_BudwayDirectMarron
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}
.dxcvSummaryPanel_BudwayDirectMarron
{
    background-color: #EED8E3;
    border-top: 1px solid #8A0A37;
    padding: 8px 21px;
}
.dxcvSummaryItem_BudwayDirectMarron
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
.dxcvControl_BudwayDirectMarron .dxcvSeparator_BudwayDirectMarron,
.dxcvControl_BudwayDirectMarron .dxcvSeparator_BudwayDirectMarron div
{
    width: 20px;
    height: 20px;
}


.dxcvControl_BudwayDirectMarron td.dxcvBatchEditCell_BudwayDirectMarron
{
    padding: 0;
    outline-width: 0!important;
}
.dxcvControl_BudwayDirectMarron .dxcvBatchEditModifiedCell_BudwayDirectMarron
{
    background: #d7f9c7;
    outline-style: solid;
    outline-color: #d7f9c7;
    outline-width: 2px;
}
.dxcvControl_BudwayDirectMarron .dxcvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxcvControl_BudwayDirectMarron .dxcvErrorCell img
{
    margin: -3px 0;
}
.dxcvStatusBar_BudwayDirectMarron .dxbButton_BudwayDirectMarron
{
    margin-right: 10px;
}
.dxcvControl_BudwayDirectMarron td.dxcvBatchEditCell_BudwayDirectMarron .dxichCellSys 
{
    padding-left: 0;
}
.dxcvControl_BudwayDirectMarron .dxcvEMBC 
{
    background: white;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
}
.dxcvCardError_BudwayDirectMarron
{
 	background-color: #F3D6D6;	
    border-top: 1px solid #BC758E;
	color: #BA1717;
    padding: 6px 13px;
}

.dxcvFocusedCell_BudwayDirectMarron
{
     box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
.dxcvFocusedCell_BudwayDirectMarron .dxcvBatchEditModifiedCell_BudwayDirectMarron:not(.dxcvBatchEditCell_BudwayDirectMarron)
{
    outline: none;
    box-shadow: 2px 1px 0 #d7f9c7, 2px 0px 0 #d7f9c7;
    -webkit-box-shadow: 2px 1px 0 #d7f9c7, 2px 0px 0 #d7f9c7;
    -moz-box-shadow: 2px 1px 0 #d7f9c7, 2px 0px 0 #d7f9c7;
}
