<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>

	  <add name="UPA No Rep DataConnectionString" connectionString="Server=sql4.budway.info;Database=&quot;UPA No Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="UPA Rep DataConnectionString" connectionString="Server=sql4.budway.info;Database=&quot;UPA Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Server=sql4.budway.info;Database=aspnetdb;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="DWS_No_Rep_DataConnectionString" connectionString="Server=sql4.budway.info;Database=&quot;DWS No Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="DWS_Rep_DataConnectionString" connectionString="Server=sql4.budway.info;Database=&quot;DWS Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />  
	  
    <!--<add name="UPA No Rep DataConnectionString" connectionString="Server=ws.budway.info;Database=&quot;UPA No Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="UPA Rep DataConnectionString" connectionString="Server=ws.budway.info;Database=&quot;UPA Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Server=ws.budway.info;Database=aspnetdb;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="DWS_No_Rep_DataConnectionString" connectionString="Server=ws.budway.info;Database=&quot;DWS No Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="DWS_Rep_DataConnectionString" connectionString="Server=ws.budway.info;Database=&quot;DWS Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />-->

    <!--<add name="UPA No Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;UPA No Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UPA Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;UPA Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Initial Catalog=aspnetdb;data source=SQL4;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DWS_No_Rep_DataConnectionString" connectionString="Data Source=sql4;Initial Catalog=&quot;DWS No Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DWS_Rep_DataConnectionString" connectionString="Data Source=sql4;Initial Catalog=&quot;DWS Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!-- New DEV system connection strings -->
    <!--
    <add name="DWS No Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;DWS No Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="DWS Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;DWS Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Data Source=sql4.budway.info;Initial Catalog=aspnetdb;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="UPA No Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;UPA No Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="UPA Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;UPA Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <!-- Set the authentication timeout to an hour -->
      <forms name="SqlAuthCookie" loginUrl="~/Authentication/Login.aspx" timeout="60" />
    </authentication>
    <membership defaultProvider="Sql1MembershipProvider">
      <providers>
        <clear />
        <add name="Sql1MembershipProvider" connectionStringName="Sql1MembershipDatabase" applicationName="UpaWeb" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="Sql1RoleProvider">
      <providers>
        <clear />
        <add connectionStringName="Sql1MembershipDatabase" applicationName="UpaWeb" name="Sql1RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v16.2.Web, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGauges.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" checkReferencesToExternalScripts="false" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="scmwebinfo@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="scmwebinfo@gmail.com" password="P1c0r1v3ra" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="ForgetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>