<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif"></parameter>
	<parameter Name="Base Color" Value="#BF4E6A" Type="Color"></parameter>
	<parameter Name="Alt Color" Value="#EFD3DA" Type="Color" Base="Base Color" Expression="1,0.203,1.253"></parameter>
</parameters>
