.dxDateEditSys .dxEditors_edtDropDown_BudwayThemeFromMulberry,
.dxDateEditSys .dxEditors_edtDropDownDisabled_BudwayThemeFromMulberry,
.dxeButtonEditButtonHover_BudwayThemeFromMulberry .dxEditors_edtClear_BudwayThemeFromMulberry,
.dxEditors_caRefresh_BudwayThemeFromMulberry,
.dxEditors_edtBinaryImageDelete_BudwayThemeFromMulberry,
.dxEditors_edtBinaryImageOpenDialog_BudwayThemeFromMulberry,
.dxEditors_edtCalendarFNNextYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarFNPrevYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextMonth_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextMonthDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextYearDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevMonth_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevMonthDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevYearDisabled_BudwayThemeFromMulberry,
.dxEditors_edtClear_BudwayThemeFromMulberry,
.dxEditors_edtDETSClockFace_BudwayThemeFromMulberry,
.dxEditors_edtDETSHourHand_BudwayThemeFromMulberry,
.dxEditors_edtDETSMinuteHand_BudwayThemeFromMulberry,
.dxEditors_edtDETSSecondHand_BudwayThemeFromMulberry,
.dxEditors_edtDropDown_BudwayThemeFromMulberry,
.dxEditors_edtDropDownDisabled_BudwayThemeFromMulberry,
.dxEditors_edtEllipsis_BudwayThemeFromMulberry,
.dxEditors_edtEllipsisDisabled_BudwayThemeFromMulberry,
.dxEditors_edtError_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonChecked_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonCheckedDisabled_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonUnchecked_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonUncheckedDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditDecrementImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditDecrementImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditIncrementImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditIncrementImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeDecImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeDecImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeIncImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeIncImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtTokenBoxTokenRemoveButton_BudwayThemeFromMulberry,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BudwayThemeFromMulberry,
.dxEditors_fcadd_BudwayThemeFromMulberry,
.dxEditors_fcaddhot_BudwayThemeFromMulberry,
.dxEditors_fcgroupaddcondition_BudwayThemeFromMulberry,
.dxEditors_fcgroupaddgroup_BudwayThemeFromMulberry,
.dxEditors_fcgroupand_BudwayThemeFromMulberry,
.dxEditors_fcgroupnotand_BudwayThemeFromMulberry,
.dxEditors_fcgroupnotor_BudwayThemeFromMulberry,
.dxEditors_fcgroupor_BudwayThemeFromMulberry,
.dxEditors_fcgroupremove_BudwayThemeFromMulberry,
.dxEditors_fcopany_BudwayThemeFromMulberry,
.dxEditors_fcopavg_BudwayThemeFromMulberry,
.dxEditors_fcopbegin_BudwayThemeFromMulberry,
.dxEditors_fcopbetween_BudwayThemeFromMulberry,
.dxEditors_fcopblank_BudwayThemeFromMulberry,
.dxEditors_fcopcontain_BudwayThemeFromMulberry,
.dxEditors_fcopcount_BudwayThemeFromMulberry,
.dxEditors_fcopend_BudwayThemeFromMulberry,
.dxEditors_fcopequal_BudwayThemeFromMulberry,
.dxEditors_fcopexists_BudwayThemeFromMulberry,
.dxEditors_fcopgreater_BudwayThemeFromMulberry,
.dxEditors_fcopgreaterorequal_BudwayThemeFromMulberry,
.dxEditors_fcopless_BudwayThemeFromMulberry,
.dxEditors_fcoplessorequal_BudwayThemeFromMulberry,
.dxEditors_fcoplike_BudwayThemeFromMulberry,
.dxEditors_fcopmax_BudwayThemeFromMulberry,
.dxEditors_fcopmin_BudwayThemeFromMulberry,
.dxEditors_fcopnotany_BudwayThemeFromMulberry,
.dxEditors_fcopnotbetween_BudwayThemeFromMulberry,
.dxEditors_fcopnotblank_BudwayThemeFromMulberry,
.dxEditors_fcopnotcontain_BudwayThemeFromMulberry,
.dxEditors_fcopnotequal_BudwayThemeFromMulberry,
.dxEditors_fcopnotlike_BudwayThemeFromMulberry,
.dxEditors_fcopsingle_BudwayThemeFromMulberry,
.dxEditors_fcopsum_BudwayThemeFromMulberry,
.dxEditors_fcoptypefield_BudwayThemeFromMulberry,
.dxEditors_fcoptypefieldhot_BudwayThemeFromMulberry,
.dxEditors_fcoptypevalue_BudwayThemeFromMulberry,
.dxEditors_fcoptypevaluehot_BudwayThemeFromMulberry,
.dxEditors_fcremove_BudwayThemeFromMulberry,
.dxEditors_fcremovehot_BudwayThemeFromMulberry
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxDateEditSys .dxEditors_edtDropDown_BudwayThemeFromMulberry
{
    background-position: -60px -169px;
    width: 21px;
    height: 22px;
}
.dxDateEditSys .dxEditors_edtDropDownDisabled_BudwayThemeFromMulberry
{
    background-position: -48px -217px;
    width: 21px;
    height: 22px;
}
.dxeButtonEditButtonHover_BudwayThemeFromMulberry .dxEditors_edtClear_BudwayThemeFromMulberry
{
    background-position: -119px -263px;
    width: 18px;
    height: 18px;
}
.dxEditors_caRefresh_BudwayThemeFromMulberry
{
    background-position: -104px -136px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtBinaryImageDelete_BudwayThemeFromMulberry
{
    background-position: -38px -136px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtBinaryImageOpenDialog_BudwayThemeFromMulberry
{
    background-position: -71px -136px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtCalendarFNNextYear_BudwayThemeFromMulberry
{
    background-position: -80px -263px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarFNPrevYear_BudwayThemeFromMulberry
{
    background-position: -116px -241px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextMonth_BudwayThemeFromMulberry
{
    background-position: -20px -263px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextMonthDisabled_BudwayThemeFromMulberry
{
    background-position: -40px -263px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextYear_BudwayThemeFromMulberry
{
    background-position: -68px -241px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarNextYearDisabled_BudwayThemeFromMulberry
{
    background-position: -44px -241px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarPrevMonth_BudwayThemeFromMulberry
{
    background-position: -60px -263px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarPrevMonthDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -263px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarPrevYear_BudwayThemeFromMulberry
{
    background-position: -18px -197px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarPrevYearDisabled_BudwayThemeFromMulberry
{
    background-position: -92px -241px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtClear_BudwayThemeFromMulberry
{
    background-position: -100px -263px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtDETSClockFace_BudwayThemeFromMulberry
{
    background-position: 0px 0px;
    width: 135px;
    height: 135px;
}
.dxEditors_edtDETSHourHand_BudwayThemeFromMulberry
{
    background-position: -30px -136px;
    width: 7px;
    height: 60px;
}
.dxEditors_edtDETSHourHand_BudwayThemeFromMulberry
{
    background-position: -22px -136px \9;
    width: 7px \9;
    height: 60px \9;
}
.dxEditors_edtDETSMinuteHand_BudwayThemeFromMulberry
{
    background-position: -14px -136px;
    width: 7px;
    height: 60px;
}
.dxEditors_edtDETSMinuteHand_BudwayThemeFromMulberry
{
    background-position: -6px -136px \9;
    width: 7px \9;
    height: 60px \9;
}
.dxEditors_edtDETSSecondHand_BudwayThemeFromMulberry
{
    background-position: 0px -136px;
    width: 5px;
    height: 80px;
}
.dxEditors_edtDETSSecondHand_BudwayThemeFromMulberry
{
    background-position: -136px 0px \9;
    width: 5px \9;
    height: 80px \9;
}
.dxEditors_edtDropDown_BudwayThemeFromMulberry
{
    background-position: -104px -169px;
    width: 21px;
    height: 22px;
}
.dxEditors_edtDropDownDisabled_BudwayThemeFromMulberry
{
    background-position: -38px -169px;
    width: 21px;
    height: 22px;
}
.dxEditors_edtEllipsis_BudwayThemeFromMulberry
{
    background-position: -70px -217px;
    width: 21px;
    height: 22px;
}
.dxEditors_edtEllipsisDisabled_BudwayThemeFromMulberry
{
    background-position: -82px -169px;
    width: 21px;
    height: 22px;
}
.dxEditors_edtError_BudwayThemeFromMulberry
{
    background-position: -126px -177px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_BudwayThemeFromMulberry
{
    background-position: -67px -192px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonCheckedDisabled_BudwayThemeFromMulberry
{
    background-position: -42px -192px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonUnchecked_BudwayThemeFromMulberry
{
    background-position: -92px -192px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_BudwayThemeFromMulberry
{
    background-position: -117px -192px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtSpinEditDecrementImage_BudwayThemeFromMulberry
{
    background-position: -72px -342px;
    width: 21px;
    height: 10px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_BudwayThemeFromMulberry
{
    background-position: -94px -342px;
    width: 21px;
    height: 10px;
}
.dxEditors_edtSpinEditIncrementImage_BudwayThemeFromMulberry
{
    background-position: -28px -342px;
    width: 21px;
    height: 10px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_BudwayThemeFromMulberry
{
    background-position: -50px -342px;
    width: 21px;
    height: 10px;
}
.dxEditors_edtSpinEditLargeDecImage_BudwayThemeFromMulberry
{
    background-position: -22px -241px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_BudwayThemeFromMulberry
{
    background-position: -114px -217px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtSpinEditLargeIncImage_BudwayThemeFromMulberry
{
    background-position: 0px -241px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_BudwayThemeFromMulberry
{
    background-position: -92px -217px;
    width: 21px;
    height: 21px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_BudwayThemeFromMulberry
{
    background-position: 0px -217px;
    width: 23px;
    height: 23px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BudwayThemeFromMulberry
{
    background-position: -24px -217px;
    width: 23px;
    height: 23px;
}
.dxEditors_fcadd_BudwayThemeFromMulberry
{
    background-position: -70px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_BudwayThemeFromMulberry
{
    background-position: -14px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_BudwayThemeFromMulberry
{
    background-position: -56px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_BudwayThemeFromMulberry
{
    background-position: -14px -342px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_BudwayThemeFromMulberry
{
    background-position: -119px -283px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_BudwayThemeFromMulberry
{
    background-position: 0px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_BudwayThemeFromMulberry
{
    background-position: -56px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_BudwayThemeFromMulberry
{
    background-position: -112px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_BudwayThemeFromMulberry
{
    background-position: -56px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_BudwayThemeFromMulberry
{
    background-position: 0px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopavg_BudwayThemeFromMulberry
{
    background-position: 0px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopbegin_BudwayThemeFromMulberry
{
    background-position: -14px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_BudwayThemeFromMulberry
{
    background-position: -126px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_BudwayThemeFromMulberry
{
    background-position: -84px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_BudwayThemeFromMulberry
{
    background-position: -112px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcount_BudwayThemeFromMulberry
{
    background-position: -34px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopend_BudwayThemeFromMulberry
{
    background-position: -28px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_BudwayThemeFromMulberry
{
    background-position: -126px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopexists_BudwayThemeFromMulberry
{
    background-position: -85px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopgreater_BudwayThemeFromMulberry
{
    background-position: -112px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_BudwayThemeFromMulberry
{
    background-position: -98px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_BudwayThemeFromMulberry
{
    background-position: -42px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_BudwayThemeFromMulberry
{
    background-position: -70px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_BudwayThemeFromMulberry
{
    background-position: -84px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopmax_BudwayThemeFromMulberry
{
    background-position: -68px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopmin_BudwayThemeFromMulberry
{
    background-position: -17px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopnotany_BudwayThemeFromMulberry
{
    background-position: -98px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_BudwayThemeFromMulberry
{
    background-position: 0px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_BudwayThemeFromMulberry
{
    background-position: -28px -300px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_BudwayThemeFromMulberry
{
    background-position: -126px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_BudwayThemeFromMulberry
{
    background-position: 0px -342px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_BudwayThemeFromMulberry
{
    background-position: -98px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopsingle_BudwayThemeFromMulberry
{
    background-position: -51px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcopsum_BudwayThemeFromMulberry
{
    background-position: -102px -283px;
    width: 16px;
    height: 16px;
}
.dxEditors_fcoptypefield_BudwayThemeFromMulberry
{
    background-position: -84px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypefieldhot_BudwayThemeFromMulberry
{
    background-position: -28px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevalue_BudwayThemeFromMulberry
{
    background-position: -14px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoptypevaluehot_BudwayThemeFromMulberry
{
    background-position: -42px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_BudwayThemeFromMulberry
{
    background-position: -42px -328px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_BudwayThemeFromMulberry
{
    background-position: -70px -314px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtRadioButtonChecked_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonCheckedDisabled_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonUnchecked_BudwayThemeFromMulberry,
.dxEditors_edtRadioButtonUncheckedDisabled_BudwayThemeFromMulberry
{
    background-color: #BF4E6A;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_BudwayThemeFromMulberry,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BudwayThemeFromMulberry
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_BudwayThemeFromMulberry,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BudwayThemeFromMulberry
{
	z-index: 7;
}
.dxEditors_edtError_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevYearDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevMonth_BudwayThemeFromMulberry,
.dxEditors_edtCalendarPrevMonthDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextMonth_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextMonthDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarNextYearDisabled_BudwayThemeFromMulberry,
.dxEditors_edtCalendarFNPrevYear_BudwayThemeFromMulberry,
.dxEditors_edtCalendarFNNextYear_BudwayThemeFromMulberry,
.dxEditors_edtEllipsis_BudwayThemeFromMulberry,
.dxEditors_edtEllipsisDisabled_BudwayThemeFromMulberry,
.dxEditors_edtEllipsisHover_BudwayThemeFromMulberry,
.dxEditors_edtEllipsisPressed_BudwayThemeFromMulberry,
.dxEditors_edtDropDown_BudwayThemeFromMulberry,
.dxEditors_edtDropDownDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditIncrementImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditIncrementImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditDecrementImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditDecrementImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeIncImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeIncImageDisabled_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeDecImage_BudwayThemeFromMulberry,
.dxEditors_edtSpinEditLargeDecImageDisabled_BudwayThemeFromMulberry
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_BudwayThemeFromMulberry
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_BudwayThemeFromMulberry
{
    margin-left: 8px;
}

