<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- test system connection string
    <add key="Db1Connection" value="Data Source=ws.budway.info;Initial Catalog=&quot;DWS No Rep Data&quot;;User ID=driver;Password=driver@123" />
-->
    <!-- security file connection -->
    <add key="Db1Connection" value="Data Source=SQL4;Initial Catalog=&quot;DWS No Rep Data&quot;;Integrated Security=True" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <connectionStrings>
    <!-- New DEV system connection strings
    <add name="DWS No Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;DWS No Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="DWS Rep DataConnectionString" connectionString="Data Source=sql4.budway.info;Initial Catalog=&quot;DWS Rep Data&quot;;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Data Source=sql4.budway.info;Initial Catalog=aspnetdb;User ID=Dipak;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    -->
    <!-- test system connection strings 
    <add name="DWS No Rep DataConnectionString" connectionString="Data Source=ws.budway.info;Initial Catalog=&quot;DWS No Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="DWS Rep DataConnectionString" connectionString="Data Source=ws.budway.info;Initial Catalog=&quot;DWS Rep Data&quot;;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    <add name="Sql1MembershipDatabase" connectionString="Data Source=ws.budway.info;Initial Catalog=aspnetdb;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
    -->
    <!--Live Database 
	  <add name="DWS No Rep DataConnectionString" connectionString="Data Source=sql.sc-man.com;Initial Catalog=&quot;DWS No Rep Data&quot;;User ID=Dipak;Password=@cc3ss2016" providerName="System.Data.SqlClient" />
	  <add name="DWS Rep DataConnectionString" connectionString="Data Source=sql.sc-man.com;Initial Catalog=&quot;DWS Rep Data&quot;;User ID=Dipak;Password=@cc3ss2016" providerName="System.Data.SqlClient" />
	  <add name="Sql1MembershipDatabase" connectionString="Data Source=ws.budway.info;Initial Catalog=aspnetdb;User ID=driver;Password=driver@123" providerName="System.Data.SqlClient" />
	  -->
    <!-- production system connection strings -->
    <add name="DWS No Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;DWS No Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DWS Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;DWS Rep Data&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Sql1MembershipDatabase" connectionString="Initial Catalog=aspnetdb;data source=SQL4;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Data.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v16.2.Core, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Errors/404.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Sql1MembershipDatabase" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="CopsWeb" />
      </providers>
    </membership>
    <profile enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Sql1MembershipDatabase" applicationName="CopsWeb" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Sql1MembershipDatabase" applicationName="CopsWeb" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="CopsWeb" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <globalization culture="" uiCulture="" />
    <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5" />
    <pages validateRequest="true" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" customThemeAssemblies="BudwayThemeAssemblyFromMulberry" theme="BudwayThemeFromMulberry" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" checkReferencesToExternalScripts="true" ieCompatibilityVersion="edge" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="dipak.smtp.test@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="dipak.smtp.test@gmail.com" password="dipak@123" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@sc-man.com">
				<network host="smtp.office365.com" port="587" userName="info@sc-man.com" password="Royalflu15" enableSsl="true"	/>
			</smtp>
		</mailSettings>
	</system.net>-->
</configuration>