.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_BudwayDirectMarron,
.dxPivotGrid_FLBottomPanelOnly2by2_BudwayDirectMarron,
.dxPivotGrid_FLButton_BudwayDirectMarron,
.dxPivotGrid_FLColumnAreaHeaders_BudwayDirectMarron,
.dxPivotGrid_FLDataAreaHeaders_BudwayDirectMarron,
.dxPivotGrid_FLFieldList_BudwayDirectMarron,
.dxPivotGrid_FLFilterAreaHeaders_BudwayDirectMarron,
.dxPivotGrid_FLRowAreaHeaders_BudwayDirectMarron,
.dxPivotGrid_FLStackedDefault_BudwayDirectMarron,
.dxPivotGrid_FLStackedSideBySide_BudwayDirectMarron,
.dxPivotGrid_FLTopPanelOnly_BudwayDirectMarron,
.dxPivotGrid_pgCollapsedButton_BudwayDirectMarron,
.dxPivotGrid_pgCustomizationFormCloseButton_BudwayDirectMarron,
.dxPivotGrid_pgDataHeaders_BudwayDirectMarron,
.dxPivotGrid_pgDragArrowDown_BudwayDirectMarron,
.dxPivotGrid_pgDragArrowLeft_BudwayDirectMarron,
.dxPivotGrid_pgDragArrowRight_BudwayDirectMarron,
.dxPivotGrid_pgDragArrowUp_BudwayDirectMarron,
.dxPivotGrid_pgDragHideField_BudwayDirectMarron,
.dxPivotGrid_pgExpandedButton_BudwayDirectMarron,
.dxPivotGrid_pgFilterButton_BudwayDirectMarron,
.dxPivotGrid_pgFilterButtonActive_BudwayDirectMarron,
.dxPivotGrid_pgFilterResizer_BudwayDirectMarron,
.dxPivotGrid_pgGroupSeparator_BudwayDirectMarron,
.dxPivotGrid_pgPrefilterButton_BudwayDirectMarron,
.dxPivotGrid_pgSortByColumn_BudwayDirectMarron,
.dxPivotGrid_pgSortDownButton_BudwayDirectMarron,
.dxPivotGrid_pgSortUpButton_BudwayDirectMarron
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -77px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -51px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -68px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -34px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -17px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: 0px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -51px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -85px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_BudwayDirectMarron
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_BudwayDirectMarron
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_BudwayDirectMarron
{
    background-position: -34px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_BudwayDirectMarron
{
    background-position: -68px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_BudwayDirectMarron
{
    background-position: -60px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_BudwayDirectMarron
{
    background-position: 0px -86px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_BudwayDirectMarron
{
    background-position: -17px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_BudwayDirectMarron
{
    background-position: -85px -103px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_BudwayDirectMarron
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_BudwayDirectMarron
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_BudwayDirectMarron
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_BudwayDirectMarron
{
    background-position: -89px -33px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_BudwayDirectMarron
{
    background-position: -20px -66px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgDataHeaders_BudwayDirectMarron
{
    background-position: -68px -120px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_BudwayDirectMarron
{
    background-position: -77px -56px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_BudwayDirectMarron
{
    background-position: -81px -120px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_BudwayDirectMarron
{
    background-position: -94px -66px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_BudwayDirectMarron
{
    background-position: -91px -120px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_BudwayDirectMarron
{
    background-position: -66px -33px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_BudwayDirectMarron
{
    background-position: -89px -50px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgFilterButton_BudwayDirectMarron
{
    background-position: 0px -66px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgFilterButtonActive_BudwayDirectMarron
{
    background-position: -40px -66px;
    width: 19px;
    height: 19px;
}
.dxPivotGrid_pgFilterResizer_BudwayDirectMarron
{
    background-position: -40px -120px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgGroupSeparator_BudwayDirectMarron
{
    background-position: -99px 0px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_BudwayDirectMarron
{
    background-position: -54px -120px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_BudwayDirectMarron
{
    background-position: -24px -120px;
    width: 15px;
    height: 14px;
}
.dxPivotGrid_pgSortDownButton_BudwayDirectMarron
{
    background-position: -12px -120px;
    width: 11px;
    height: 15px;
}
.dxPivotGrid_pgSortUpButton_BudwayDirectMarron
{
    background-position: 0px -120px;
    width: 11px;
    height: 15px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_BudwayDirectMarron,
.dxPivotGrid_FLButton_BudwayDirectMarron
{
    display:block;
}
.dxPivotGrid_FLStackedDefault_BudwayDirectMarron,
.dxPivotGrid_FLStackedSideBySide_BudwayDirectMarron,
.dxPivotGrid_FLTopPanelOnly_BudwayDirectMarron,
.dxPivotGrid_FLBottomPanelOnly2by2_BudwayDirectMarron,
.dxPivotGrid_FLBottomPanelOnly1by4_BudwayDirectMarron
{
    margin-left:-6px;
}
