.dx-acc-r .dxXtraReports_BtnFirstPage_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnLastPage_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnNextPage_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrevPage_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrint_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrintDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrintPage_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSave_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSaveDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSaveWindow_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSearch_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_BtnSearchDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_PageBorder_blc_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_PageBorder_brc_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_PageBorder_tlc_BudwayDirectMarron:before,
.dx-acc-r .dxXtraReports_PageBorder_trc_BudwayDirectMarron:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxXtraReports_BtnFirstPage_BudwayDirectMarron:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -289px;

}
.dx-acc-r .dxXtraReports_BtnLastPage_BudwayDirectMarron:before

{
    left: 0px;
    top: -85px;

}
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -51px;

}
.dx-acc-r .dxXtraReports_BtnNextPage_BudwayDirectMarron:before

{
    left: 0px;
    top: -255px;

}
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -119px;

}
.dx-acc-r .dxXtraReports_BtnPrevPage_BudwayDirectMarron:before

{
    left: 0px;
    top: -136px;

}
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -204px;

}
.dx-acc-r .dxXtraReports_BtnPrint_BudwayDirectMarron:before

{
    left: 0px;
    top: -102px;

}
.dx-acc-r .dxXtraReports_BtnPrintDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -272px;

}
.dx-acc-r .dxXtraReports_BtnPrintPage_BudwayDirectMarron:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -68px;

}
.dx-acc-r .dxXtraReports_BtnSave_BudwayDirectMarron:before

{
    left: 0px;
    top: -170px;

}
.dx-acc-r .dxXtraReports_BtnSaveDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -187px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindow_BudwayDirectMarron:before

{
    left: 0px;
    top: -153px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -221px;

}
.dx-acc-r .dxXtraReports_BtnSearch_BudwayDirectMarron:before

{
    left: 0px;
    top: -17px;

}
.dx-acc-r .dxXtraReports_BtnSearchDisabled_BudwayDirectMarron:before

{
    left: 0px;
    top: -238px;

}
.dx-acc-r .dxXtraReports_PageBorder_blc_BudwayDirectMarron:before

{
    left: 0px;
    top: -306px;

}
.dx-acc-r .dxXtraReports_PageBorder_brc_BudwayDirectMarron:before

{
    left: 0px;
    top: -317px;

}
.dx-acc-r .dxXtraReports_PageBorder_tlc_BudwayDirectMarron:before

{
    left: 0px;
    top: -328px;

}
.dx-acc-r .dxXtraReports_PageBorder_trc_BudwayDirectMarron:before

{
    left: 0px;
    top: -339px;

}
