<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        
    </connectionStrings>     
  -->


  
  
<connectionStrings>

  <!--
    What about NHibernate ????  There are config files - but NHibernate is not listed in the project references.  Is it being used ??  Should those 
    files be eliminated in favor of a section in thw WEB config so transforms can be applied ( https://bradhe.wordpress.com/2010/06/22/migrating-nhibernate-configuration-in-to-web-config/)?    
  -->

  <add name="DWS No Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;DWS No Rep Data&quot;;Integrated Security=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="DWS Rep DataConnectionString" connectionString="Data Source=SQL4;Initial Catalog=&quot;DWS Rep Data&quot;;Integrated Security=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="Sql1MembershipDatabase" connectionString="Initial Catalog=aspnetdb;data source=SQL4;Integrated Security=SSPI"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings> 
    
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>