.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heEnumIcon_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heEventIcon_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heFieldIcon_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heReset_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heSizeGrip_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heToolbarPopOutDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heToolbarPopOutHover_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpBottomLeftCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpBottomRightCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpTopLeftCorner_BudwayDirectMarron:before,
.dx-acc-r .dxHtmlEditor_RoundPanel_herpTopRightCorner_BudwayDirectMarron:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_BudwayDirectMarron:before

{
    left: -54px;
    top: -50px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_BudwayDirectMarron:before

{
    left: -34px;
    top: -57px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_BudwayDirectMarron:before

{
    left: -24px;
    top: -21px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_BudwayDirectMarron:before

{
    left: 0px;
    top: -21px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_BudwayDirectMarron:before

{
    left: -36px;
    top: -21px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_BudwayDirectMarron:before

{
    left: -12px;
    top: -21px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_BudwayDirectMarron:before

{
    left: -46px;
    top: -57px;

}
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_BudwayDirectMarron:before

{
    left: -38px;
    top: -68px;

}
.dx-acc-r .dxHtmlEditor_heEnumIcon_BudwayDirectMarron:before

{
    left: 0px;
    top: -57px;

}
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_BudwayDirectMarron:before

{
    left: -51px;
    top: -40px;

}
.dx-acc-r .dxHtmlEditor_heEventIcon_BudwayDirectMarron:before

{
    left: -17px;
    top: -57px;

}
.dx-acc-r .dxHtmlEditor_heFieldIcon_BudwayDirectMarron:before

{
    left: -48px;
    top: -21px;

}
.dx-acc-r .dxHtmlEditor_heReset_BudwayDirectMarron:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heSizeGrip_BudwayDirectMarron:before

{
    left: -34px;
    top: -40px;

}
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_BudwayDirectMarron:before

{
    left: -17px;
    top: -40px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_BudwayDirectMarron:before

{
    left: -21px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_BudwayDirectMarron:before

{
    left: -41px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_BudwayDirectMarron:before

{
    left: -61px;
    top: 0px;

}
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_BudwayDirectMarron:before

{
    left: -50px;
    top: -66px;

}
.dx-acc-r .dxHtmlEditor_heToolbarPopOutDisabled_BudwayDirectMarron:before

{
    left: -58px;
    top: -66px;

}
.dx-acc-r .dxHtmlEditor_heToolbarPopOutHover_BudwayDirectMarron:before

{
    left: -58px;
    top: -57px;

}
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_BudwayDirectMarron:before

{
    left: 0px;
    top: -40px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpBottomLeftCorner_BudwayDirectMarron:before

{
    left: -12px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpBottomRightCorner_BudwayDirectMarron:before

{
    left: -18px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_BudwayDirectMarron:before

{
    left: -42px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_BudwayDirectMarron:before

{
    left: -54px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_BudwayDirectMarron:before

{
    left: -30px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_BudwayDirectMarron:before

{
    left: -48px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_BudwayDirectMarron:before

{
    left: -24px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_BudwayDirectMarron:before

{
    left: -6px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpTopLeftCorner_BudwayDirectMarron:before

{
    left: -36px;
    top: -74px;

}
.dx-acc-r .dxHtmlEditor_RoundPanel_herpTopRightCorner_BudwayDirectMarron:before

{
    left: 0px;
    top: -74px;

}
