.dx-acc-r .dxTreeList_CollapsedButton_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_CollapsedButtonRtl_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_DragAndDropArrowDown_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_DragAndDropArrowUp_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_DragAndDropHide_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_DragAndDropNode_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_ExpandedButton_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_ExpandedButtonRtl_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_SortAsc_BudwayDirectMarron:before,
.dx-acc-r .dxTreeList_SortDesc_BudwayDirectMarron:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxTreeList_CollapsedButton_BudwayDirectMarron:before

{
    left: 0px;
    top: -39px;

}
.dx-acc-r .dxTreeList_CollapsedButtonRtl_BudwayDirectMarron:before

{
    left: -16px;
    top: -23px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowDown_BudwayDirectMarron:before

{
    left: -12px;
    top: -69px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowUp_BudwayDirectMarron:before

{
    left: 0px;
    top: -69px;

}
.dx-acc-r .dxTreeList_DragAndDropHide_BudwayDirectMarron:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropNode_BudwayDirectMarron:before

{
    left: 0px;
    top: -55px;

}
.dx-acc-r .dxTreeList_ExpandedButton_BudwayDirectMarron:before

{
    left: 0px;
    top: -23px;

}
.dx-acc-r .dxTreeList_ExpandedButtonRtl_BudwayDirectMarron:before

{
    left: -16px;
    top: -39px;

}
.dx-acc-r .dxTreeList_SortAsc_BudwayDirectMarron:before

{
    left: -14px;
    top: -55px;

}
.dx-acc-r .dxTreeList_SortDesc_BudwayDirectMarron:before

{
    left: -23px;
    top: 0px;

}
