.dxtlControl_BudwayDirectMarron
{
	cursor: default;
	font: 12px Tahoma, Geneva, sans-serif;
	color: black;
	border: 1px none #8A0A37;
}
.dxtlControl_BudwayDirectMarron caption
{
	background: #EED8E3 none;
	color: #8A0A37;
	border-bottom: 0 solid #8A0A37;
	border: 1px solid #8A0A37;
	font-weight: normal;
	text-align: center;
	padding: 5px 5px 6px;
}

/* Indent cells */
.dxtlIndent_BudwayDirectMarron,
.dxtlIndentWithButton_BudwayDirectMarron
{
	vertical-align: top;
	background: white none no-repeat top center;
}
.dxtlIndent_BudwayDirectMarron
{
	padding: 0 11px;
}
.dxtlIndentWithButton_BudwayDirectMarron
{
	padding: 4px;
}
.dxtlSelectionCell_BudwayDirectMarron
{
	border: 1px solid #D5D5D5;
}

/* Tree-lines cells */
.dxtlLineRoot_BudwayDirectMarron
{
	background: White url('CssImages/TreeLineRoot.gif') repeat-y top center;
}
.dxtlLineFirst_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineFirst.gif');
}
.dxtlLineMiddle_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineMiddle.gif');
}
.dxtlLineLast_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineLast.gif');
}

.dxtlLineFirstRtl_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineFirstRtl.gif');
}
.dxtlLineMiddleRtl_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineMiddleRtl.gif');
}
.dxtlLineLastRtl_BudwayDirectMarron
{
	background-image: url('CssImages/TreeLineLastRtl.gif');
}


/* Headers */
.dxtlHeader_BudwayDirectMarron,
.dxtlControl_BudwayDirectMarron .dxtlHSDC
{
    background: #F27AA4 url('CssImages/HeaderBack.gif') repeat-x;
}

.dxtlHeader_BudwayDirectMarron
{
	border: 1px solid #8A0A37;
	padding: 5px;
	font-weight: normal;
}
.dxtlHeader_BudwayDirectMarron table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_BudwayDirectMarron td.dxtl
{
	padding: 0;
}
.dxtlHeader_BudwayDirectMarron,
.dxtlHeader_BudwayDirectMarron td.dxtl
{
	color: white;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_BudwayDirectMarron
{
	background: white none;
}
.dxtlAltNode_BudwayDirectMarron > td.dxtl,
.dxtlAltNode_BudwayDirectMarron > .dxtlCommandCell_BudwayDirectMarron,
.dxtlAltNode_BudwayDirectMarron > .dxtlSelectionCell_BudwayDirectMarron
{
	background: #F8EDEF none;
}
.dxtlSelectedNode_BudwayDirectMarron > td.dxtl,
.dxtlSelectedNode_BudwayDirectMarron > .dxtlCommandCell_BudwayDirectMarron,
.dxtlSelectedNode_BudwayDirectMarron > .dxtlSelectionCell_BudwayDirectMarron
{
	background: #AD275C none;
	color: white;
}
.dxtlFocusedNode_BudwayDirectMarron > td.dxtl,
.dxtlFocusedNode_BudwayDirectMarron > .dxtlCommandCell_BudwayDirectMarron,
.dxtlFocusedNode_BudwayDirectMarron > .dxtlSelectionCell_BudwayDirectMarron
{
	background: #8A0A37 none;
	color: white;
}
.dxtlInlineEditNode_BudwayDirectMarron
{
	background: white none;
}
.dxtlEditFormDisplayNode_BudwayDirectMarron
{
	background: #F1E3F1 none;
}
.dxtlNode_BudwayDirectMarron td.dxtl, 
.dxtlAltNode_BudwayDirectMarron  td.dxtl, 
.dxtlSelectedNode_BudwayDirectMarron td.dxtl, 
.dxtlFocusedNode_BudwayDirectMarron td.dxtl,
.dxtlEditFormDisplayNode_BudwayDirectMarron td.dxtl,
.dxtlCommandCell_BudwayDirectMarron
{
	padding: 4px 5px 5px;
	border: 1px solid #D5D5D5;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlHeader_BudwayDirectMarron .dxbButton_BudwayDirectMarron,
.dxtlCommandCell_BudwayDirectMarron .dxbButton_BudwayDirectMarron
{
    margin: 0 2px;
}
.dxtlHeader_BudwayDirectMarron .dxbButton_BudwayDirectMarron .dxb,
.dxtlCommandCell_BudwayDirectMarron .dxbButton_BudwayDirectMarron .dxb
{
    padding-top: 0;
}
.dxtlInlineEditNode_BudwayDirectMarron td.dxtl
{
	border: 1px solid #D5D5D5;
	padding: 1px;
}

/* Preview */
.dxtlPreview_BudwayDirectMarron
{
	background-color: #F6EBF6;
	color: #AD82A4;
	padding: 15px 15px 20px;
	border: 1px solid #D5D5D5;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_BudwayDirectMarron
{
	background-color: #F3E9EF;
}
.dxtlFooter_BudwayDirectMarron,
.dxtlControl_BudwayDirectMarron .dxtlFSDC
{
	background-color: #EED8E3;
}
.dxtlGroupFooter_BudwayDirectMarron td.dxtl,
.dxtlFooter_BudwayDirectMarron td.dxtl
{
	padding: 5px 6px 7px;
	white-space: nowrap;
	border: 1px solid #D5D5D5;
	overflow: hidden;
}
.dxtlGroupFooter_BudwayDirectMarron .dx-ar > br,
.dxtlFooter_BudwayDirectMarron .dx-ar > br
{
    float: none; 
}

/* Pagers */
.dxtlPagerTopPanel_BudwayDirectMarron
{
	border-bottom: 1px none #bc758e;
}
.dxtlPagerBottomPanel_BudwayDirectMarron
{
	border-top: 1px none #bc758e;
}
.dxtlPagerTopPanel_BudwayDirectMarron,
.dxtlPagerBottomPanel_BudwayDirectMarron
{
	padding: 2px 0;
}

/* Editing */
.dxtlEditForm_BudwayDirectMarron
{
	background: #F6EBF6 none;
	border: 1px solid #D5D5D5;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_BudwayDirectMarron,
.dxtlEditFormEditCell_BudwayDirectMarron
{
	padding: 4px;
}
.dxtlEditFormCaption_BudwayDirectMarron
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_BudwayDirectMarron
{
	background: #FFC8C8 none;
	color: #FF0000;
	padding: 6px 10px;
	border: 1px solid #cfcfcf;
}
.dxtlPopupEditForm_BudwayDirectMarron
{
	padding: 12px;
}

/* Links */
.dxtlControl_BudwayDirectMarron a,
.dxtlCommandCell_BudwayDirectMarron a
{
	color: #8A0A37;
}
.dxtlControl_BudwayDirectMarron a:hover
{
	color: #BE458B;
}
.dxtlHeader_BudwayDirectMarron a,
.dxtlFocusedNode_BudwayDirectMarron a,
.dxtlSelectedNode_BudwayDirectMarron a
{
	color: White;
}
.dxtlHeader_BudwayDirectMarron a:hover,
.dxtlFocusedNode_BudwayDirectMarron a:hover,
.dxtlSelectedNode_BudwayDirectMarron a:hover
{
	color: #ffa5eb;
}
.dxtlCommandCell_BudwayDirectMarron a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #767676;
	background-color: #f6f6f6;
	border: 1px solid #898989;
}
.dxtlLoadingPanel_BudwayDirectMarron td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 6px;
}
.dxtlLoadingPanel_BudwayDirectMarron .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 18px;
	width: 18px;
}

/* Disabled */
.dxtlDisabled_BudwayDirectMarron,
.dxtlDisabled_BudwayDirectMarron .dxtl_BudwayDirectMarron
{
	color: #808080;
	cursor: default;
}

