.dx-acc-r .dxTreeList_CollapsedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_CollapsedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_DragAndDropArrowDown_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_DragAndDropArrowUp_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_DragAndDropHide_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_DragAndDropNode_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_ExpandedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_ExpandedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_SortAsc_BudwayThemeFromMulberry:before,
.dx-acc-r .dxTreeList_SortDesc_BudwayThemeFromMulberry:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxTreeList_CollapsedButton_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -39px;

}
.dx-acc-r .dxTreeList_CollapsedButtonRtl_BudwayThemeFromMulberry:before

{
    left: -16px;
    top: -39px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowDown_BudwayThemeFromMulberry:before

{
    left: -12px;
    top: -69px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowUp_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -69px;

}
.dx-acc-r .dxTreeList_DragAndDropHide_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropNode_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -55px;

}
.dx-acc-r .dxTreeList_ExpandedButton_BudwayThemeFromMulberry:before

{
    left: -16px;
    top: -23px;

}
.dx-acc-r .dxTreeList_ExpandedButtonRtl_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -23px;

}
.dx-acc-r .dxTreeList_SortAsc_BudwayThemeFromMulberry:before

{
    left: -14px;
    top: -55px;

}
.dx-acc-r .dxTreeList_SortDesc_BudwayThemeFromMulberry:before

{
    left: -23px;
    top: 0px;

}
