.dxScheduler_TimeMarker_iOS,
.dxScheduler_Appointment_DayClock_iOS,
.dxScheduler_Appointment_EndArrow_iOS,
.dxScheduler_Appointment_NightClock_iOS,
.dxScheduler_Appointment_NoRecurrence_iOS,
.dxScheduler_Appointment_Recurrence_iOS,
.dxScheduler_Appointment_Reminder_iOS,
.dxScheduler_Appointment_StartArrow_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_00_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_05_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_10_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_15_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_20_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_25_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_30_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_35_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_40_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_45_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_50_iOS,
.dxScheduler_AppointmentClockArrows_day_hour_55_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_00_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_05_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_10_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_15_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_20_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_25_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_30_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_35_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_40_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_45_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_50_iOS,
.dxScheduler_AppointmentClockArrows_day_minute_55_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_00_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_05_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_10_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_15_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_20_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_25_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_30_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_35_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_40_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_45_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_50_iOS,
.dxScheduler_AppointmentClockArrows_night_hour_55_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_00_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_05_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_10_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_15_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_20_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_25_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_30_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_35_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_40_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_45_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_50_iOS,
.dxScheduler_AppointmentClockArrows_night_minute_55_iOS,
.dxScheduler_InplaceEditor_Cancel_iOS,
.dxScheduler_InplaceEditor_EditForm_iOS,
.dxScheduler_InplaceEditor_Save_iOS,
.dxScheduler_Menu_Delete_iOS,
.dxScheduler_Menu_GoToDate_iOS,
.dxScheduler_Menu_NewAppointment_iOS,
.dxScheduler_Menu_RecurringAppointment_iOS,
.dxScheduler_MoreButton_Bottom_iOS,
.dxScheduler_MoreButton_BottomHover_iOS,
.dxScheduler_MoreButton_Top_iOS,
.dxScheduler_MoreButton_TopHover_iOS,
.dxScheduler_NavigationButton_Backward_iOS,
.dxScheduler_NavigationButton_BackwardDisabled_iOS,
.dxScheduler_NavigationButton_BackwardHover_iOS,
.dxScheduler_NavigationButton_Forward_iOS,
.dxScheduler_NavigationButton_ForwardDisabled_iOS,
.dxScheduler_NavigationButton_ForwardHover_iOS,
.dxScheduler_ResourceNavigator_Decrease_iOS,
.dxScheduler_ResourceNavigator_DecreaseDisabled_iOS,
.dxScheduler_ResourceNavigator_DecreaseHover_iOS,
.dxScheduler_ResourceNavigator_First_iOS,
.dxScheduler_ResourceNavigator_FirstDisabled_iOS,
.dxScheduler_ResourceNavigator_FirstHover_iOS,
.dxScheduler_ResourceNavigator_Increase_iOS,
.dxScheduler_ResourceNavigator_IncreaseDisabled_iOS,
.dxScheduler_ResourceNavigator_IncreaseHover_iOS,
.dxScheduler_ResourceNavigator_Last_iOS,
.dxScheduler_ResourceNavigator_LastDisabled_iOS,
.dxScheduler_ResourceNavigator_LastHover_iOS,
.dxScheduler_ResourceNavigator_Next_iOS,
.dxScheduler_ResourceNavigator_NextDisabled_iOS,
.dxScheduler_ResourceNavigator_NextHover_iOS,
.dxScheduler_ResourceNavigator_NextPage_iOS,
.dxScheduler_ResourceNavigator_NextPageDisabled_iOS,
.dxScheduler_ResourceNavigator_NextPageHover_iOS,
.dxScheduler_ResourceNavigator_Prev_iOS,
.dxScheduler_ResourceNavigator_PrevDisabled_iOS,
.dxScheduler_ResourceNavigator_PrevHover_iOS,
.dxScheduler_ResourceNavigator_PrevPage_iOS,
.dxScheduler_ResourceNavigator_PrevPageDisabled_iOS,
.dxScheduler_ResourceNavigator_PrevPageHover_iOS,
.dxScheduler_StatusInfo_Error_iOS,
.dxScheduler_StatusInfo_Info_iOS,
.dxScheduler_StatusInfo_Warning_iOS,
.dxScheduler_Tooltip_BottomLeft_iOS,
.dxScheduler_Tooltip_BottomRight_iOS,
.dxScheduler_Tooltip_BottomStem_iOS,
.dxScheduler_Tooltip_Empty_iOS,
.dxScheduler_Tooltip_TopLeft_iOS,
.dxScheduler_Tooltip_TopRight_iOS,
.dxScheduler_ViewNavigator_Backward_iOS,
.dxScheduler_ViewNavigator_Down_iOS,
.dxScheduler_ViewNavigator_Forward_iOS,
.dxScheduler_ViewNavigator_Today_iOS,
.dxScheduler_SmartTag_iOS,
.dxScheduler_CssImages_ButtonBack_iOS,
.dxScheduler_CssImages_ButtonBackHover_iOS,
.dxScheduler_CssImages_ViewSelectorButtonBack_iOS,
.dxScheduler_CssImages_ViewSelectorButtonBackHover_iOS {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxScheduler_TimeMarker_iOS {
    background-position: -1px -1px;
    width: 74px;
    height: 13px;
}

.dxScheduler_Appointment_DayClock_iOS {
    background-position: -76px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_EndArrow_iOS {
    background-position: -92px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NightClock_iOS {
    background-position: -108px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NoRecurrence_iOS {
    background-position: -124px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Recurrence_iOS {
    background-position: -140px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Reminder_iOS {
    background-position: -156px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_StartArrow_iOS {
    background-position: -172px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_00_iOS {
    background-position: -188px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_05_iOS {
    background-position: -204px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_10_iOS {
    background-position: -220px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_15_iOS {
    background-position: -236px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_20_iOS {
    background-position: -252px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_25_iOS {
    background-position: -268px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_30_iOS {
    background-position: -284px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_35_iOS {
    background-position: -300px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_40_iOS {
    background-position: -316px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_45_iOS {
    background-position: -332px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_50_iOS {
    background-position: -348px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_55_iOS {
    background-position: -364px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_00_iOS {
    background-position: -380px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_05_iOS {
    background-position: -396px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_10_iOS {
    background-position: -412px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_15_iOS {
    background-position: -428px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_20_iOS {
    background-position: -444px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_25_iOS {
    background-position: -460px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_30_iOS {
    background-position: -476px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_35_iOS {
    background-position: -492px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_40_iOS {
    background-position: -508px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_45_iOS {
    background-position: -524px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_50_iOS {
    background-position: -540px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_55_iOS {
    background-position: -556px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_00_iOS {
    background-position: -572px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_05_iOS {
    background-position: -588px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_10_iOS {
    background-position: -604px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_15_iOS {
    background-position: -620px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_20_iOS {
    background-position: -636px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_25_iOS {
    background-position: -652px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_30_iOS {
    background-position: -668px -1px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_35_iOS {
    background-position: -1px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_40_iOS {
    background-position: -17px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_45_iOS {
    background-position: -33px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_50_iOS {
    background-position: -49px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_55_iOS {
    background-position: -65px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_00_iOS {
    background-position: -81px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_05_iOS {
    background-position: -97px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_10_iOS {
    background-position: -113px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_15_iOS {
    background-position: -129px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_20_iOS {
    background-position: -145px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_25_iOS {
    background-position: -161px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_30_iOS {
    background-position: -177px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_35_iOS {
    background-position: -193px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_40_iOS {
    background-position: -209px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_45_iOS {
    background-position: -225px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_50_iOS {
    background-position: -241px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_55_iOS {
    background-position: -257px -17px;
    width: 15px;
    height: 15px;
}

.dxScheduler_InplaceEditor_Cancel_iOS {
    background-position: -273px -17px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_EditForm_iOS {
    background-position: -293px -17px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_Save_iOS {
    background-position: -313px -17px;
    width: 19px;
    height: 19px;
}

.dxScheduler_Menu_Delete_iOS {
    background-position: -110px -101px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_GoToDate_iOS {
    background-position: -127px -101px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_NewAppointment_iOS {
    background-position: -144px -101px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_RecurringAppointment_iOS {
    background-position: -161px -101px;
    width: 16px;
    height: 16px;
}

.dxScheduler_MoreButton_Bottom_iOS {
    background-position: -333px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_MoreButton_BottomHover_iOS {
    background-position: -363px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_MoreButton_Top_iOS {
    background-position: -393px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_MoreButton_TopHover_iOS {
    background-position: -423px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_Backward_iOS {
    background-position: -453px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_BackwardDisabled_iOS {
    background-position: -483px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_BackwardHover_iOS {
    background-position: -513px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_Forward_iOS {
    background-position: -543px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_ForwardDisabled_iOS {
    background-position: -573px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_NavigationButton_ForwardHover_iOS {
    background-position: -603px -17px;
    width: 29px;
    height: 29px;
}

.dxScheduler_ResourceNavigator_Decrease_iOS {
    background-position: -633px -17px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_DecreaseDisabled_iOS {
    background-position: -651px -17px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_DecreaseHover_iOS {
    background-position: -669px -17px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_First_iOS {
    background-position: -1px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_FirstDisabled_iOS {
    background-position: -20px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_FirstHover_iOS {
    background-position: -39px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_Increase_iOS {
    background-position: -58px -47px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_IncreaseDisabled_iOS {
    background-position: -76px -47px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_IncreaseHover_iOS {
    background-position: -94px -47px;
    width: 17px;
    height: 18px;
}

.dxScheduler_ResourceNavigator_Last_iOS {
    background-position: -112px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_LastDisabled_iOS {
    background-position: -131px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_LastHover_iOS {
    background-position: -150px -47px;
    width: 18px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_Next_iOS {
    background-position: -169px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_NextDisabled_iOS {
    background-position: -179px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_NextHover_iOS {
    background-position: -189px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_NextPage_iOS {
    background-position: -199px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_NextPageDisabled_iOS {
    background-position: -217px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_NextPageHover_iOS {
    background-position: -235px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_Prev_iOS {
    background-position: -253px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_PrevDisabled_iOS {
    background-position: -263px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_PrevHover_iOS {
    background-position: -273px -47px;
    width: 9px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_PrevPage_iOS {
    background-position: -283px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_PrevPageDisabled_iOS {
    background-position: -301px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_ResourceNavigator_PrevPageHover_iOS {
    background-position: -319px -47px;
    width: 17px;
    height: 12px;
}

.dxScheduler_StatusInfo_Error_iOS {
    background-position: -337px -47px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Info_iOS {
    background-position: -386px -47px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Warning_iOS {
    background-position: -435px -47px;
    width: 48px;
    height: 48px;
}

.dxScheduler_Tooltip_BottomLeft_iOS {
    background-position: -484px -47px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomRight_iOS {
    background-position: -492px -47px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomStem_iOS {
    background-position: -500px -47px;
    width: 40px;
    height: 53px;
}

.dxScheduler_Tooltip_Empty_iOS {
    background-position: -178px -101px;
    width: 1px;
    height: 1px;
}

.dxScheduler_Tooltip_TopLeft_iOS {
    background-position: -541px -47px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_TopRight_iOS {
    background-position: -549px -47px;
    width: 7px;
    height: 7px;
}

.dxScheduler_ViewNavigator_Backward_iOS {
    background-position: -557px -47px;
    width: 52px;
    height: 24px;
}

.dxScheduler_ViewNavigator_Down_iOS {
    background-position: -610px -47px;
    width: 32px;
    height: 24px;
}

.dxScheduler_ViewNavigator_Forward_iOS {
    background-position: -1px -101px;
    width: 52px;
    height: 24px;
}

.dxScheduler_ViewNavigator_Today_iOS {
    background-position: -54px -101px;
    width: 55px;
    height: 24px;
}

.dxScheduler_SmartTag_iOS {
    background-position: -180px -101px;
    width: 6px;
    height: 9px;
}

.dxScheduler_CssImages_ButtonBack_iOS {
    background-position: -187px -101px;
    width: 2px;
    height: 19px;
}

.dxScheduler_CssImages_ButtonBackHover_iOS {
    background-position: -190px -101px;
    width: 1px;
    height: 19px;
}

.dxScheduler_CssImages_ViewSelectorButtonBack_iOS {
    background-position: -192px -101px;
    width: 1px;
    height: 29px;
}

.dxScheduler_CssImages_ViewSelectorButtonBackHover_iOS {
    background-position: -194px -101px;
    width: 1px;
    height: 29px;
}

