.dxscControl_iOS
{
    background: #F0F2F4;    
    border-radius: 5px 5px 0 0;
    border-width: 0px;
    border-collapse: separate!important;
    overflow: hidden;
    font-family: HelveticaNeue,Helvetica,Verdana,sans-serif;
}

.dxscToolbarContainer_iOS 
{
    border: solid 1px #505153;
    border-radius: 5px 5px 0 0;
    border-bottom-width: 0px;
}

.dxscControl_iOS .dxscAppointmentForm .dxeRadioButtonList_iOS,
.dxscControl_iOS .dxscAppointmentForm .dxscControlCell,
.dxscControl_iOS .dxscAppointmentForm .dxeBase_iOS
{
    padding: 10px;
}
.dxscControl_iOS .dxscSISubjectCell 
{
    font: bold 13px HelveticaNeue,Helvetica,Verdana,sans-serif;
}

td.dxscToolbar_iOS:first-child
{
	border-radius: 4px 0 0 0;
}
td.dxscToolbar_iOS:last-child
{
	border-radius: 0 4px 0 0;
}
.dxscViewSelector_iOS.dxscVSHorz table table > tbody > tr:first-child > td:last-child > table,
.dxscViewSelector_iOS.dxscVSHorz table table > tbody > tr:first-child > td:last-child > table td
{
	border-radius: 0 5px 0 0;
}
.dxscControl_iOS .dxscDayHdrsContainer
{
	overflow: hidden;
}

.dxscRendererTable
{
    border: 1px Solid #B3B5B9;
    border-top: none;
}

.dxscErrorInfo_iOS,
.dxscResourceNavigator_iOS
{
    border-left: 1px Solid #B3B5B9!important;
    border-right: 1px Solid #B3B5B9!important;
}

.dxscLoadingDiv_iOS
{
    background-color: Black;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=60);
	border-radius: 5px 5px 0 0;
}
.dxscLoadingPanel_iOS
{
    font: bold 18px HelveticaNeue,Helvetica,Verdana,sans-serif;
    color: Black;
    border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	border-collapse: separate !important;
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.25), 0 8px 16px 0px rgba(0,0,0,0.35);
	
	background-clip: content-box;
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
}
.dxscLoadingPanel_iOS td.dx
{
    white-space: nowrap;
	text-align: center;
	padding: 32px 29px;
	background-color: #E2E5EA;
}
.dxscLoadingPanel_iOS td.dx:first-child,
*[dir="rtl"] .dxscLoadingPanel_iOS td.dx:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dxscLoadingPanel_iOS td.dx:last-child,
*[dir="rtl"] .dxscLoadingPanel_iOS td.dx:first-child
{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.dxscLoadingPanel_iOS td.dx:first-child:last-child
{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.dxscLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: -1px 0px #E2E5EA;
}
*[dir="rtl"] .dxscLoadingPanel_iOS td.dx + td.dx
{
	-webkit-box-shadow: 1px 0px #E2E5EA;
}

/* Headers */
.dxscDateHeader_iOS, 
.dxscAlternateDateHeader_iOS,
.dxscDayHeader_iOS,
.dxscDateCellHeader_iOS,
.dxscTodayCellHeader_iOS,
.dxscTimelineDateHeader_iOS,
.dxscHorizontalResourceHeader_iOS,
.dxscVerticalResourceHeader_iOS
{    
    color: #909090;
    background: white;
    border: solid 1px #D1D1D1;
    border-width: 0 1px 1px 0;
    padding: 4px;
    font: 12px HelveticaNeue,Helvetica,Verdana,sans-serif;
    text-align: center;
    vertical-align: top;
    
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

.dxscDayHdrsContainer
{
}

.dxscAlternateTimelineDateHeader_iOS,
.dxscAlternateDateHeader_iOS
{
}
.dxscDayHeader_iOS
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_iOS
{
    border-width: 1px;
}
.dxscTodayCellHeader_iOS
{    
    border-top-width: 1px;
    background: #ffd554;
}
.dxscTimelineDateHeader_iOS
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_iOS
{
    border-width: 1px 1px 1px 0;
}
.dxscVerticalResourceHeader_iOS
{
    border-width: 1px 1px 0 0;
    white-space: normal;
}
.dxscSelectionBar_iOS 
{	
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}

/* Corners */
.dxscLeftTopCorner_iOS, 
.dxscRightTopCorner_iOS
{
    background: white;
    width: 1px;
    border-style: solid;
    border-color: #D1D1D1;	
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_iOS
{    
    border-width: 1px 1px 1px 0;
    color: #909090;
    font: 11px HelveticaNeue,Helvetica,Verdana,sans-serif;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

/* Separators */
.dxscGroupSeparatorVertical_iOS, 
.dxscGroupSeparatorHorizontal_iOS
{
    border: solid 1px #D1D1D1;
}

.dxscGroupSeparatorVertical_iOS
{
    width: 1px; 
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_iOS
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 1px;
}

/* Apts Area */
.dxscAllDayArea_iOS
{
    background: white;
    border: solid 1px #9f9f9f;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_iOS 
{
    height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_iOS
{
    border: solid 1px;
    font: 12px HelveticaNeue,Helvetica,Verdana,sans-serif;
}
.dxscTimelineCellBody_iOS
{
    height: 300px;
    border-style: solid;
    border-width: 1px 1px 0 0;
}

.dxscAppointment_iOS
{
    color: White!important;
    background: #F99B42!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#929292', endColorstr='#686868')!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#686868))!important;
	background: -moz-linear-gradient(top,  #929292,  #686868)!important;
    opacity: 0.75;
    font: 11px HelveticaNeue,Helvetica,Verdana,sans-serif;    
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-clip: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;	
}
.dxscAppointment_iOS,
.dxscAppointment_iOS > table
{
	border-radius: 3px;
}
.dxscAppointmentInnerBorders_iOS
{
	border-radius: 3px 0 0 3px;
}
.dxscAppointment_iOS label
{
	color: White!important;
	text-shadow: 0 -1px 1px black;
	font-size: 12px;
}
.dxscControl_iOS div.dxscAptSelDiv
{
	border-radius: 3px;
}
.dxscAppointmentInnerBorders_iOS
{	
    border: solid 1px #8b8b8b;
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_iOS 
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscMoreButton_iOS
{
    color: #0000cc;    
    text-decoration: underline;	
    padding: 0;
}

/* Rulers */
.dxscTimeRulerHoursItem_iOS, .dxscTimeRulerMinuteItem_iOS
{
    color: #B7B7B7;
    background: white;
    border: solid 1px #9f9f9f;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
} 
.dxscTimeRulerHoursItem_iOS
{
    border-right-width: 0;
    border-left-color: #9f9f9f;
    font: 13px HelveticaNeue,Helvetica,Verdana,sans-serif;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_iOS
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font: 11px HelveticaNeue,Helvetica,Verdana,sans-serif;
    padding: 4px 1px 4px 1px;
}

.dxscTimeRulerHeaderHourItem_iOS
{
    width: 55px;
}	
.dxscTimeRulerHeaderMinuteItem_iOS
{
    width: 16px;
}
.dxscScrollHeaderItem_iOS
{
    width: 16px;
}


/* Control elements */
.dxscToolbarContainer_iOS > table
{
	height: 40px;
}
.dxscToolbar_iOS
{
	border: #505153 solid;
    border-width: 0 0 1px 0;
    background: #e4e4e4;    
    padding: 0px 7px 0px 7px;    
    background: #575B64 url('CssImages/ToolbarBack.png') left top repeat-x;
    
}
.dxscToolbar_iOS > DIV 
{
    margin-top: 1px;
}
.dxscResourceNavigator_iOS 
{    
    padding: 8px 7px 6px 15px;
    border-color: #505153;
    border-bottom: solid 1px #C2C2C2;
}
.dxscViewVisibleInterval_iOS
{    
    color: white;
    font: Bold 14px HelveticaNeue,Helvetica,Verdana,sans-serif;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .8);
    white-space: nowrap;
}
.dxscInplaceEditor_iOS
{
    background: #fdfdfd;
    border: solid 2px black;
    padding: 0;
    font: 12px HelveticaNeue,Helvetica,Verdana,sans-serif;
    color: #303030;
}
.dxscControlAreaForm_iOS
{
    font: 16px HelveticaNeue,Helvetica,Verdana,sans-serif;
    color: black;
    background-color: #efefef;
    border: none;
    white-space: normal;
    padding: 9px 12px;
}
.dxscErrorInfo_iOS
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
    border: solid 1px #9f9f9f;
    border-width: 1px 0;
}
.dxscResourceNavigator_iOS .dxbebt
{
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.dxscResourceNavigator_iOS .dxeTextBox_iOS td.dxic,
.dxscResourceNavigator_iOS .dxeButtonEdit_iOS td.dxic
{
	padding: 5px 6px 3px 7px!important;
}

.dxscResourceNavigator_iOS .dxEditors_edtDropDown_iOS,
.dxscResourceNavigator_iOS .dxeButtonEditButtonPressed_iOS .dxEditors_edtDropDown_iOS,
.dxscResourceNavigator_iOS .dxEditors_edtDropDownDisabled_iOS
{
	background-position: -15px -180px;
    height: 6px;
    width: 11px;
}
.dxscResourceNavigator_iOS .dxeEditArea_iOS
{
	font-size: 12px!important;
}

/* Buttons */
.dxscViewNavigatorButton_iOS,
.dxscViewNavigatorGotoDateButton_iOS
{    
	padding-left:6px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
.dxscViewNavigatorButton_iOS span 
{
	display: block;
	background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    
    /* Copy from dxScheduler_ViewNavigator_Today_iOS */
    background-position: -54px -101px;
    width: 55px;
    height: 24px;
}

.dxscViewNavigatorGotoDateButton_iOS 
{
}
.dxscViewNavigatorButtonHover_iOS,
.dxscViewNavigatorGotoDateButtonHover_iOS
{
}
.dxscViewNavigatorButtonPressed_iOS,
.dxscViewNavigatorGotoDateButtonPressed_iOS
{
}

.dxscResourceNavigatorButton_iOS,
.dxscNavigationButton_iOS,
.dxscDVTopMoreButton_iOS,
.dxscDVBottomMoreButton_iOS
{
    cursor: pointer;
}

.dxscSmartTagButton_iOS 
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}

.dxscViewSelectorButton_iOS 
{
    padding: 11px 18px;
    font: Bold 14px HelveticaNeue,Helvetica,Verdana,sans-serif;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .8);
    color: White;
    cursor: pointer;
    background-image: url('CssImages/ViewSelectorButtonBorder.png');
	background-position: left top;
	background-repeat: no-repeat;
}
.dxscViewSelector_iOS.dxscVSVert .dxscViewSelectorButton_iOS
{
	background-color: #575B64;
	background-image: none;
}
.dxscViewSelectorButtonHover_iOS
{
}

.dxscViewSelectorButtonPressed_iOS,
.dxscViewSelector_iOS.dxscVSVert .dxscViewSelectorButtonPressed_iOS
{
	background-image: url('CssImages/ViewSelectorButtonCheckedBorder.png'),
					  url('CssImages/ViewSelectorButtonCheckedBack.png');
	background-color: #4A4D55;
	background-position: left top;
	background-repeat: no-repeat, repeat-x;
    color: White;
}
.dxscViewSelectorButtonChecked_iOS,
.dxscViewSelector_iOS.dxscVSVert .dxscViewSelectorButtonChecked_iOS
{
	background-image: url('CssImages/ViewSelectorButtonCheckedBorder.png'),
					  url('CssImages/ViewSelectorButtonCheckedBack.png');
	background-color: #4A4D55;
	background-position: left top;
	background-repeat: no-repeat, repeat-x;
    color: White;
}

.dxscNoBorderButton_iOS
{
    border: solid 1px #FDFDFD;
    background: none;
    cursor: pointer;
}
.dxscNoBorderButtonHover_iOS
{
    border: solid 1px #A8A8A8;
}

.dxscToolTipRoundedCornersTopBottomRow_iOS 
{
    font-size:1px;		
}
.dxscToolTipRoundedCornersTopSide_iOS 
{
    border-top: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersLeftSide_iOS 
{
    border-left: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersRightSide_iOS 
{
    border-right: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersBottomSide_iOS 
{
    border-bottom: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersContent_iOS 
{
    background-color:#fafad2;
    padding:0;
}
.dxscToolTipSquaredCorners_iOS 
{
    background: #f9f9cd;
    padding: 1px 1px;
    font: 11px HelveticaNeue,Helvetica,Verdana,sans-serif;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_iOS 
{
    top:-7px;
}
.dxscTimeMarkerLine_iOS 
{
    top:-2px;
    background-color:Red;
    height:3px;
    font-size:1px;
    
}
.dxscTimeMarkerLineV_iOS 
{
    position:absolute;
    
    background-color:#4E4E4E;
    width:1px;
    font-size:1px;
    border:solid 1px #FFC029;
    border-top-width:0;
    border-bottom-width:0;
}
.dxscTimeMarkerLineH_iOS
{
    position:absolute;
    top:-2px;
    background-color:transparent;
    height:1px;
    font-size:1px;
    border:solid 1px black;
    opacity: .25;
    border-left-width:0;
    border-right-width:0;
}

.dxscControl_iOS div[id$='_formBlock_innerContent'] .dxeButtonEdit_iOS
{ 
   width: 170px!important; 
}
