.dxXtraReports_BtnFirstPage_iOS,
.dxXtraReports_BtnFirstPageDisabled_iOS,
.dxXtraReports_BtnLastPage_iOS,
.dxXtraReports_BtnLastPageDisabled_iOS,
.dxXtraReports_BtnNextPage_iOS,
.dxXtraReports_BtnNextPageDisabled_iOS,
.dxXtraReports_BtnPrevPage_iOS,
.dxXtraReports_BtnPrevPageDisabled_iOS,
.dxXtraReports_BtnPrint_iOS,
.dxXtraReports_BtnPrintDisabled_iOS,
.dxXtraReports_BtnPrintPage_iOS,
.dxXtraReports_BtnPrintPageDisabled_iOS,
.dxXtraReports_BtnSave_iOS,
.dxXtraReports_BtnSaveDisabled_iOS,
.dxXtraReports_BtnSaveWindow_iOS,
.dxXtraReports_BtnSaveWindowDisabled_iOS,
.dxXtraReports_BtnSearch_iOS,
.dxXtraReports_BtnSearchDisabled_iOS {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxXtraReports_BtnFirstPage_iOS {
    background-position: -16px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnFirstPageDisabled_iOS {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPage_iOS {
    background-position: -32px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPageDisabled_iOS {
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPage_iOS {
    background-position: -64px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPageDisabled_iOS {
    background-position: -64px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPage_iOS {
    background-position: -48px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPageDisabled_iOS {
    background-position: -48px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrint_iOS {
    background-position: -80px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintDisabled_iOS {
    background-position: -80px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPage_iOS {
    background-position: -96px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPageDisabled_iOS {
    background-position: -96px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSave_iOS {
    background-position: -112px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveDisabled_iOS {
    background-position: -112px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindow_iOS {
    background-position: -128px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindowDisabled_iOS {
    background-position: -128px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearch_iOS {
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearchDisabled_iOS {
    background-position: 0px -16px;
    width: 16px;
    height: 16px;
}


