.dx-acc-r .dxGridView_gvCellError_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMClearFilter_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMClearFilterDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMClearGrouping_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMClearGroupingDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMCollapseDetailRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMCollapseDetailRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMCollapseRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMCollapseRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMDeleteRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMDeleteRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMEditRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMEditRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMExpandDetailRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMExpandDetailRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMExpandRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMExpandRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMFullCollapse_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMFullCollapseDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMFullExpand_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMFullExpandDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMGroupByColumn_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMGroupByColumnDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMNewRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMNewRowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMRefresh_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMRefreshDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSearchPanel_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSearchPanelDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowCustomizationWindow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowCustomizationWindowDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowFilterEditor_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowFilterEditorDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowGroupPanel_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowGroupPanelDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowSearchPanel_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMShowSearchPanelDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSortAscending_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSortAscendingDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSortDescending_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSortDescendingDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryAverage_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryAverageDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryCount_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryCountDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryMax_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryMaxDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryMin_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummaryMinDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummarySum_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMSummarySumDisabled_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCMUngroupColumn_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCollapsedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvCollapsedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDetailCollapsedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDetailCollapsedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDetailExpandedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDetailExpandedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDragAndDropArrowDown_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDragAndDropArrowLeft_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDragAndDropArrowRight_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDragAndDropArrowUp_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvDragAndDropHideColumn_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvExpandedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvExpandedButtonRtl_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvFilterRowButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvFixedGroupRow_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvHeaderFilter_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvHeaderFilterActive_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvHeaderSortDown_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvHeaderSortUp_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvHideAdaptiveDetailButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvParentGroupRows_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_gvShowAdaptiveDetailButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_WindowResizer_BudwayThemeFromMulberry:before,
.dx-acc-r .dxGridView_WindowResizerRtl_BudwayThemeFromMulberry:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxGridView_gvCellError_BudwayThemeFromMulberry:before

{
    left: -70px;
    top: -25px;

}
.dx-acc-r .dxGridView_gvCMClearFilter_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -180px;

}
.dx-acc-r .dxGridView_gvCMClearFilterDisabled_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -78px;

}
.dx-acc-r .dxGridView_gvCMClearGrouping_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -163px;

}
.dx-acc-r .dxGridView_gvCMClearGroupingDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -197px;

}
.dx-acc-r .dxGridView_gvCMCollapseDetailRow_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -95px;

}
.dx-acc-r .dxGridView_gvCMCollapseDetailRowDisabled_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -112px;

}
.dx-acc-r .dxGridView_gvCMCollapseRow_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -146px;

}
.dx-acc-r .dxGridView_gvCMCollapseRowDisabled_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -163px;

}
.dx-acc-r .dxGridView_gvCMDeleteRow_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -61px;

}
.dx-acc-r .dxGridView_gvCMDeleteRowDisabled_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -44px;

}
.dx-acc-r .dxGridView_gvCMEditRow_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -95px;

}
.dx-acc-r .dxGridView_gvCMEditRowDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -61px;

}
.dx-acc-r .dxGridView_gvCMExpandDetailRow_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -61px;

}
.dx-acc-r .dxGridView_gvCMExpandDetailRowDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -146px;

}
.dx-acc-r .dxGridView_gvCMExpandRow_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -44px;

}
.dx-acc-r .dxGridView_gvCMExpandRowDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -180px;

}
.dx-acc-r .dxGridView_gvCMFullCollapse_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -146px;

}
.dx-acc-r .dxGridView_gvCMFullCollapseDisabled_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -163px;

}
.dx-acc-r .dxGridView_gvCMFullExpand_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -112px;

}
.dx-acc-r .dxGridView_gvCMFullExpandDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -112px;

}
.dx-acc-r .dxGridView_gvCMGroupByColumn_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -146px;

}
.dx-acc-r .dxGridView_gvCMGroupByColumnDisabled_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -95px;

}
.dx-acc-r .dxGridView_gvCMNewRow_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -44px;

}
.dx-acc-r .dxGridView_gvCMNewRowDisabled_BudwayThemeFromMulberry:before

{
    left: -19px;
    top: -25px;

}
.dx-acc-r .dxGridView_gvCMRefresh_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -129px;

}
.dx-acc-r .dxGridView_gvCMRefreshDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -61px;

}
.dx-acc-r .dxGridView_gvCMSearchPanel_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -180px;

}
.dx-acc-r .dxGridView_gvCMSearchPanelDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -197px;

}
.dx-acc-r .dxGridView_gvCMShowCustomizationWindow_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -61px;

}
.dx-acc-r .dxGridView_gvCMShowCustomizationWindowDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -78px;

}
.dx-acc-r .dxGridView_gvCMShowFilterEditor_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -146px;

}
.dx-acc-r .dxGridView_gvCMShowFilterEditorDisabled_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -95px;

}
.dx-acc-r .dxGridView_gvCMShowGroupPanel_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -78px;

}
.dx-acc-r .dxGridView_gvCMShowGroupPanelDisabled_BudwayThemeFromMulberry:before

{
    left: -68px;
    top: -129px;

}
.dx-acc-r .dxGridView_gvCMShowSearchPanel_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -129px;

}
.dx-acc-r .dxGridView_gvCMShowSearchPanelDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -180px;

}
.dx-acc-r .dxGridView_gvCMSortAscending_BudwayThemeFromMulberry:before

{
    left: -67px;
    top: 0px;

}
.dx-acc-r .dxGridView_gvCMSortAscendingDisabled_BudwayThemeFromMulberry:before

{
    left: -53px;
    top: -25px;

}
.dx-acc-r .dxGridView_gvCMSortDescending_BudwayThemeFromMulberry:before

{
    left: -36px;
    top: -25px;

}
.dx-acc-r .dxGridView_gvCMSortDescendingDisabled_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -78px;

}
.dx-acc-r .dxGridView_gvCMSummaryAverage_BudwayThemeFromMulberry:before

{
    left: -51px;
    top: -112px;

}
.dx-acc-r .dxGridView_gvCMSummaryAverageDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -112px;

}
.dx-acc-r .dxGridView_gvCMSummaryCount_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -129px;

}
.dx-acc-r .dxGridView_gvCMSummaryCountDisabled_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -163px;

}
.dx-acc-r .dxGridView_gvCMSummaryMax_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -129px;

}
.dx-acc-r .dxGridView_gvCMSummaryMaxDisabled_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -78px;

}
.dx-acc-r .dxGridView_gvCMSummaryMin_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -180px;

}
.dx-acc-r .dxGridView_gvCMSummaryMinDisabled_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -95px;

}
.dx-acc-r .dxGridView_gvCMSummarySum_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -44px;

}
.dx-acc-r .dxGridView_gvCMSummarySumDisabled_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -163px;

}
.dx-acc-r .dxGridView_gvCMUngroupColumn_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -44px;

}
.dx-acc-r .dxGridView_gvCollapsedButton_BudwayThemeFromMulberry:before

{
    left: -16px;
    top: -214px;

}
.dx-acc-r .dxGridView_gvCollapsedButtonRtl_BudwayThemeFromMulberry:before

{
    left: -32px;
    top: -214px;

}
.dx-acc-r .dxGridView_gvDetailCollapsedButton_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -214px;

}
.dx-acc-r .dxGridView_gvDetailCollapsedButtonRtl_BudwayThemeFromMulberry:before

{
    left: -64px;
    top: -214px;

}
.dx-acc-r .dxGridView_gvDetailExpandedButton_BudwayThemeFromMulberry:before

{
    left: -50px;
    top: -197px;

}
.dx-acc-r .dxGridView_gvDetailExpandedButtonRtl_BudwayThemeFromMulberry:before

{
    left: -34px;
    top: -197px;

}
.dx-acc-r .dxGridView_gvDragAndDropArrowDown_BudwayThemeFromMulberry:before

{
    left: -70px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvDragAndDropArrowLeft_BudwayThemeFromMulberry:before

{
    left: -38px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvDragAndDropArrowRight_BudwayThemeFromMulberry:before

{
    left: -48px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvDragAndDropArrowUp_BudwayThemeFromMulberry:before

{
    left: -58px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvDragAndDropHideColumn_BudwayThemeFromMulberry:before

{
    left: -25px;
    top: 0px;

}
.dx-acc-r .dxGridView_gvExpandedButton_BudwayThemeFromMulberry:before

{
    left: -48px;
    top: -214px;

}
.dx-acc-r .dxGridView_gvExpandedButtonRtl_BudwayThemeFromMulberry:before

{
    left: -66px;
    top: -197px;

}
.dx-acc-r .dxGridView_gvFilterRowButton_BudwayThemeFromMulberry:before

{
    left: -57px;
    top: -230px;

}
.dx-acc-r .dxGridView_gvFixedGroupRow_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxGridView_gvHeaderFilter_BudwayThemeFromMulberry:before

{
    left: -19px;
    top: -230px;

}
.dx-acc-r .dxGridView_gvHeaderFilterActive_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -230px;

}
.dx-acc-r .dxGridView_gvHeaderSortDown_BudwayThemeFromMulberry:before

{
    left: -71px;
    top: -230px;

}
.dx-acc-r .dxGridView_gvHeaderSortUp_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvHideAdaptiveDetailButton_BudwayThemeFromMulberry:before

{
    left: -24px;
    top: -244px;

}
.dx-acc-r .dxGridView_gvParentGroupRows_BudwayThemeFromMulberry:before

{
    left: -38px;
    top: -230px;

}
.dx-acc-r .dxGridView_gvShowAdaptiveDetailButton_BudwayThemeFromMulberry:before

{
    left: -10px;
    top: -244px;

}
.dx-acc-r .dxGridView_WindowResizer_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -25px;

}
.dx-acc-r .dxGridView_WindowResizerRtl_BudwayThemeFromMulberry:before

{
    left: -48px;
    top: 0px;

}
