.dxGridView_gvCellError_BudwayThemeFromMulberry,
.dxGridView_gvCMClearFilter_BudwayThemeFromMulberry,
.dxGridView_gvCMClearFilterDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMClearGrouping_BudwayThemeFromMulberry,
.dxGridView_gvCMClearGroupingDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMCollapseDetailRow_BudwayThemeFromMulberry,
.dxGridView_gvCMCollapseDetailRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMCollapseRow_BudwayThemeFromMulberry,
.dxGridView_gvCMCollapseRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMDeleteRow_BudwayThemeFromMulberry,
.dxGridView_gvCMDeleteRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMEditRow_BudwayThemeFromMulberry,
.dxGridView_gvCMEditRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMExpandDetailRow_BudwayThemeFromMulberry,
.dxGridView_gvCMExpandDetailRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMExpandRow_BudwayThemeFromMulberry,
.dxGridView_gvCMExpandRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMFullCollapse_BudwayThemeFromMulberry,
.dxGridView_gvCMFullCollapseDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMFullExpand_BudwayThemeFromMulberry,
.dxGridView_gvCMFullExpandDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMGroupByColumn_BudwayThemeFromMulberry,
.dxGridView_gvCMGroupByColumnDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMNewRow_BudwayThemeFromMulberry,
.dxGridView_gvCMNewRowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMRefresh_BudwayThemeFromMulberry,
.dxGridView_gvCMRefreshDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSearchPanel_BudwayThemeFromMulberry,
.dxGridView_gvCMSearchPanelDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMShowCustomizationWindow_BudwayThemeFromMulberry,
.dxGridView_gvCMShowCustomizationWindowDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMShowFilterEditor_BudwayThemeFromMulberry,
.dxGridView_gvCMShowFilterEditorDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMShowGroupPanel_BudwayThemeFromMulberry,
.dxGridView_gvCMShowGroupPanelDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMShowSearchPanel_BudwayThemeFromMulberry,
.dxGridView_gvCMShowSearchPanelDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSortAscending_BudwayThemeFromMulberry,
.dxGridView_gvCMSortAscendingDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSortDescending_BudwayThemeFromMulberry,
.dxGridView_gvCMSortDescendingDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryAverage_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryAverageDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryCount_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryCountDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryMax_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryMaxDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryMin_BudwayThemeFromMulberry,
.dxGridView_gvCMSummaryMinDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMSummarySum_BudwayThemeFromMulberry,
.dxGridView_gvCMSummarySumDisabled_BudwayThemeFromMulberry,
.dxGridView_gvCMUngroupColumn_BudwayThemeFromMulberry,
.dxGridView_gvCollapsedButton_BudwayThemeFromMulberry,
.dxGridView_gvCollapsedButtonRtl_BudwayThemeFromMulberry,
.dxGridView_gvDetailCollapsedButton_BudwayThemeFromMulberry,
.dxGridView_gvDetailCollapsedButtonRtl_BudwayThemeFromMulberry,
.dxGridView_gvDetailExpandedButton_BudwayThemeFromMulberry,
.dxGridView_gvDetailExpandedButtonRtl_BudwayThemeFromMulberry,
.dxGridView_gvDragAndDropArrowDown_BudwayThemeFromMulberry,
.dxGridView_gvDragAndDropArrowLeft_BudwayThemeFromMulberry,
.dxGridView_gvDragAndDropArrowRight_BudwayThemeFromMulberry,
.dxGridView_gvDragAndDropArrowUp_BudwayThemeFromMulberry,
.dxGridView_gvDragAndDropHideColumn_BudwayThemeFromMulberry,
.dxGridView_gvExpandedButton_BudwayThemeFromMulberry,
.dxGridView_gvExpandedButtonRtl_BudwayThemeFromMulberry,
.dxGridView_gvFilterRowButton_BudwayThemeFromMulberry,
.dxGridView_gvFixedGroupRow_BudwayThemeFromMulberry,
.dxGridView_gvHeaderFilter_BudwayThemeFromMulberry,
.dxGridView_gvHeaderFilterActive_BudwayThemeFromMulberry,
.dxGridView_gvHeaderSortDown_BudwayThemeFromMulberry,
.dxGridView_gvHeaderSortUp_BudwayThemeFromMulberry,
.dxGridView_gvHideAdaptiveDetailButton_BudwayThemeFromMulberry,
.dxGridView_gvParentGroupRows_BudwayThemeFromMulberry,
.dxGridView_gvShowAdaptiveDetailButton_BudwayThemeFromMulberry,
.dxGridView_WindowResizer_BudwayThemeFromMulberry,
.dxGridView_WindowResizerRtl_BudwayThemeFromMulberry
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_BudwayThemeFromMulberry
{
    background-position: -70px -25px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_BudwayThemeFromMulberry
{
    background-position: -68px -180px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -78px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_BudwayThemeFromMulberry
{
    background-position: 0px -163px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -197px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow_BudwayThemeFromMulberry
{
    background-position: -34px -95px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_BudwayThemeFromMulberry
{
    background-position: -34px -112px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow_BudwayThemeFromMulberry
{
    background-position: -17px -146px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled_BudwayThemeFromMulberry
{
    background-position: -51px -163px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_BudwayThemeFromMulberry
{
    background-position: -51px -61px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -44px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_BudwayThemeFromMulberry
{
    background-position: -17px -95px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -61px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow_BudwayThemeFromMulberry
{
    background-position: -34px -61px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -146px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow_BudwayThemeFromMulberry
{
    background-position: 0px -44px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -180px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_BudwayThemeFromMulberry
{
    background-position: -51px -146px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -163px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_BudwayThemeFromMulberry
{
    background-position: -68px -112px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -112px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_BudwayThemeFromMulberry
{
    background-position: -34px -146px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -95px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_BudwayThemeFromMulberry
{
    background-position: -51px -44px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled_BudwayThemeFromMulberry
{
    background-position: -19px -25px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_BudwayThemeFromMulberry
{
    background-position: -51px -129px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -61px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_BudwayThemeFromMulberry
{
    background-position: -51px -180px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanelDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -197px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_BudwayThemeFromMulberry
{
    background-position: -68px -61px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -78px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_BudwayThemeFromMulberry
{
    background-position: -68px -146px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled_BudwayThemeFromMulberry
{
    background-position: -51px -95px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_BudwayThemeFromMulberry
{
    background-position: 0px -78px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled_BudwayThemeFromMulberry
{
    background-position: -68px -129px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel_BudwayThemeFromMulberry
{
    background-position: 0px -129px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -180px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_BudwayThemeFromMulberry
{
    background-position: -67px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled_BudwayThemeFromMulberry
{
    background-position: -53px -25px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_BudwayThemeFromMulberry
{
    background-position: -36px -25px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled_BudwayThemeFromMulberry
{
    background-position: -51px -78px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_BudwayThemeFromMulberry
{
    background-position: -51px -112px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -112px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_BudwayThemeFromMulberry
{
    background-position: -17px -129px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled_BudwayThemeFromMulberry
{
    background-position: -17px -163px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_BudwayThemeFromMulberry
{
    background-position: -34px -129px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled_BudwayThemeFromMulberry
{
    background-position: -34px -78px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_BudwayThemeFromMulberry
{
    background-position: -34px -180px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled_BudwayThemeFromMulberry
{
    background-position: 0px -95px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_BudwayThemeFromMulberry
{
    background-position: -17px -44px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled_BudwayThemeFromMulberry
{
    background-position: -34px -163px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_BudwayThemeFromMulberry
{
    background-position: -34px -44px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_BudwayThemeFromMulberry
{
    background-position: -16px -214px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvCollapsedButtonRtl_BudwayThemeFromMulberry
{
    background-position: -32px -214px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDetailCollapsedButton_BudwayThemeFromMulberry
{
    background-position: 0px -214px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDetailCollapsedButtonRtl_BudwayThemeFromMulberry
{
    background-position: -64px -214px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDetailExpandedButton_BudwayThemeFromMulberry
{
    background-position: -50px -197px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDetailExpandedButtonRtl_BudwayThemeFromMulberry
{
    background-position: -34px -197px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvDragAndDropArrowDown_BudwayThemeFromMulberry
{
    background-position: -70px -244px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowLeft_BudwayThemeFromMulberry
{
    background-position: -38px -244px;
    width: 9px;
    height: 11px;
}
.dxGridView_gvDragAndDropArrowRight_BudwayThemeFromMulberry
{
    background-position: -48px -244px;
    width: 9px;
    height: 11px;
}
.dxGridView_gvDragAndDropArrowUp_BudwayThemeFromMulberry
{
    background-position: -58px -244px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_BudwayThemeFromMulberry
{
    background-position: -25px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_BudwayThemeFromMulberry
{
    background-position: -48px -214px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvExpandedButtonRtl_BudwayThemeFromMulberry
{
    background-position: -66px -197px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvFilterRowButton_BudwayThemeFromMulberry
{
    background-position: -57px -230px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_BudwayThemeFromMulberry
{
    background-position: 0px 0px;
    width: 24px;
    height: 24px;
}
.dxGridView_gvHeaderFilter_BudwayThemeFromMulberry
{
    background-position: -19px -230px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvHeaderFilterActive_BudwayThemeFromMulberry
{
    background-position: 0px -230px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvHeaderSortDown_BudwayThemeFromMulberry
{
    background-position: -71px -230px;
    width: 9px;
    height: 13px;
}
.dxGridView_gvHeaderSortUp_BudwayThemeFromMulberry
{
    background-position: 0px -244px;
    width: 9px;
    height: 13px;
}
.dxGridView_gvHideAdaptiveDetailButton_BudwayThemeFromMulberry
{
    background-position: -24px -244px;
    width: 13px;
    height: 11px;
}
.dxGridView_gvParentGroupRows_BudwayThemeFromMulberry
{
    background-position: -38px -230px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvShowAdaptiveDetailButton_BudwayThemeFromMulberry
{
    background-position: -10px -244px;
    width: 13px;
    height: 11px;
}
.dxGridView_WindowResizer_BudwayThemeFromMulberry
{
    background-position: 0px -25px;
    width: 18px;
    height: 18px;
}
.dxGridView_WindowResizerRtl_BudwayThemeFromMulberry
{
    background-position: -48px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilterActive_BudwayThemeFromMulberry
{
	background-color: #BF4E6A;
}
