.dxPivotGrid_pgCollapsedButton_BlackGlass,
.dxPivotGrid_pgExpandedButton_BlackGlass,
.dxPivotGrid_pgSortDownButton_BlackGlass,
.dxPivotGrid_pgSortUpButton_BlackGlass,
.dxPivotGrid_pgFilterResizer_BlackGlass,
.dxPivotGrid_pgFilterButton_BlackGlass,
.dxPivotGrid_pgFilterButtonActive_BlackGlass,
.dxPivotGrid_pgCustomizationFormCloseButton_BlackGlass,
.dxPivotGrid_pgDragArrowDown_BlackGlass,
.dxPivotGrid_pgDragArrowUp_BlackGlass,
.dxPivotGrid_pgDragHideField_BlackGlass,
.dxPivotGrid_pgDataHeaders_BlackGlass,
.dxPivotGrid_pgGroupSeparator_BlackGlass,
.dxPivotGrid_pgSortByColumn_BlackGlass,
.dxPivotGrid_pgPrefilterButton_BlackGlass {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_BlackGlass {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgExpandedButton_BlackGlass {
    background-position: 0px -18px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgSortDownButton_BlackGlass {
    background-position: -36px 0px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgSortUpButton_BlackGlass {
    background-position: -36px -18px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgFilterResizer_BlackGlass {
    background-position: -69px -37px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgFilterButton_BlackGlass {
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButtonActive_BlackGlass {
    background-position: -23px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_BlackGlass {
    background-position: -46px -39px;
    width: 18px;
    height: 17px;
}

.dxPivotGrid_pgDragArrowDown_BlackGlass {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_BlackGlass {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_BlackGlass {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_BlackGlass {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_BlackGlass {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_BlackGlass {
    background-position: -53px 0px;
    width: 17px;
    height: 10px;
}

.dxPivotGrid_pgPrefilterButton_BlackGlass {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_FLButton_BlackGlass,
.dxPivotGrid_FLStackedDefault_BlackGlass,
.dxPivotGrid_FLStackedSideBySide_BlackGlass,
.dxPivotGrid_FLTopPanelOnly_BlackGlass,
.dxPivotGrid_FLBottomPanelOnly2by2_BlackGlass,
.dxPivotGrid_FLBottomPanelOnly1by4_BlackGlass,
.dxPivotGrid_FLFieldList_BlackGlass,
.dxPivotGrid_FLFilterAreaHeaders_BlackGlass,
.dxPivotGrid_FLColumnAreaHeaders_BlackGlass,
.dxPivotGrid_FLRowAreaHeaders_BlackGlass,
.dxPivotGrid_FLDataAreaHeaders_BlackGlass,
.dxPivotGrid_pgDragArrowLeft_BlackGlass,
.dxPivotGrid_pgDragArrowRight_BlackGlass
 {
    background-image: url('FLsprite.png');
    -background-image: url('FLsprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent; 
}
.dxpgFLTextDiv_BlackGlass img.dxPivotGrid_FLFilterAreaHeaders_BlackGlass,
.dxpgFLTextDiv_BlackGlass img.dxPivotGrid_FLColumnAreaHeaders_BlackGlass,
.dxpgFLTextDiv_BlackGlass img.dxPivotGrid_FLRowAreaHeaders_BlackGlass,
.dxpgFLTextDiv_BlackGlass img.dxPivotGrid_FLDataAreaHeaders_BlackGlass,
.dxpgFLTextDiv_BlackGlass img.dxPivotGrid_FLFieldList_BlackGlass
{
    height:16px;
    width:16px;
}
.dxPivotGrid_FLButton_BlackGlass
{
    display:block;
    height:16px;
    width:16px
}
.dxPivotGrid_FLStackedDefault_BlackGlass,
.dxPivotGrid_FLStackedSideBySide_BlackGlass,
.dxPivotGrid_FLTopPanelOnly_BlackGlass,
.dxPivotGrid_FLBottomPanelOnly2by2_BlackGlass,
.dxPivotGrid_FLBottomPanelOnly1by4_BlackGlass
{
    height:32px;
    width:32px;
}
.dxPivotGrid_pgDragArrowLeft_BlackGlass,
.dxPivotGrid_pgDragArrowRight_BlackGlass
{
    height:11px;
    width:9px;
}
.dxPivotGrid_pgDragArrowLeft_BlackGlass
{
  background-position: -96px -11px; 
}
.dxPivotGrid_pgDragArrowRight_BlackGlass
{
 background-position: -96px -0px; 
}
.dxPivotGrid_FLButton_BlackGlass
{
    background-position: -96px -32px;
}
.dxPivotGrid_FLStackedDefault_BlackGlass
{
    background-position: -32px 0px;
}
.dxPivotGrid_FLStackedSideBySide_BlackGlass
{
    background-position: 0px -32px;
}
.dxPivotGrid_FLTopPanelOnly_BlackGlass
{
    background-position: 0px 0px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_BlackGlass
{
    background-position: -32px -32px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_BlackGlass
{
    background-position: -64px 0px;
}
.dxPivotGrid_FLFieldList_BlackGlass
{
    background-position: -64px -32px;
}
.dxPivotGrid_FLFilterAreaHeaders_BlackGlass
{
    background-position: -80px -48px;
}
.dxPivotGrid_FLColumnAreaHeaders_BlackGlass
{
    background-position: -64px -48px;
}
.dxPivotGrid_FLRowAreaHeaders_BlackGlass
{
    background-position: -96px -48px;
}
.dxPivotGrid_FLDataAreaHeaders_BlackGlass
{
    background-position: -80px -32px;
}

.dxPivotGrid_CTNMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNCalculatedMeasure {
    background-image: url('CustomizationTreeNodeImages.png');
    -background-image: url('CustomizationTreeNodeImages.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    width: 16px;
}
.dxPivotGrid_CTNMeasure {
    background-position: 0px 0px;
}
.dxPivotGrid_CTNDimension {
    background-position: -21px 0px;
}
.dxPivotGrid_CTNAttribute {
    background-position: -42px 0px;
}
.dxPivotGrid_CTNHierarchy {
    background-position: -63px 0px;
}
.dxPivotGrid_CTNKpi {
    background-position: -84px 0px;
}
.dxPivotGrid_CTNFolderClosed {
    background-position: 0px -23px;
}
.dxPivotGrid_CTNFolderOpen {
    background-position: -21px -23px;
}
.dxPivotGrid_CTNCalculatedMeasure {
    background-position: -42px -23px;
}
