/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office2010Black
{
    background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_Office2010Black
{
    font: 11px Verdana;
    color: #3c3c3c;
}
.dxheLoadingPanel_Office2010Black td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}

.dxheControl_Office2010Black
{
    border: 1px solid #484848;
}

/* Area */
.dxheContentArea_Office2010Black
{
    background-color: #838383;
    padding: 0;
}
.dxheContentArea_Office2010Black .dxheErrorFrame_Office2010Black
{
    font-size: 11px;
    font-family: Verdana;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheContentArea_Office2010Black .dxheErrorFrame_Office2010Black .dxhe {
    padding: 5px;
}
.dxheContentArea_Office2010Black .dxheErrorFrame_Office2010Black .dxhe td {
    padding: 0px;
}
.dxheContentArea_Office2010Black .dxheErrorFrame_Office2010Black .dxheErrorFrameCloseButton_Office2010Black {
    cursor: pointer;
}
.dxheControl_Office2010Black .dxheViewArea_Office2010Black
{
    border-width: 0;
}
.dxheHtmlViewArea_Office2010Black,
.dxheDesignViewArea_Office2010Black,
.dxhePreviewArea_Office2010Black
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: normal 12px Arial;
}
.dxheHtmlViewArea_Office2010Black td,
.dxheHtmlViewArea_Office2010Black.dxeMemo_Office2010Black td,
body.dxheDesignViewArea_Office2010Black, 
body.dxhePreviewArea_Office2010Black
{
    padding: 4px 0 0 4px;
}
.dxheControl_Office2010Black.dxhe-rtl .dxheHtmlViewArea_Office2010Black td,
.dxheControl_Office2010Black.dxhe-rtl .dxheHtmlViewArea_Office2010Black.dxeMemo_Office2010Black td,
body.dxheDesignViewArea_Office2010Black.dxhe-rtl, 
body.dxhePreviewArea_Office2010Black.dxhe-rtl
{
    padding: 0 4px 0 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .dxheControl_Office2010Black.dxhe-rtl .dxheHtmlViewArea_Office2010Black td,
    .dxheControl_Office2010Black.dxhe-rtl .dxheHtmlViewArea_Office2010Black.dxeMemo_Office2010Black td
    {
        padding: 0 0 0 4px;
    }    
}
.dxheControl_Office2010Black .dxeMemo_Office2010Black textarea 
{
	resize:none;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office2010Black table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office2010Black table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_Office2010Black table.dxEmptyBorderTable,
	body.dxheDesignViewArea_Office2010Black table.dxEmptyBorderTable td
	{
		border:0px;
	}
}

/* Status Bar */
.dxheStatusBar_Office2010Black
{
}
.dxheStatusBar_Office2010Black .dxheStatusBarTab_Office2010Black
{
    padding-left: 34px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom-width: 0;
    border-left-width: 0;
}
.dxheControl_Office2010Black.dxhe-rtl .dxheStatusBar_Office2010Black .dxheStatusBarTab_Office2010Black
{
    border-left-width: 1px;
    border-right-width: 0px;
}
.dxheStatusBarActiveTab_Office2010Black
{
}
.dxHtmlEditor_heSizeGrip_Office2010Black
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Black
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_Office2010Black
{
    float: left;
    height: 0;
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_Office2010Black.dxhe-rtl .dxheSizeGripContainer_Office2010Black 
{
	text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell,
#dxInsertLinkForm .buttonsCell,
#dxInsertImageForm .buttonsCell,
#dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell,
.dxheCustomDialog_Office2010Black .dxhecd-Buttons
{
    background-color: #d7d8d8;
    border-top: 1px solid #adadad;
    padding: 11px;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: 1px solid #484848;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office2010Black
{
	height: 1px;
}
.dxtbControl_Office2010Black
{
    font: 11px Verdana;
    color: Black;
    background-color: #838383;
    width: 100%;
    border-bottom: 1px solid #484848;
}
.dxtbControl_Office2010Black td.dxmMenu_Office2010Black
{
	border: 0;
}
.dxtbComboBoxMenuItem_Office2010Black
{
    padding: 2px 2px 1px;
}

/* Toolbars Lightweight Mode */
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-main
{
    border-width: 0;
}
.dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem
{
	border-width: 0;
	padding: 2px 2px 1px !important;
}
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-l .dxm-dropDownMode.dxtb-cb .dxm-content, 
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-r .dxm-dropDownMode.dxtb-cb .dxm-content
{
	padding-top: 3px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content, 
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content
{
	padding-top: 4px;
	padding-bottom: 3px;
}
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content img, 
.dxtbControl_Office2010Black .dxmLite_Office2010Black .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content img
{
	margin-top: -1px;	
}
.dxmLite_Office2010Black .dxhetipControl_Office2010Black img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_Office2010Black
{
}
.dxtcbColorDiv_Office2010Black
{
	width: 16px;
	height: 3px;
	font-size: 0px;
	background-color: Transparent;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_Office2010Black .dxrpcontent
{
    padding: 9px 8px;
}

