.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtClear_BudwayDirectMarron:before,
.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtDropDown_BudwayDirectMarron:before,
.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtEllipsis_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_caRefresh_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtBinaryImageDelete_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtBinaryImageOpenDialog_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarFNNextYear_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarFNPrevYear_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarNextMonth_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarNextMonthDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarNextYear_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarNextYearDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarPrevMonth_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarPrevMonthDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarPrevYear_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtCalendarPrevYearDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtClear_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDETSClockFace_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDETSHourHand_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDETSMinuteHand_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDETSSecondHand_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDropDown_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtDropDownDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtEllipsis_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtEllipsisDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtError_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtRadioButtonChecked_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtRadioButtonCheckedDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtRadioButtonUnchecked_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtRadioButtonUncheckedDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditDecrementImage_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditDecrementImageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditIncrementImage_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditIncrementImageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditLargeDecImage_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditLargeDecImageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditLargeIncImage_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtSpinEditLargeIncImageDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBDecBtn_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBDecBtnDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBDecBtnHover_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBDecBtnPressed_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBIncBtn_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBIncBtnDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBIncBtnHover_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTBIncBtnPressed_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButton_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcadd_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcaddhot_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupaddcondition_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupaddgroup_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupand_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupnotand_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupnotor_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupor_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcgroupremove_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopany_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopavg_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopbegin_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopbetween_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopblank_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopcontain_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopcount_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopend_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopequal_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopexists_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopgreater_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopgreaterorequal_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopless_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoplessorequal_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoplike_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopmax_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopmin_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotany_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotbetween_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotblank_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotcontain_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotequal_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopnotlike_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopsingle_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcopsum_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoptypefield_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoptypefieldhot_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoptypevalue_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcoptypevaluehot_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcremove_BudwayDirectMarron:before,
.dx-acc-r .dxEditors_fcremovehot_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeSpinDecButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditDecrementImage_BudwayDirectMarron:before,
.dx-acc-r .dxeSpinIncButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditIncrementImage_BudwayDirectMarron:before,
.dx-acc-r .dxeSpinLargeDecButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditLargeDecImage_BudwayDirectMarron:before,
.dx-acc-r .dxeSpinLargeIncButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditLargeIncImage_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before,
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtClear_BudwayDirectMarron:before

{
    left: -28px;
    top: -247px;

}
.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtDropDown_BudwayDirectMarron:before

{
    left: -140px;
    top: -261px;

}
.dx-acc-r .dxeButtonEditButtonHover_BudwayDirectMarron .dxEditors_edtEllipsis_BudwayDirectMarron:before

{
    left: -163px;
    top: -166px;

}
.dx-acc-r .dxEditors_caRefresh_BudwayDirectMarron:before

{
    left: -166px;
    top: -65px;

}
.dx-acc-r .dxEditors_edtBinaryImageDelete_BudwayDirectMarron:before

{
    left: -155px;
    top: -89px;

}
.dx-acc-r .dxEditors_edtBinaryImageOpenDialog_BudwayDirectMarron:before

{
    left: -122px;
    top: -89px;

}
.dx-acc-r .dxEditors_edtCalendarFNNextYear_BudwayDirectMarron:before

{
    left: -54px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarFNPrevYear_BudwayDirectMarron:before

{
    left: -18px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarNextMonth_BudwayDirectMarron:before

{
    left: -108px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarNextMonthDisabled_BudwayDirectMarron:before

{
    left: -36px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarNextYear_BudwayDirectMarron:before

{
    left: -148px;
    top: -71px;

}
.dx-acc-r .dxEditors_edtCalendarNextYearDisabled_BudwayDirectMarron:before

{
    left: -90px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarPrevMonth_BudwayDirectMarron:before

{
    left: 0px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarPrevMonthDisabled_BudwayDirectMarron:before

{
    left: -72px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtCalendarPrevYear_BudwayDirectMarron:before

{
    left: -154px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtCalendarPrevYearDisabled_BudwayDirectMarron:before

{
    left: -126px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtClear_BudwayDirectMarron:before

{
    left: -168px;
    top: -247px;

}
.dx-acc-r .dxEditors_edtDETSClockFace_BudwayDirectMarron:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSHourHand_BudwayDirectMarron:before

{
    left: -138px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSHourHand_BudwayDirectMarron:before

{
    left: -146px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSMinuteHand_BudwayDirectMarron:before

{
    left: -122px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSMinuteHand_BudwayDirectMarron:before

{
    left: -130px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSSecondHand_BudwayDirectMarron:before

{
    left: -160px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDETSSecondHand_BudwayDirectMarron:before

{
    left: -154px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtDropDown_BudwayDirectMarron:before

{
    left: -176px;
    top: -164px;

}
.dx-acc-r .dxEditors_edtDropDownDisabled_BudwayDirectMarron:before

{
    left: -152px;
    top: -261px;

}
.dx-acc-r .dxEditors_edtEllipsis_BudwayDirectMarron:before

{
    left: -135px;
    top: -71px;

}
.dx-acc-r .dxEditors_edtEllipsisDisabled_BudwayDirectMarron:before

{
    left: -122px;
    top: -71px;

}
.dx-acc-r .dxEditors_edtError_BudwayDirectMarron:before

{
    left: -148px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtRadioButtonChecked_BudwayDirectMarron:before

{
    left: -68px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtRadioButtonCheckedDisabled_BudwayDirectMarron:before

{
    left: -132px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtRadioButtonUnchecked_BudwayDirectMarron:before

{
    left: -100px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtRadioButtonUncheckedDisabled_BudwayDirectMarron:before

{
    left: -116px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtSpinEditDecrementImage_BudwayDirectMarron:before

{
    left: -180px;
    top: -194px;

}
.dx-acc-r .dxEditors_edtSpinEditDecrementImageDisabled_BudwayDirectMarron:before

{
    left: -124px;
    top: -261px;

}
.dx-acc-r .dxEditors_edtSpinEditIncrementImage_BudwayDirectMarron:before

{
    left: -116px;
    top: -261px;

}
.dx-acc-r .dxEditors_edtSpinEditIncrementImageDisabled_BudwayDirectMarron:before

{
    left: -108px;
    top: -261px;

}
.dx-acc-r .dxEditors_edtSpinEditLargeDecImage_BudwayDirectMarron:before

{
    left: -177px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtSpinEditLargeDecImageDisabled_BudwayDirectMarron:before

{
    left: -180px;
    top: 0px;

}
.dx-acc-r .dxEditors_edtSpinEditLargeIncImage_BudwayDirectMarron:before

{
    left: -92px;
    top: -261px;

}
.dx-acc-r .dxEditors_edtSpinEditLargeIncImageDisabled_BudwayDirectMarron:before

{
    left: -178px;
    top: -184px;

}
.dx-acc-r .dxEditors_edtTBDecBtn_BudwayDirectMarron:before

{
    left: -22px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBDecBtnDisabled_BudwayDirectMarron:before

{
    left: -110px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBDecBtnHover_BudwayDirectMarron:before

{
    left: 0px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBDecBtnPressed_BudwayDirectMarron:before

{
    left: -132px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBIncBtn_BudwayDirectMarron:before

{
    left: -66px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBIncBtnDisabled_BudwayDirectMarron:before

{
    left: -44px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBIncBtnHover_BudwayDirectMarron:before

{
    left: -88px;
    top: -148px;

}
.dx-acc-r .dxEditors_edtTBIncBtnPressed_BudwayDirectMarron:before

{
    left: -166px;
    top: -43px;

}
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButton_BudwayDirectMarron:before

{
    left: -84px;
    top: -216px;

}
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_BudwayDirectMarron:before

{
    left: -172px;
    top: -148px;

}
.dx-acc-r .dxEditors_fcadd_BudwayDirectMarron:before

{
    left: -126px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcaddhot_BudwayDirectMarron:before

{
    left: -163px;
    top: -216px;

}
.dx-acc-r .dxEditors_fcgroupaddcondition_BudwayDirectMarron:before

{
    left: -98px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcgroupaddgroup_BudwayDirectMarron:before

{
    left: -168px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcgroupand_BudwayDirectMarron:before

{
    left: -28px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcgroupnotand_BudwayDirectMarron:before

{
    left: -112px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcgroupnotor_BudwayDirectMarron:before

{
    left: -126px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcgroupor_BudwayDirectMarron:before

{
    left: -14px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcgroupremove_BudwayDirectMarron:before

{
    left: -70px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcopany_BudwayDirectMarron:before

{
    left: -42px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcopavg_BudwayDirectMarron:before

{
    left: 0px;
    top: -216px;

}
.dx-acc-r .dxEditors_fcopbegin_BudwayDirectMarron:before

{
    left: -84px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopbetween_BudwayDirectMarron:before

{
    left: -140px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcopblank_BudwayDirectMarron:before

{
    left: 0px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcopcontain_BudwayDirectMarron:before

{
    left: -98px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopcount_BudwayDirectMarron:before

{
    left: -166px;
    top: -26px;

}
.dx-acc-r .dxEditors_fcopend_BudwayDirectMarron:before

{
    left: -154px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopequal_BudwayDirectMarron:before

{
    left: -156px;
    top: -202px;

}
.dx-acc-r .dxEditors_fcopexists_BudwayDirectMarron:before

{
    left: -144px;
    top: -184px;

}
.dx-acc-r .dxEditors_fcopgreater_BudwayDirectMarron:before

{
    left: -42px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopgreaterorequal_BudwayDirectMarron:before

{
    left: -14px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcopless_BudwayDirectMarron:before

{
    left: -84px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcoplessorequal_BudwayDirectMarron:before

{
    left: -70px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcoplike_BudwayDirectMarron:before

{
    left: 0px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopmax_BudwayDirectMarron:before

{
    left: -51px;
    top: -216px;

}
.dx-acc-r .dxEditors_fcopmin_BudwayDirectMarron:before

{
    left: -17px;
    top: -216px;

}
.dx-acc-r .dxEditors_fcopnotany_BudwayDirectMarron:before

{
    left: -56px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcopnotbetween_BudwayDirectMarron:before

{
    left: -140px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopnotblank_BudwayDirectMarron:before

{
    left: -70px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopnotcontain_BudwayDirectMarron:before

{
    left: -56px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcopnotequal_BudwayDirectMarron:before

{
    left: -112px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcopnotlike_BudwayDirectMarron:before

{
    left: -154px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcopsingle_BudwayDirectMarron:before

{
    left: -161px;
    top: -184px;

}
.dx-acc-r .dxEditors_fcopsum_BudwayDirectMarron:before

{
    left: -34px;
    top: -216px;

}
.dx-acc-r .dxEditors_fcoptypefield_BudwayDirectMarron:before

{
    left: -170px;
    top: -202px;

}
.dx-acc-r .dxEditors_fcoptypefieldhot_BudwayDirectMarron:before

{
    left: -28px;
    top: -233px;

}
.dx-acc-r .dxEditors_fcoptypevalue_BudwayDirectMarron:before

{
    left: 0px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcoptypevaluehot_BudwayDirectMarron:before

{
    left: -42px;
    top: -261px;

}
.dx-acc-r .dxEditors_fcremove_BudwayDirectMarron:before

{
    left: -56px;
    top: -247px;

}
.dx-acc-r .dxEditors_fcremovehot_BudwayDirectMarron:before

{
    left: -14px;
    top: -233px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before

{
    left: -70px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before

{
    left: -126px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before

{
    left: -140px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before

{
    left: -42px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before

{
    left: -168px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before

{
    left: -112px;
    top: -122px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before

{
    left: 0px;
    top: -202px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before

{
    left: -78px;
    top: -170px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before

{
    left: -104px;
    top: -170px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before

{
    left: -78px;
    top: -202px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before

{
    left: -122px;
    top: -75px;

}
.dx-acc-r .dxeFocused_BudwayDirectMarron .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before

{
    left: -130px;
    top: -202px;

}
.dx-acc-r .dxeSpinDecButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditDecrementImage_BudwayDirectMarron:before

{
    left: -132px;
    top: -261px;

}
.dx-acc-r .dxeSpinIncButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditIncrementImage_BudwayDirectMarron:before

{
    left: -100px;
    top: -261px;

}
.dx-acc-r .dxeSpinLargeDecButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditLargeDecImage_BudwayDirectMarron:before

{
    left: -84px;
    top: -261px;

}
.dx-acc-r .dxeSpinLargeIncButtonHover_BudwayDirectMarron .dxEditors_edtSpinEditLargeIncImage_BudwayDirectMarron:before

{
    left: -180px;
    top: -16px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before

{
    left: -98px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHDisabled_BudwayDirectMarron:before

{
    left: -166px;
    top: 0px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before

{
    left: -56px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before

{
    left: -14px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before

{
    left: 0px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_BudwayDirectMarron:before

{
    left: -154px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before

{
    left: -28px;
    top: -122px;

}
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before

{
    left: -84px;
    top: -122px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDH_BudwayDirectMarron:before

{
    left: -104px;
    top: -202px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHDisabled_BudwayDirectMarron:before

{
    left: -52px;
    top: -170px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHHover_BudwayDirectMarron:before

{
    left: -156px;
    top: -170px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHPressed_BudwayDirectMarron:before

{
    left: 0px;
    top: -170px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDH_BudwayDirectMarron:before

{
    left: -26px;
    top: -202px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_BudwayDirectMarron:before

{
    left: -26px;
    top: -170px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_BudwayDirectMarron:before

{
    left: -52px;
    top: -202px;

}
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_BudwayDirectMarron:before

{
    left: -130px;
    top: -170px;

}
