/* -- ValidationSummary -- */
.dxvsValidationSummary_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_BudwayDirectMarron td.dxvsRC_BudwayDirectMarron
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_BudwayDirectMarron .dxvsE_BudwayDirectMarron
{
}
.dxvsValidationSummary_BudwayDirectMarron table.dxvsHT_BudwayDirectMarron
{
	width: 100%;
}
.dxvsValidationSummary_BudwayDirectMarron td.dxvsH_BudwayDirectMarron
{
	padding: 2px 0;
}
.dxvsValidationSummary_BudwayDirectMarron a.dxvsHL_BudwayDirectMarron,
.dxvsValidationSummary_BudwayDirectMarron a.dxvsHL_BudwayDirectMarron:visited
{
	color: red;
}
.dxvsValidationSummary_BudwayDirectMarron a.dxvsHL_BudwayDirectMarron
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_BudwayDirectMarron a.dxvsHL_BudwayDirectMarron:hover
{
	color: #f70;
}
.dxvsValidationSummary_BudwayDirectMarron table.dxvsT_BudwayDirectMarron
{
}
.dxvsValidationSummary_BudwayDirectMarron tr.dxvsE_BudwayDirectMarron
{
}
.dxvsValidationSummary_BudwayDirectMarron td.dxvsETC_BudwayDirectMarron
{
	padding: 2px 0;
}
.dxvsValidationSummary_BudwayDirectMarron ul.dxvsL_BudwayDirectMarron
{
}
.dxvsValidationSummary_BudwayDirectMarron ol.dxvsL_BudwayDirectMarron
{
}
.dxvsValidationSummary_BudwayDirectMarron li.dxvsE_BudwayDirectMarron
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility:hidden;
}

.dxeDisabled_BudwayDirectMarron .dxeTBHSys a,
.dxeDisabled_BudwayDirectMarron .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_BudwayDirectMarron
{
	font-size: 0;
}

.dxeTBScale_BudwayDirectMarron,
.dxeTBTrack_BudwayDirectMarron,
.dxeTBBarHighlight_BudwayDirectMarron
{
	cursor: pointer;
}

.dxeTBScale_BudwayDirectMarron
{
    font-size: 0.91em;
	z-index: 1;
}
.dxeTBSecondaryDH_BudwayDirectMarron,
.dxeTBMainDH_BudwayDirectMarron
{
	z-index: 4;
}

.dxeTrackBar_BudwayDirectMarron.dxeTBHSys
{
	width: 170px;
	height: 45px;
}
.dxeTrackBar_BudwayDirectMarron.dxeTBVSys
{
	height: 170px;
	width: 45px;
}
.dxeTrackBar_BudwayDirectMarron.dxeTBBScaleSys.dxeTBVSys
{
	width: 66px;
}
.dxeTrackBar_BudwayDirectMarron.dxeTBBScaleSys.dxeTBHSys
{	
	height: 66px;
}

.dxeTBTrack_BudwayDirectMarron
{
	z-index: 2;
	position: absolute;
}

.dxeTBTrack_BudwayDirectMarron, .dxeTBBarHighlight_BudwayDirectMarron
{
	border-style: solid;
	border-color: #8A0A37;
}
.dxeTBHSys .dxeTBTrack_BudwayDirectMarron, .dxeTBHSys .dxeTBBarHighlight_BudwayDirectMarron 
{
	border-width: 0px 1px 0px 1px;
}
.dxeTBVSys .dxeTBTrack_BudwayDirectMarron, .dxeTBVSys .dxeTBBarHighlight_BudwayDirectMarron
{
	border-width: 1px 0px 1px 0px;
}

.dxeTBHSys .dxeTBTrack_BudwayDirectMarron, .dxeTBHSys .dxeTBBarHighlight_BudwayDirectMarron 
{
	border-width: 0px 1px 0px 1px;
}
.dxeTBVSys .dxeTBTrack_BudwayDirectMarron, .dxeTBVSys .dxeTBBarHighlight_BudwayDirectMarron 
{
	border-width: 1px 0px 1px 0px;
}

.dxeTBHSys .dxeTBTrack_BudwayDirectMarron
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_BudwayDirectMarron
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_BudwayDirectMarron, 
.dxeTBHSys .dxeTBBarHighlight_BudwayDirectMarron
{
	height: 5px;
}
.dxeTBVSys .dxeTBTrack_BudwayDirectMarron, 
.dxeTBVSys .dxeTBBarHighlight_BudwayDirectMarron
{
	width: 5px;
}

.dxeTBHSys .dxeTBMainDH_BudwayDirectMarron,
.dxeTBHSys .dxeTBSecondaryDH_BudwayDirectMarron
{	
	top: -10px;
	width: 13px;
	height: 25px;
}
.dxeTBVSys .dxeTBMainDH_BudwayDirectMarron,
.dxeTBVSys .dxeTBSecondaryDH_BudwayDirectMarron
{
	left: -10px;
	width: 25px;
	height: 13px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_BudwayDirectMarron,
.dxeTBVSys .dxeTBTrack_BudwayDirectMarron
{
	left: 11px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_BudwayDirectMarron
{
	right: 11px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_BudwayDirectMarron
{
	bottom: 11px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_BudwayDirectMarron,
.dxeTBHSys .dxeTBTrack_BudwayDirectMarron
{
	top: 11px;
}

.dxeTBBarHighlight_BudwayDirectMarron
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_BudwayDirectMarron
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_BudwayDirectMarron
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_BudwayDirectMarron,
.dxeTBLTLabel_BudwayDirectMarron
{
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBSmallTickSys .dxeTBLTLabel_BudwayDirectMarron,
.dxeTBLargeTickSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBLargeTickSys .dxeTBLTLabel_BudwayDirectMarron
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBHSys .dxeTBLTLabel_BudwayDirectMarron
{
	width: 100%;
}

.dxeTBIncBtn_BudwayDirectMarron,
.dxeTBDecBtn_BudwayDirectMarron
{
}

.dxeTBVSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBVSys .dxeTBLTLabel_BudwayDirectMarron
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_BudwayDirectMarron
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_BudwayDirectMarron
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_BudwayDirectMarron,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_BudwayDirectMarron
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_BudwayDirectMarron
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_BudwayDirectMarron,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_BudwayDirectMarron
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBHSys .dxeTBItem_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBSelectedItem_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron,
.dxeTBSelectedTick_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeTBSelectedTick_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron
{
	color: #9E4994;
}
.dxeDisabled_BudwayDirectMarron .dxeTBSelectedItem_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron .dxeTBSelectedItem_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron .dxeTBSelectedTick_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron .dxeTBSelectedTick_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron 
{
	color: #DCD7D9;
}

.dxeTBRBLabel_BudwayDirectMarron,
.dxeTBLTLabel_BudwayDirectMarron,
.dxeTBItem_BudwayDirectMarron
{
	color: #D7B4D3;
}

.dxeDisabled_BudwayDirectMarron .dxeTBRBLabel_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron .dxeTBLTLabel_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron .dxeTBItem_BudwayDirectMarron
{
	color: #DCD7D9;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_BudwayDirectMarron
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_BudwayDirectMarron
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_BudwayDirectMarron
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_BudwayDirectMarron
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_BudwayDirectMarron
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_BudwayDirectMarron 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_BudwayDirectMarron
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_BudwayDirectMarron
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_BudwayDirectMarron
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_BudwayDirectMarron,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_BudwayDirectMarron
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_BudwayDirectMarron
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_BudwayDirectMarron, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_BudwayDirectMarron
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_BudwayDirectMarron,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_BudwayDirectMarron
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_BudwayDirectMarron
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_BudwayDirectMarron
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_BudwayDirectMarron
{ 
	margin-left: -2px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_BudwayDirectMarron
{ 
	margin-top: -2px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_BudwayDirectMarron
{
	right: 3px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_BudwayDirectMarron
{
	bottom: 3px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_BudwayDirectMarron,
.dxeTBVSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBVSys .dxeTBIncBtn_BudwayDirectMarron
{
	left: 3px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_BudwayDirectMarron,
.dxeTBHSys .dxeTBDecBtn_BudwayDirectMarron,
.dxeTBHSys .dxeTBIncBtn_BudwayDirectMarron
{
	top: 3px;
}

.dxeHelpText_BudwayDirectMarron,
.dxeTBValueToolTip_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
}
div.dxeHelpText_BudwayDirectMarron,
.dxeTBValueToolTip_BudwayDirectMarron
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #6A0623;
    color: White;
    background: #BD3464;
}
td.dxeHelpText_BudwayDirectMarron {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_BudwayDirectMarron span {
    font-size: 0.91em;
}
td.dxeHelpText_BudwayDirectMarron.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_BudwayDirectMarron.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_BudwayDirectMarron
{
    outline: 1px dotted #d86f96;
}
.dxeIRadioButton_BudwayDirectMarron
{
}
.dxlpLoadingPanel_BudwayDirectMarron,
.dxlpLoadingPanelWithContent_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #767676;
	background-color: #f6f6f6;
	border: 1px solid #898989;
}
.dxlpLoadingPanel_BudwayDirectMarron td.dx,
.dxlpLoadingPanelWithContent_BudwayDirectMarron td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 6px;
}
.dxcaLoadingPanel_BudwayDirectMarron .dxlp-loadingImage,
.dxlpLoadingPanel_BudwayDirectMarron .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_BudwayDirectMarron .dxlp-loadingImage,
.dxeImage_BudwayDirectMarron.dxe-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 18px;
	width: 18px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_BudwayDirectMarron
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BudwayDirectMarron
{
    background-color: transparent!important;
    font-size: 0!important;
    border: none!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BudwayDirectMarron td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BudwayDirectMarron td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_BudwayDirectMarron td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
    margin: 0px!important;
}

.dxeBase_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrame_BudwayDirectMarron
{
}
.dxeErrorFrameWithoutError_BudwayDirectMarron
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_BudwayDirectMarron .dxeControlsCell_BudwayDirectMarron,
.dxeErrorFrameWithoutError_BudwayDirectMarron.dxeControlsCell_BudwayDirectMarron
{
	padding: 2px;
}
.dxeEditArea_BudwayDirectMarron
{
	border: 1px solid #A0A0A0;
}
body input.dxeEditArea_BudwayDirectMarron /*Bootstrap correction*/
{
    color: black;
}

/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_BudwayDirectMarron
{
    height: 36px;
}
.dxeBinaryImageButton_BudwayDirectMarron
{
    margin: 0 6px;
}

/* -- Buttons -- */
.dxeButtonEditButton_BudwayDirectMarron,
.dxeCalendarButton_BudwayDirectMarron,
.dxeSpinIncButton_BudwayDirectMarron,
.dxeSpinDecButton_BudwayDirectMarron,
.dxeSpinLargeIncButton_BudwayDirectMarron,
.dxeSpinLargeDecButton_BudwayDirectMarron,
.dxeColorEditButton_BudwayDirectMarron
{
	vertical-align: Middle;
	color: White;
	border: 1px Solid #660000;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_BudwayDirectMarron,
.dxeSpinIncButton_BudwayDirectMarron,
.dxeSpinDecButton_BudwayDirectMarron,
.dxeSpinLargeIncButton_BudwayDirectMarron,
.dxeSpinLargeDecButton_BudwayDirectMarron
{
	padding: 0px 2px;
	background: #660000 url('edtDropDownBack.gif') repeat-x top;
}
.dxeSpinIncButton_BudwayDirectMarron,
.dxeSpinDecButton_BudwayDirectMarron
{
	padding: 0px 4px;
}
.dxeSpinLargeIncButton_BudwayDirectMarron,
.dxeSpinLargeDecButton_BudwayDirectMarron
{
	padding: 0px 3px;
}
.dxeSpinIncButton_BudwayDirectMarron
{
	background: #BD3464 url('edtSpinIncBtnBack.gif') repeat-x top;
	border-bottom: 0;
}
.dxeSpinDecButton_BudwayDirectMarron
{
	background: #E85E8E url('edtSpinDecBtnBack.gif') repeat-x top;
}
.dxeCalendarButton_BudwayDirectMarron,
.dxeColorEditButton_BudwayDirectMarron
{
	color: #FFFFFF;
	cursor: default;
	vertical-align: middle;
	border: 1px solid #8A0A37;
	background: #F0749F url('edtButtonBack.gif') repeat-x top;
	padding: 3px 11px 4px;
	min-width: 37px;
}

.dxeButtonEditButton_BudwayDirectMarron.dxeButtonEditClearButton_BudwayDirectMarron,
.dxeButtonEditButton_BudwayDirectMarron.dxeButtonEditClearButton_BudwayDirectMarron:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_BudwayDirectMarron img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_BudwayDirectMarron,
.dxeColorEditButton_BudwayDirectMarron:active
{
	background: #BD71B9 url('edtButtonPressedBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
}
.dxeButtonEditButtonPressed_BudwayDirectMarron,
.dxeSpinIncButtonPressed_BudwayDirectMarron,
.dxeSpinDecButtonPressed_BudwayDirectMarron,
.dxeSpinLargeIncButtonPressed_BudwayDirectMarron, 
.dxeSpinLargeDecButtonPressed_BudwayDirectMarron
{
	background: #BD71B9 url('edtDropDownButtonPressedBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
}
.dxeSpinIncButtonPressed_BudwayDirectMarron
{
	background: #82407D url('edtSpinIncButtonPressedBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
	border-bottom: 0;
}
.dxeSpinDecButtonPressed_BudwayDirectMarron
{
	background: #AF60AB url('edtSpinDecButtonPressedBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
}
/* -- Hover -- */
.dxeButtonEditButtonHover_BudwayDirectMarron,
.dxeSpinIncButtonHover_BudwayDirectMarron,
.dxeSpinDecButtonHover_BudwayDirectMarron,
.dxeSpinLargeIncButtonHover_BudwayDirectMarron,
.dxeSpinLargeDecButtonHover_BudwayDirectMarron
{
	background: #CD8AC9 url('edtDropDownButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #660000;
}
.dxeSpinIncButtonHover_BudwayDirectMarron
{
	background: #AA63A6 url('edtSpinIncButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
	border-bottom: 0;
}
.dxeSpinDecButtonHover_BudwayDirectMarron
{
	background: #CD8AC9 url('edtSpinDecButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
}
.dxeCalendarButtonHover_BudwayDirectMarron,
.dxeColorEditButton_BudwayDirectMarron:hover
{
	background: #D69BD3 url('edtButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #6C2668;
}

.dxeButtonEdit_BudwayDirectMarron
{
	background-color: White;
	border: 1px Solid #660000;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxeButtonEdit_BudwayDirectMarron .dxeEditArea_BudwayDirectMarron
{
	background-color: White;
}
.dxeButtonEdit_BudwayDirectMarron .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_BudwayDirectMarron
{
	background-color: White;
	border: 1px Solid #660000;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxeTextBox_BudwayDirectMarron .dxeEditArea_BudwayDirectMarron
{
	background-color: White;
}
.dxeRadioButtonList_BudwayDirectMarron,
.dxeCheckBoxList_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxeCheckBoxList_BudwayDirectMarron .dxe > table,
.dxeRadioButtonList_BudwayDirectMarron .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_BudwayDirectMarron,
.dxeCheckBoxList_BudwayDirectMarron
{
	border: 1px Solid #BC758E;
}
.dxeRadioButtonList_BudwayDirectMarron td.dxe,
.dxeCheckBoxList_BudwayDirectMarron td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_BudwayDirectMarron[dir='rtl'] td.dxe,
.dxeCheckBoxList_BudwayDirectMarron[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* -- Memo -- */
.dxeMemo_BudwayDirectMarron
{
	background-color: White;
	border: 1px Solid #BC758E;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxeMemoEditArea_BudwayDirectMarron
{
	background-color: White;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #660000;
}
a:hover.dxeHyperlink_BudwayDirectMarron
{
	color: #BE458B;
}
a:visited.dxeHyperlink_BudwayDirectMarron
{
	color: #928489;
}
/* -- ListBox -- */
.dxeListBox_BudwayDirectMarron
{
	color: Black;
	background-color: White;
	border: 1px Solid #8A0A37;
	font: 12px Tahoma, Geneva, sans-serif;
	height: 113px;
	width: 70px;
	color: Black;
}
.dxeListBox_BudwayDirectMarron div.dxlbd
{
	padding-top: 1px;
	height: 112px;
}
.dxeListBoxItemRow_BudwayDirectMarron
{
	cursor: default;
}
.dxeListBoxItem_BudwayDirectMarron
{
	border-bottom: 1px Solid #FFFFFF;
	border-left: 1px Solid #FFFFFF;
	border-right: 1px Solid #FFFFFF;
	padding: 3px 2px 4px 4px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_BudwayDirectMarron em
{
	background: #DBBBDA none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBox_BudwayDirectMarron td.dxeI,
.dxeListBox_BudwayDirectMarron td.dxeIM,
.dxeListBox_BudwayDirectMarron .dxeHIC,
.dxeListBox_BudwayDirectMarron td.dxeFTM,
.dxeListBox_BudwayDirectMarron td.dxeTM,
.dxeListBox_BudwayDirectMarron td.dxeC,
.dxeListBox_BudwayDirectMarron td.dxeCM,
.dxeListBox_BudwayDirectMarron td.dxeHCC,
.dxeListBox_BudwayDirectMarron td.dxeMI,
.dxeListBox_BudwayDirectMarron td.dxeMIM
{
	border-right-width: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeIR,
.dxeListBox_BudwayDirectMarron td.dxeIMR,
.dxeListBox_BudwayDirectMarron .dxeHICR,
.dxeListBox_BudwayDirectMarron td.dxeFTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR,
.dxeListBox_BudwayDirectMarron td.dxeCR,
.dxeListBox_BudwayDirectMarron td.dxeCMR,
.dxeListBox_BudwayDirectMarron td.dxeHCCR,
.dxeListBox_BudwayDirectMarron td.dxeMIR,
.dxeListBox_BudwayDirectMarron td.dxeMIMR
{
	border-left-width: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeCM,
.dxeListBox_BudwayDirectMarron td.dxeHCC,
.dxeListBox_BudwayDirectMarron td.dxeCMR,
.dxeListBox_BudwayDirectMarron td.dxeHCCR
{
	width: 31px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dxeListBox_BudwayDirectMarron td.dxeIM,
.dxeListBox_BudwayDirectMarron td.dxeIMR
{
	width: 0;
}
.dxeListBox_BudwayDirectMarron td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_BudwayDirectMarron td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_BudwayDirectMarron td.dxeC > span,
.dxeListBox_BudwayDirectMarron td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_BudwayDirectMarron td.dxeCR > span,
.dxeListBox_BudwayDirectMarron td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_BudwayDirectMarron td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeT,
.dxeListBox_BudwayDirectMarron td.dxeMI
{
	border-left-width: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeTR,
.dxeListBox_BudwayDirectMarron td.dxeMIR
{
	border-right-width: 0!important;
}
.dxeListBox_BudwayDirectMarron td.dxeFTM,
.dxeListBox_BudwayDirectMarron td.dxeTM,
.dxeListBox_BudwayDirectMarron td.dxeLTM,
.dxeListBox_BudwayDirectMarron .dxeHFC,
.dxeListBox_BudwayDirectMarron .dxeHC,
.dxeListBox_BudwayDirectMarron .dxeHLC,
.dxeListBox_BudwayDirectMarron td.dxeFTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR,
.dxeListBox_BudwayDirectMarron td.dxeLTMR,
.dxeListBox_BudwayDirectMarron .dxeHFCR,
.dxeListBox_BudwayDirectMarron .dxeHCR,
.dxeListBox_BudwayDirectMarron .dxeHLCR
{
	overflow: hidden;
}
.dxeListBox_BudwayDirectMarron td.dxeFTM,
.dxeListBox_BudwayDirectMarron td.dxeTM, 
.dxeListBox_BudwayDirectMarron .dxeHFC,
.dxeListBox_BudwayDirectMarron .dxeHC
{
	padding-right: 6px!important;
}
.dxeListBox_BudwayDirectMarron td.dxeFTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR, 
.dxeListBox_BudwayDirectMarron .dxeHFCR,
.dxeListBox_BudwayDirectMarron .dxeHCR
{
	padding-left: 6px!important;
}
.dxeListBox_BudwayDirectMarron td.dxeLTM,
.dxeListBox_BudwayDirectMarron td.dxeTM, 
.dxeListBox_BudwayDirectMarron .dxeHC,
.dxeListBox_BudwayDirectMarron .dxeHLC
{
	padding-left: 6px!important;
}
.dxeListBox_BudwayDirectMarron td.dxeLTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR, 
.dxeListBox_BudwayDirectMarron .dxeHCR,
.dxeListBox_BudwayDirectMarron .dxeHLCR
{
	padding-right: 6px!important;
}
/*Grid lines*/
.dxeListBox_BudwayDirectMarron td.dxeLTM,
.dxeListBox_BudwayDirectMarron td.dxeTM,
.dxeListBox_BudwayDirectMarron td.dxeMIM
{
	border-left: 1px solid #D5D5D5!important;
}
.dxeListBox_BudwayDirectMarron td.dxeLTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR,
.dxeListBox_BudwayDirectMarron td.dxeMIMR
{
	border-right: 1px solid #D5D5D5!important;
}
.dxeListBox_BudwayDirectMarron td.dxeIM,
.dxeListBox_BudwayDirectMarron td.dxeFTM,
.dxeListBox_BudwayDirectMarron td.dxeTM,
.dxeListBox_BudwayDirectMarron td.dxeLTM,
.dxeListBox_BudwayDirectMarron td.dxeCM,
.dxeListBox_BudwayDirectMarron td.dxeMIM,
.dxeListBox_BudwayDirectMarron td.dxeIMR,
.dxeListBox_BudwayDirectMarron td.dxeFTMR,
.dxeListBox_BudwayDirectMarron td.dxeTMR,
.dxeListBox_BudwayDirectMarron td.dxeLTMR,
.dxeListBox_BudwayDirectMarron td.dxeCMR,
.dxeListBox_BudwayDirectMarron td.dxeMIMR
{
	border-bottom: 1px solid #D5D5D5;
}
.dxeListBoxItemSelected_BudwayDirectMarron     
{
	color: White;
	background-color: #660000;
}
.dxeListBoxItemHover_BudwayDirectMarron        
{
	background-color: #DD0000;
	color: Black;
}
.dxeListBoxItemHover_BudwayDirectMarron em,
.dxeListBoxItemSelected_BudwayDirectMarron em
{
	background-image: none;
}
/*Header*/
.dxeListBox_BudwayDirectMarron .dxeHD
{
	background: #F27AA4 url('lbHeaderBackground.gif') repeat-x top center;
	border-bottom: 1px solid #8A0A37;
}
.dxeListBox_BudwayDirectMarron .dxeHFC,
.dxeListBox_BudwayDirectMarron .dxeHIC,
.dxeListBox_BudwayDirectMarron .dxeHC,
.dxeListBox_BudwayDirectMarron .dxeHLC,
.dxeListBox_BudwayDirectMarron td.dxeHCC,
.dxeListBox_BudwayDirectMarron td.dxeHMIC,
.dxeListBox_BudwayDirectMarron .dxeHFCR,
.dxeListBox_BudwayDirectMarron .dxeHICR,
.dxeListBox_BudwayDirectMarron .dxeHCR,
.dxeListBox_BudwayDirectMarron .dxeHLCR,
.dxeListBox_BudwayDirectMarron td.dxeHCCR,
.dxeListBox_BudwayDirectMarron td.dxeHMICR
{
	padding-top: 5px;
	padding-bottom: 5px;
	color: White;
	border-bottom-width: 0;
}
.dxeListBox_BudwayDirectMarron .dxeHC,
.dxeListBox_BudwayDirectMarron .dxeHLC,
.dxeListBox_BudwayDirectMarron td.dxeHMIC
{
	border-left: 1px solid #8A0A37;
}
.dxeListBox_BudwayDirectMarron .dxeHCR,
.dxeListBox_BudwayDirectMarron .dxeHLCR,
.dxeListBox_BudwayDirectMarron td.dxeHMICR
{
	border-right: 1px solid #8A0A37;
	text-align: right;
}
.dxeListBox_BudwayDirectMarron .dxeHIC,
.dxeListBox_BudwayDirectMarron .dxeHFC,
.dxeListBox_BudwayDirectMarron .dxeHCC
{
	border-left: 1px solid #F27AA4;
}
.dxeListBox_BudwayDirectMarron .dxeHICR,
.dxeListBox_BudwayDirectMarron .dxeHFCR,
.dxeListBox_BudwayDirectMarron .dxeHCCR
{
	border-right: 1px solid #F27AA4;
	text-align: right;
}
.dxeListBox_BudwayDirectMarron .dxeHFC,
.dxeListBox_BudwayDirectMarron .dxeHC,
.dxeListBox_BudwayDirectMarron .dxeHMIC
{
	border-right-width: 0;
}
.dxeListBox_BudwayDirectMarron .dxeHFCR,
.dxeListBox_BudwayDirectMarron .dxeHCR,
.dxeListBox_BudwayDirectMarron .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}
.dxeListBox_BudwayDirectMarron .dxeHLC
{
	border-right: 1px solid #8A0A37;
}
.dxeListBox_BudwayDirectMarron .dxeHLCR
{
	border-left: 1px solid #8A0A37;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_BudwayDirectMarron
{
	border: 1px solid #8a0a37;
	background-color: #ffffff;
    font: 12px Tahoma, Geneva, sans-serif;
	font-weight: normal;
}
.dxeCalendar_BudwayDirectMarron td.dxMonthGrid
{
	padding: 3px 22px 6px 21px;
	cursor: default;
}
.dxeCalendar_BudwayDirectMarron td.dxMonthGridWithWeekNumbers
{
	padding: 3px 19px 6px 7px;
	cursor: default;
}
.dxeCalendar_BudwayDirectMarron td.dxMonthGridWithWeekNumbersRtl
{
	padding: 3px 7px 6px 19px;
	cursor: default;
}
.dxeCalendarDayHeader_BudwayDirectMarron
{
	padding: 3px 5px 6px 6px;
	border-bottom: 1px solid #cfcfcf;
}
.dxeCalendarWeekNumber_BudwayDirectMarron
{
	font-size: 0.75em;
	text-align: right;
	color: #bfbfbf;
	padding: 3px 3px 2px 4px;
}
.dxeCalendarDay_BudwayDirectMarron
{
	color: #000000;
	text-align: center;
	padding: 3px 7px 4px;
}
.dxeCalendarWeekend_BudwayDirectMarron        
{
	color: #c00000;
}
.dxeCalendarOtherMonth_BudwayDirectMarron     
{
	color: #888;
}
.dxeCalendarOutOfRange_BudwayDirectMarron     
{
	color: #d0d0d0;
}
.dxeCalendarDayDisabled_BudwayDirectMarron {
	background-color: #fdfbfc;
	color: #edebec!important;
}
.dxeCalendarToday_BudwayDirectMarron         
{
	border: 1px solid #8a0a37;
    padding: 2px 6px 3px;
}
.dxeCalendarSelected_BudwayDirectMarron       
{
	color: #ffffff;
	background-color: #660000;
}
.dxeDayInRange.dxeCalendarSelected_BudwayDirectMarron
{
    background-color: #ebc8ea;
}
.dxeCalendarHeader_BudwayDirectMarron
{
	color: #ffffff;
	background: #f27ba6 url('edtCalendarHeaderBack.gif') repeat-x top;
	border-bottom: 1px solid #bd5077;
	padding: 3px;
}
.dxeCalendarHeader_BudwayDirectMarron td.dxe
{
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_BudwayDirectMarron .dxeCHS
{
    min-width: 1px;
}
.dxeCalendarFooter_BudwayDirectMarron
{
	background-color: #fddcc6;
	padding: 10px 0px;
	border-top: 1px solid #cb9fb4;
}
.dxeCalendarFooter_BudwayDirectMarron .dxeCFS
{
    min-width: 17px;
}
.dxeCalendarFastNav_BudwayDirectMarron
{
	color: #000000;
	background: #FFFFFF none;
	border-top: 1px Solid #8A0A37;
	border-right: 1px Solid #8A0A37;
	border-bottom: 0px Solid #8A0A37;
	border-left: 1px Solid #8A0A37;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_BudwayDirectMarron
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_BudwayDirectMarron
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_BudwayDirectMarron
{
	color: #000000;
	background-color: #fddcc6;
	padding: 8px 0px;
	border-right: 1px Solid #660000;
	border-bottom: 1px Solid #660000;
	border-left: 1px Solid #660000;
	border-top: 1px Solid #DDDDDD;
}
.dxeCalendarFastNavFooter_BudwayDirectMarron .dxeCFNFS
{
    min-width: 17px;
}
.dxeCalendarFastNavMonth_BudwayDirectMarron,
.dxeCalendarFastNavYear_BudwayDirectMarron
{
	color: #000000;
	padding: 3px 4px;
	text-align: center;
	cursor: pointer;
	border: 1px Solid White;
}
.dxeCalendarFastNavMonth_BudwayDirectMarron
{
	padding: 5px;
}
.dxeCalendarFastNavMonthSelected_BudwayDirectMarron,
.dxeCalendarFastNavYearSelected_BudwayDirectMarron
{
	color: #FFFFFF;
	background-color: #660000;
	border: 1px Solid White;
}

.dxeCalendarFastNavMonthHover_BudwayDirectMarron,
.dxeCalendarFastNavYearHover_BudwayDirectMarron
{
	color: #FFFFFF;
	background: #D69BD3 none;
	padding: 2px 4px;
	border: 1px Solid White;
}
.dxeCalendarFastNavMonthHover_BudwayDirectMarron
{
	padding: 5px;
}

.dxeDateEditTimeEditCell_BudwayDirectMarron
{
    padding: 4px 22px 9px;
    width: 100px;
}
.dxeDateEditClockCell_BudwayDirectMarron
{
    padding: 5px 8px 0;
}
.dxeCalendarFooter_BudwayDirectMarron.dxeDETSF
{
    padding-left: 10px;
    padding-right: 10px;
}
/* Disabled */
.dxeDisabled_BudwayDirectMarron,
.dxeDisabled_BudwayDirectMarron td.dxe
{
	color: #660000;
	cursor: default;
}
.dxeEditArea_BudwayDirectMarron.dxeDisabled_BudwayDirectMarron /*Bootstrap correction*/
{
    color: #bcaab0;
}
a.dxeDisabled_BudwayDirectMarron, a.dxeDisabled_BudwayDirectMarron:hover
{
	color: #bcaab0;
}
.dxeButtonDisabled_BudwayDirectMarron
{
	background: #ccbac0 url('edtDropDownBackDis.gif') repeat-x center top;
	color: #dad1d4;
	border-color: #928187;
	cursor: default;
}
/* -- Button -- */
.dxbButton_BudwayDirectMarron
{
	color: #FFFFFF;
	font: 12px Tahoma,Geneva,sans-serif;
	border: 1px solid #ec7266;
	background: #e7ad97 url('edtButtonBack.gif') repeat-x top;
	padding: 1px;
}
.dxbButtonHover_BudwayDirectMarron
{
	color: #FFFFFF;
	background: #e7ad97 url('edtButtonHoverBack.gif') repeat-x top;
	border: 1px solid #e7ad97;
}
.dxbButtonChecked_BudwayDirectMarron
{
	color: #FFFFFF;
	background: #e7ad97 url('edtButtonCheckedBack.gif') repeat-x top;
	border: 1px solid #e7ad97;
}
.dxbButtonPressed_BudwayDirectMarron
{
	color: #FFFFFF;
	background: #e7ad97 url('edtButtonPressedBack.gif') repeat-x top;
	border: 1px solid #e7ad97;
}
.dxbButton_BudwayDirectMarron div.dxb
{
	padding: 2px 10px 3px;
	border-width: 0px;
}
.dxbButton_BudwayDirectMarron div.dxbf
{
	padding: 1px 9px 2px;
	border: 1px dotted #e7ad97;
}
/* Button Link */
a.dxbButton_BudwayDirectMarron
{
    color: #8A0A37;
    text-decoration: underline;
}
a.dxbButton_BudwayDirectMarron:hover
{
	color: #BE458B;
}
a.dxbButton_BudwayDirectMarron:visited
{
	color: #928489;
}
/* Disabled */
.dxbDisabled_BudwayDirectMarron

{
	background: #e7ad97 url('edtButtonBackDis.gif') repeat-x top;
	border-color: #e7ad97;
	color: White;
}
.dxbDisabled_BudwayDirectMarron,
a.dxbButton_BudwayDirectMarron.dxbDisabled_BudwayDirectMarron
{
    color: #bcaab0;
	cursor: default;
    text-decoration: none;
}

/* -- FilterControl -- */
.dxfcControl_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Black;
	padding: 0 1em;
}
.dxfcTable_BudwayDirectMarron
{
	border-collapse: separate!important;
}
.dxfcTable_BudwayDirectMarron td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_BudwayDirectMarron
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_BudwayDirectMarron
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_BudwayDirectMarron
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_BudwayDirectMarron
{
	white-space: nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_BudwayDirectMarron
{
	cursor: pointer;
}

.dxeMaskHint_BudwayDirectMarron
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px Tahoma, Geneva, sans-serif;
}

.dxfcControl_BudwayDirectMarron ul.dxfc-tree,
.dxfcControl_BudwayDirectMarron .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_BudwayDirectMarron .dxfc-tree
{
    width: 100%;
}

.dxfcControl_BudwayDirectMarron .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_BudwayDirectMarron .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_BudwayDirectMarron .dxfc-elb
{
    background: url('fcElbow.gif') no-repeat;
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
    margin-right: 0.3em;
}

.dxfcControl_BudwayDirectMarron .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_BudwayDirectMarron .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > a,
.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > span,
.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > img,
.dxfcControl_BudwayDirectMarron .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > a,
.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > td,
.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_BudwayDirectMarron .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_BudwayDirectMarron .dxfc-ln
{
    background: url('fcLine.gif') repeat-y;
    vertical-align: top;
}

.dxfcControl_BudwayDirectMarron .dxfc-memo textarea 
{
	height: 80px;
	overflow: auto;
}

.dxfcControl_BudwayDirectMarron .dxfc-validationSummary
{
	padding: 2px 5px 4px 6px !important;
	list-style-type: none;
	margin: 0;
}

.dxfcControl_BudwayDirectMarron .dxfc-validationSummary li
{
	padding: 2px 0;
}

.dxfcControl_BudwayDirectMarron .dxfc-validationSummary li a
{
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}

.dxfcControl_BudwayDirectMarron .dxfc-validationSummary li a:hover
{
	color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_BudwayDirectMarron
{
	border: 1px Solid #8A0A37;
	background: #f7edf1 url('edtProgressBack.gif') repeat-x;
	font: 12px Tahoma, Geneva, sans-serif;
	color: #8a0a37;
    height: 25px;
}
.dxeProgressBar_BudwayDirectMarron .dxePBMainCell,
.dxeProgressBar_BudwayDirectMarron td.dxe
{
	padding: 0;
}
.dxeProgressBar_BudwayDirectMarron td.dxe
{
	background: url('edtProgressPositionBack.png') no-repeat 50% center;
}
.dxeProgressBarIndicator_BudwayDirectMarron
{
	background: #f275a1 url('edtProgressIndicatorBack.gif') repeat-x;
}

/* -- DropDownWindow -- */
.dxpcDropDown_BudwayDirectMarron,
.dxeDropDownWindow_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxeDropDownWindow_BudwayDirectMarron
{
	background-color: White;
	border: 1px Solid #BC758E;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_BudwayDirectMarron
{
	border: 1px solid #BC758E;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_BudwayDirectMarron
{
	color: #000000;
	background-color: #FFFFFF;
	border: 1px Solid #8A0A37;
}
.dxeColorTable_BudwayDirectMarron td.dx,
.dxeItemPicker_BudwayDirectMarron td.dx
{
	padding: 4px;
}
.dxeColorTableCell_BudwayDirectMarron,
.dxeItemPickerCell_BudwayDirectMarron,
.dxeACICell_BudwayDirectMarron
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_BudwayDirectMarron,
.dxeACICellDiv_BudwayDirectMarron
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_BudwayDirectMarron,
.dxeACICellSelected_BudwayDirectMarron
{
	padding: 2px!important;
	background-color: #CBCBCB;
	border: 1px solid #888888;
}
.dxeColorTableCellHover_BudwayDirectMarron,
.dxeItemPickerCellHover_BudwayDirectMarron,
.dxeAutomaticColorItemCellHover_BudwayDirectMarron,
.dxeAutomaticColorItem_BudwayDirectMarron:hover > div
{
	padding: 2px!important;
}
.dxeColorTableCellHover_BudwayDirectMarron,
.dxeAutomaticColorItemCellHover_BudwayDirectMarron,
.dxeAutomaticColorItem_BudwayDirectMarron:hover > div
{
	background-color: #F2F2F2;
	border: 1px solid #888888;
}
.dxeItemPickerCellHover_BudwayDirectMarron
{
	background: #DBBBDA none;
	border: 1px Solid #DBBBDA;
	color: #000000;
}

/* -- Invalid Style -- */
.dxeInvalid_BudwayDirectMarron
{
}
.dxeInvalid_BudwayDirectMarron .dxeEditArea_BudwayDirectMarron,
.dxeInvalid_BudwayDirectMarron .dxeMemoEditArea_BudwayDirectMarron
{
}

/* -- Focused Style -- */
.dxeFocused_BudwayDirectMarron
{
	border: 1px solid #b25050;
}

.dxeFocused_BudwayDirectMarron.dxeTrackBar_BudwayDirectMarron
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_BudwayDirectMarron .dxeEditArea_BudwayDirectMarron,
.dxeNullText_BudwayDirectMarron .dxeMemoEditArea_BudwayDirectMarron
{
	color: #bcaab0;
}

/* -- Captcha -- */
.dxcaControl_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
}

.dxcaRefreshButton_BudwayDirectMarron
{
	text-decoration: none;
	color: #8a0a37;
}

.dxcaDisabledRefreshButton_BudwayDirectMarron
{
	color: #bcaab0;
}

.dxcaRefreshButtonCell_BudwayDirectMarron
{
}

.dxcaRefreshButtonText_BudwayDirectMarron
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_BudwayDirectMarron
{
	text-decoration: none;
}

.dxcaTextBoxCell_BudwayDirectMarron,
.dxcaTextBoxCellNoIndent_BudwayDirectMarron
{
}

.dxcaTextBoxCellNoIndent_BudwayDirectMarron .dxeErrorCell_BudwayDirectMarron
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_BudwayDirectMarron
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_BudwayDirectMarron .dxlp-loadingImage
{
	margin: 0px;
}
.dxcaLoadingPanel_BudwayDirectMarron
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #767676;
}

.dxcaLoadingPanel_BudwayDirectMarron td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 6px;
}

.dxpcLite_BudwayDirectMarron .dxHFBPS
{
    width: 10px;
}

.dxeTextBox_BudwayDirectMarron,
.dxeButtonEdit_BudwayDirectMarron,
.dxeIRadioButton_BudwayDirectMarron,
.dxeRadioButtonList_BudwayDirectMarron,
.dxeCheckBoxList_BudwayDirectMarron
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_BudwayDirectMarron, 
.dxeIRadioButton_BudwayDirectMarron, 
.dxeButtonEdit_BudwayDirectMarron, 
.dxeTextBox_BudwayDirectMarron, 
.dxeRadioButtonList_BudwayDirectMarron, 
.dxeCheckBoxList_BudwayDirectMarron, 
.dxeMemo_BudwayDirectMarron, 
.dxeListBox_BudwayDirectMarron, 
.dxeCalendar_BudwayDirectMarron, 
.dxeColorTable_BudwayDirectMarron
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_BudwayDirectMarron
{
	float: right;
	margin-top: 40px;
}
.dxcpColorParameterMainDiv_BudwayDirectMarron
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_BudwayDirectMarron
{
    padding-top: 2px;
    padding-bottom: 2px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxeCustomColorButtonHover_BudwayDirectMarron
{
    background: #D69BD3 url('edtButtonHoverBack.gif') repeat-x top;
    border: 1px Solid #6C2668;
}
.dxeAutomaticColorItem_BudwayDirectMarron
{
    padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_BudwayDirectMarron > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_BudwayDirectMarron,
.dxcpSavedColor_BudwayDirectMarron
{
	height: 35px;
}
.dxcpCurrentAndSaved_BudwayDirectMarron
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_BudwayDirectMarron,
.dxeColorSelectorMainDiv_BudwayDirectMarron
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_BudwayDirectMarron
{
	padding: 7px;
}
.dxcpColorArea_BudwayDirectMarron,
.dxcpHueAreaImage_BudwayDirectMarron,
.dxcpCurrentAndSaved_BudwayDirectMarron,
.dxeColorTablesMainDiv_BudwayDirectMarron,
.dxeColorSelectorMainDiv_BudwayDirectMarron,
.dxcpParametersCell_BudwayDirectMarron input 
{
	border: 1px solid #BC758E;
}
.dxeButtonsPanelDiv_BudwayDirectMarron
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_BudwayDirectMarron input
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_BudwayDirectMarron[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	margin: 1px;
	padding: 1px;
}
.dxeToken_BudwayDirectMarron {
    border: 1px solid #8a0a37;
	border-radius: 2px;
    display: inline-block;
    color: #ffffff;
	float: left;
	min-width: 30px;
	margin-right: 1px;
	margin-bottom: 1px;
}
.dxeTokenText_BudwayDirectMarron, .dxeTokenRemoveButton_BudwayDirectMarron {
	display: block;
	float: left;
}
.dxeTokenText_BudwayDirectMarron {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 4px;
}
.dxeTokenRemoveButton_BudwayDirectMarron {
	cursor: pointer;
}
.dxeToken_BudwayDirectMarron {
	background: #e683a6 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxeButtonEdit_BudwayDirectMarron td.dxictb {
    padding-left: 0px;
}
.dxFirefox input.dxeTokenBoxInput_BudwayDirectMarron[type="text"] {
	padding: 0;
	margin: 1px;
}
.dxFirefox .dxeTokenText_BudwayDirectMarron {
	margin-top: -1px;
	margin-bottom: -1px;
}

/* ASPxPictureEdit */
.dxpePreviewContainer_BudwayDirectMarron
{
    position: relative;
}
.dxpeCommandPanel_BudwayDirectMarron
{
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_BudwayDirectMarron
{
    width: 100%;
    bottom: 0;
}

.dxpeTopCommandPanel_BudwayDirectMarron
{
    width: 100%;      
    top: 0;    
}
.dxpeCommandPanelDeleteButton_BudwayDirectMarron, 
.dxpeCommandPanelOpenDialogButton_BudwayDirectMarron
{    
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_BudwayDirectMarron
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_BudwayDirectMarron
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_BudwayDirectMarron
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_BudwayDirectMarron
{
    right: 0;
}
.dxpeCommandPanelDeleteButtonHover_BudwayDirectMarron,
.dxpeCommandPanelDeleteButtonPressed_BudwayDirectMarron,
.dxpeCommandPanelOpenDialogButtonHover_BudwayDirectMarron,
.dxpeCommandPanelOpenDialogButtonPressed_BudwayDirectMarron
{
}
.dxpeCommandPanelDeleteButtonDisabled_BudwayDirectMarron,
.dxpeCommandPanelOpenDialogButtonDisabled_BudwayDirectMarron
{
}
.dxpeDropZone_BudwayDirectMarron
{
    background-color: gray;
}
.dxpePlaceHolder_BudwayDirectMarron
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_BudwayDirectMarron
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_BudwayDirectMarron
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Editor caption */
.dxeCaptionCell_BudwayDirectMarron
{
    font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_BudwayDirectMarron
{
}
.dxeCaption_BudwayDirectMarron
{
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 5px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.dxFirefox .dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 5px;
}
.dxFirefox .dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 5px;
}
.dxWebKitFamily .dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 5px;
}
/* Safari */
.dxeCaptionCellSafariSys.dxeCaptionCell_BudwayDirectMarron.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 4px;
}

.dxeRequiredMark_BudwayDirectMarron {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_BudwayDirectMarron {
    color: gray;
    font-style: normal;
}

/* Out of range warning*/
.dxeOutOfRWarn_BudwayDirectMarron {
    font: 12px Tahoma, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_BudwayDirectMarron {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_BudwayDirectMarron {
    margin-top: 10px;
}
