/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_Office2003Blue
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel_Office2003Blue
{
	font: 12px Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxchartsuiLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

/* -- Crosshair -- */
.dxchartsuiCrosshairLabel_Office2003Blue,
.dxchartsuiCrosshairHLine_Office2003Blue,
.dxchartsuiCrosshairVLine_Office2003Blue
{
    background-color: #de39cd;
    position: absolute;
    z-index: 41998;
}

.dxchartsuiCrosshairLabel_Office2003Blue
{
    color: White;
	font: 11px Tahoma;
	padding: 1px 4px 1px 4px;
    white-space: nowrap;    
}

.dxchartsuiCrosshairHLine_Office2003Blue
{
    height: 1px;
}

.dxchartsuiCrosshairVLine_Office2003Blue
{
    width: 1px;
}

/* -- Tooltip -- */
.dxchartsuiTooltip_Office2003Blue,
.dxchartsuiTooltip_TopLeft_Office2003Blue,
.dxchartsuiTooltip_TopRight_Office2003Blue,
.dxchartsuiTooltip_BottomLeft_Office2003Blue,
.dxchartsuiTooltip_BottomRight_Office2003Blue
{
	font: 12px Tahoma;
    color: #201f35;
	color: #000000\9;
	background-color: White;
	border: 1px solid rgb(0, 45, 150);
	border: 1px solid rgba(0, 0, 0, 0.35);
	padding: 6px 10px 6px 10px;
	text-align: left;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow:    0px 2px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    box-shadow:         0px 2px 10px rgba(0, 0, 0, 0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}
.dxchartsuiTooltip_TopLeft_Office2003Blue:before,
.dxchartsuiTooltip_TopRight_Office2003Blue:before,
.dxchartsuiTooltip_BottomLeft_Office2003Blue:before,
.dxchartsuiTooltip_BottomRight_Office2003Blue:before,
.dxchartsuiTooltip_TopLeft_Office2003Blue:after,
.dxchartsuiTooltip_TopRight_Office2003Blue:after,
.dxchartsuiTooltip_BottomLeft_Office2003Blue:after,
.dxchartsuiTooltip_BottomRight_Office2003Blue:after
{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.dxchartsuiTooltip_TopLeft_Office2003Blue:before,
.dxchartsuiTooltip_TopRight_Office2003Blue:before,
.dxchartsuiTooltip_BottomLeft_Office2003Blue:before,
.dxchartsuiTooltip_BottomRight_Office2003Blue:before
{
    border-width: 10px 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dxchartsuiTooltip_TopLeft_Office2003Blue:after,
.dxchartsuiTooltip_TopRight_Office2003Blue:after,
.dxchartsuiTooltip_BottomLeft_Office2003Blue:after,
.dxchartsuiTooltip_BottomRight_Office2003Blue:after
{
    border-width: 8px 4px;
}
.dxchartsuiTooltip_TopLeft_Office2003Blue:before
{
    border-color: transparent transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35);
    top: -20px;
    left: 10px;
}
.dxchartsuiTooltip_TopLeft_Office2003Blue:after
{
    border-color: transparent transparent White White;
    top: -16px;
    left: 11px;
}
.dxchartsuiTooltip_TopRight_Office2003Blue:before
{
    border-color: transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent;
    top: -20px;
    right: 10px;
}
.dxchartsuiTooltip_TopRight_Office2003Blue:after
{
    border-color: transparent White White transparent;
    top: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomRight_Office2003Blue:before
{
    border-color: rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent transparent;
    bottom: -20px;
    right: 10px;
}
.dxchartsuiTooltip_BottomRight_Office2003Blue:after
{
    border-color: White White transparent transparent;
    bottom: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomLeft_Office2003Blue:before
{
    border-color: rgba(139, 139, 139, 0.35) transparent transparent rgba(139, 139, 139, 0.35);
    bottom: -20px;
    left: 10px;
}
.dxchartsuiTooltip_BottomLeft_Office2003Blue:after
{
    border-color: White transparent transparent White;
    bottom: -16px;
    left: 11px;
}
