.dx-acc-r .dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_CTNAttribute:before,
.dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before,
.dx-acc-r .dxPivotGrid_CTNDimension:before,
.dx-acc-r .dxPivotGrid_CTNFolderClosed:before,
.dx-acc-r .dxPivotGrid_CTNFolderOpen:before,
.dx-acc-r .dxPivotGrid_CTNHierarchy:before,
.dx-acc-r .dxPivotGrid_CTNKpi:before,
.dx-acc-r .dxPivotGrid_CTNMeasure:before,
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLDataAreaHeaders_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLFieldList_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLRowAreaHeaders_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLStackedDefault_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLStackedSideBySide_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_FLTopPanelOnly_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgCollapsedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDataHeaders_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDragArrowDown_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDragArrowLeft_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDragArrowRight_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDragArrowUp_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgDragHideField_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgExpandedButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgFilterButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgFilterButtonActive_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgFilterResizer_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgGroupSeparator_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgPrefilterButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgSortByColumn_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgSortDownButton_BudwayThemeFromMulberry:before,
.dx-acc-r .dxPivotGrid_pgSortUpButton_BudwayThemeFromMulberry:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_BudwayThemeFromMulberry:before

{
    left: -208px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_CTNAttribute:before

{
    left: -68px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before

{
    left: -102px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNDimension:before

{
    left: -119px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNFolderClosed:before

{
    left: -187px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNFolderOpen:before

{
    left: -153px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNHierarchy:before

{
    left: -51px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_CTNKpi:before

{
    left: -247px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_CTNMeasure:before

{
    left: -34px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_BudwayThemeFromMulberry:before

{
    left: -66px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLButton_BudwayThemeFromMulberry:before

{
    left: -204px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_BudwayThemeFromMulberry:before

{
    left: -85px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLDataAreaHeaders_BudwayThemeFromMulberry:before

{
    left: -170px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLFieldList_BudwayThemeFromMulberry:before

{
    left: -17px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_BudwayThemeFromMulberry:before

{
    left: -136px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLRowAreaHeaders_BudwayThemeFromMulberry:before

{
    left: 0px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_FLStackedDefault_BudwayThemeFromMulberry:before

{
    left: -99px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLStackedSideBySide_BudwayThemeFromMulberry:before

{
    left: -132px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_FLTopPanelOnly_BudwayThemeFromMulberry:before

{
    left: -33px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgCollapsedButton_BudwayThemeFromMulberry:before

{
    left: -247px;
    top: -17px;

}
.dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_BudwayThemeFromMulberry:before

{
    left: -188px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgDataHeaders_BudwayThemeFromMulberry:before

{
    left: -215px;
    top: -20px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowDown_BudwayThemeFromMulberry:before

{
    left: -171px;
    top: -23px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowLeft_BudwayThemeFromMulberry:before

{
    left: -205px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowRight_BudwayThemeFromMulberry:before

{
    left: -195px;
    top: -21px;

}
.dx-acc-r .dxPivotGrid_pgDragArrowUp_BudwayThemeFromMulberry:before

{
    left: -183px;
    top: -23px;

}
.dx-acc-r .dxPivotGrid_pgDragHideField_BudwayThemeFromMulberry:before

{
    left: -165px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgExpandedButton_BudwayThemeFromMulberry:before

{
    left: -263px;
    top: -17px;

}
.dx-acc-r .dxPivotGrid_pgFilterButton_BudwayThemeFromMulberry:before

{
    left: -221px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_pgFilterButtonActive_BudwayThemeFromMulberry:before

{
    left: -228px;
    top: -19px;

}
.dx-acc-r .dxPivotGrid_pgFilterResizer_BudwayThemeFromMulberry:before

{
    left: -228px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgGroupSeparator_BudwayThemeFromMulberry:before

{
    left: -165px;
    top: -31px;

}
.dx-acc-r .dxPivotGrid_pgPrefilterButton_BudwayThemeFromMulberry:before

{
    left: -264px;
    top: 0px;

}
.dx-acc-r .dxPivotGrid_pgSortByColumn_BudwayThemeFromMulberry:before

{
    left: -240px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_pgSortDownButton_BudwayThemeFromMulberry:before

{
    left: -256px;
    top: -33px;

}
.dx-acc-r .dxPivotGrid_pgSortUpButton_BudwayThemeFromMulberry:before

{
    left: -266px;
    top: -33px;

}
