.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass,
.dxEditors_fcadd_Glass,
.dxEditors_fcaddhot_Glass,
.dxEditors_fcremove_Glass,
.dxEditors_fcremovehot_Glass,
.dxEditors_fcgroupaddcondition_Glass,
.dxEditors_fcgroupaddgroup_Glass,
.dxEditors_fcgroupremove_Glass,
.dxEditors_fcopany_Glass,
.dxEditors_fcopbegin_Glass,
.dxEditors_fcopbetween_Glass,
.dxEditors_fcopcontain_Glass,
.dxEditors_fcopnotcontain_Glass,
.dxEditors_fcopnotequal_Glass,
.dxEditors_fcopend_Glass,
.dxEditors_fcopequal_Glass,
.dxEditors_fcopgreater_Glass,
.dxEditors_fcopgreaterorequal_Glass,
.dxEditors_fcopnotblank_Glass,
.dxEditors_fcopblank_Glass,
.dxEditors_fcopless_Glass,
.dxEditors_fcoplessorequal_Glass,
.dxEditors_fcoplike_Glass,
.dxEditors_fcopnotany_Glass,
.dxEditors_fcopnotbetween_Glass,
.dxEditors_fcopnotlike_Glass,
.dxEditors_fcgroupand_Glass,
.dxEditors_fcgroupor_Glass,
.dxEditors_fcgroupnotand_Glass,
.dxEditors_fcgroupnotor_Glass,
.dxEditors_caRefresh_Glass,
.dxEditors_edtRadioButtonChecked_Glass,
.dxEditors_edtRadioButtonUnchecked_Glass,
.dxEditors_edtRadioButtonCheckedDisabled_Glass,
.dxEditors_edtRadioButtonUncheckedDisabled_Glass,
.dxEditors_edtRadioButtonGrayedDisabled_Glass,
.dxEditors_edtTBDecBtn_Glass,
.dxEditors_edtTBIncBtn_Glass,
.dxEditors_edtTBMainDH_Glass,
.dxEditors_edtTBSecondaryDH_Glass,
.dxEditors_edtTBIncBtnDisabled_Glass,
.dxEditors_edtTBDecBtnDisabled_Glass,
.dxEditors_edtTBMainDHDisabled_Glass,
.dxEditors_edtTBSecondaryDHDisabled_Glass
{
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

/* TrackBar */
.dxEditors_edtTBDecBtn_Glass, .dxEditors_edtTBIncBtn_Glass,
.dxEditors_edtTBDecBtnHover_Glass, .dxEditors_edtTBIncBtnHover_Glass,
.dxEditors_edtTBDecBtnPressed_Glass, .dxEditors_edtTBIncBtnPressed_Glass,
.dxEditors_edtTBDecBtnDisabled_Glass, .dxEditors_edtTBIncBtnDisabled_Glass
{
	width: 16px;
	height: 16px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass,
.dxeTBHSys .dxEditors_edtTBMainDHHover_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass
{
	width: 13px;
	height: 26px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass,
.dxeTBVSys .dxEditors_edtTBMainDHHover_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass
{
	width: 26px;
	height: 13px;
}

.dxEditors_edtTBDecBtn_Glass
{
	background-position: 0px -190px;
}
.dxEditors_edtTBDecBtnHover_Glass
{
	background-position: -57px -190px;
}
.dxEditors_edtTBDecBtnPressed_Glass
{
	background-position: 0px -211px;
}
.dxEditors_edtTBDecBtnDisabled_Glass
{
	background-position: -57px -211px;
}

.dxEditors_edtTBIncBtn_Glass
{
	background-position: -29px -190px;
}
.dxEditors_edtTBIncBtnHover_Glass
{
	background-position: -85px -190px;
}
.dxEditors_edtTBIncBtnPressed_Glass
{ 
	background-position: -29px -211px;
}
.dxEditors_edtTBIncBtnDisabled_Glass
{ 
	background-position: -85px -211px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass
{
	background-position: 0px -156px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass
{
	background-position: -17px -156px;
}

.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	background-position: -34px -156px;
	z-index: 7;
}

.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass
{
	background-position: -52px -156px;
}

.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass,
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass
{
	background-position: -70px -156px;
}
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass,
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass
{
	background-position: -87px -156px;
}
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	background-position: -104px -156px;
}

.dxeTBVSys .dxEditors_edtTBMainDH_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass
{
	background-position: -133px -128px;
}

.dxeTBVSys .dxEditors_edtTBMainDHHover_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass
{
	background-position: -133px -144px;
}

.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	background-position: -133px -160px;
	z-index: 7;
}

.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass
{
	background-position: -133px -176px;
}

.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass,
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass
{
	background-position: -164px -128px;
}
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass,
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass
{
	background-position: -164px -144px;
}
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	background-position: -164px -160px;
}

/* RadioButton */
.dxEditors_edtRadioButtonChecked_Glass,
.dxEditors_edtRadioButtonUnchecked_Glass,
.dxEditors_edtRadioButtonCheckedDisabled_Glass,
.dxEditors_edtRadioButtonUncheckedDisabled_Glass,
.dxEditors_edtRadioButtonGrayedDisabled_Glass {
    width: 15px;
    height: 15px;
}

.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass
{
	display:block;
	margin:auto;
}

.dxEditors_edtRadioButtonUnchecked_Glass {
	background-position: 0px -46px; 
}
.dxEditors_edtRadioButtonChecked_Glass {
	background-position: -15px -46px; 
}
.dxEditors_edtRadioButtonUncheckedDisabled_Glass {
	background-position: -30px -46px; 
}
.dxEditors_edtRadioButtonCheckedDisabled_Glass {
	background-position: -45px -46px; 
}

.dxEditors_edtError_Glass {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_Glass {
    background-position: -76px 0px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarPrevYearDisabled_Glass {
    background-position: -76px -20px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonth_Glass {
    background-position: -42px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonthDisabled_Glass {
    background-position: -63px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonth_Glass {
    background-position: 0px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonthDisabled_Glass {
    background-position: -21px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextYear_Glass {
    background-position: -38px 0px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarNextYearDisabled_Glass {
    background-position: -38px -20px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarFNPrevYear_Glass {
    background-position: 0px 0px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarFNNextYear_Glass {
    background-position: 0px -20px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtEllipsis_Glass {
    background-position: -113px 0px;
    width: 12px;
    height: 6px;
}

.dxEditors_edtEllipsisDisabled_Glass {
    background-position: -113px -22px;
    width: 12px;
    height: 6px;
}

.dxEditors_edtDropDown_Glass {
    background-position: -102px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtDropDownDisabled_Glass {
    background-position: -102px -22px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditIncrementImage_Glass {
    background-position: -150px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_Glass {
    background-position: -150px -13px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditDecrementImage_Glass {
    background-position: -132px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_Glass {
    background-position: -132px -13px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditLargeIncImage_Glass {
    background-position: -145px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_Glass {
    background-position: -171px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImage_Glass {
    background-position: -132px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_Glass {
    background-position: -158px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_fcadd_Glass {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_Glass {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_Glass {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_Glass {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_Glass {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_Glass {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_Glass {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_Glass {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_Glass {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_Glass {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_Glass {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_Glass {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_Glass {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_Glass {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_Glass {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_Glass {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_Glass {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_Glass {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_Glass {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_Glass {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_Glass {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_Glass {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_Glass {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_Glass {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_Glass {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_Glass {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_Glass {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_Glass {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_Glass {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_Glass {
	background-position: -88px -130px;
    width: 13px;
    height: 13px;
}
